{% load static %}

<div class="chat_room_dialog chat-room-template">
    <div class="chat_room_header">
     <span>צאט</span>
     {% include 'general/components/svg/minimize.svg' %}
     {% include 'general/components/svg/maximize.svg' %}
    </div>


     <div class="chat-log" class="chat-log">
       <!--<div class="chat-row chat-row-reciver first-row-chat">
         <span class="reciever-name blood-clr"></span>
         <span class="chat-icon-user-body"><img class="reciever-avatar" src="" alt=""></span>
       </div>-->
     </div>


    <div class="chat-input">
        <div class="chat-input-svgs">
            <div class="chat-input-svgs-floor">

            </div>
            <div class="chat-input-svgs-floor">

            </div>
        </div>

        <div class="chat-input-txt">
          <span class="chat-icon-user"><img class="sender-avatar" src="" alt=""></span>
            <textarea type="text" class="txt-chat" maxlength="200" placeholder="רשום הודעה כאן">

            </textarea>

        </div>
        <div class="chat-dialog-footer">
          <div class="chat-send-btn-wrapper">
             <span class="chat-send-btn">שלח</span>
          </div>
        </div>

    </div>


    <script>
      function get_names_and_avatars_private_chat_ajax(to_username, callback)
      {
        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
           $.ajax({
                type: 'GET',
                url: "{% url 'chat:private-chat-users-details' %}",
                data: {

                      'csrfmiddlewaretoken': csrftoken,
                      'to_username':to_username,
               },
               dataType: 'json',
               success:callback,
               error: function (response) {
                   console.log(response);
               }
           });
      }
    </script>




    <script type="text/javascript" src="{% static 'chat/js/private_chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/js/reconnecting_websocket.js' %}"></script>

    <link rel="stylesheet" href="{% static 'chat/css/private_chat.css' %}">
    <input type="hidden" class="hid-is-chat-activated" value="false">
    <input type="hidden" class="room-name" value="privatechat">
    <input type="hidden" class="user-log-in-to-chat-dialog" value="">
    <input type="hidden" class="hid-chat-id" value="">



</div>
