.social-media-row
{
  width:100%;
  justify-content:flex-start;
  gap:20px !important;
  margin-right:112.5px;
}
#login-with-social-accounts-lbl
{
  font-size:1.5rem;
  margin-bottom:50px;


  font-family: formal3-bold;
  color:#17116b;
  opacity: 0.5;

}

.social-login-btn, .social-login-btn>a
{
  width: 60px;
  height: 60px;
  background-color: white;


  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
.social-login-btn
{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 10px;
}

.social-login-btn svg
{
  width: 80%;
  height: 80%;
}


.signfield
{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right:none;
  border-color:blue;
  text-align: center;
  height: 50px;
  font-size: 1.3rem;
  font-family: Lucida Sans Typewriter;
  line-height: 1.3rem;
  font-stretch: expanded;
  color:blue;
  font-weight: bold;
  width:300px;
  padding: 0;
  border-width: 5px;
}
.select-box.signfield
{
  height: 60px;
}
.ronny-style-field
{
  box-shadow: inset 0px 0px 10px blue;
  box-shadow: 0px 0px 10px blue;
  transition: 0.2s all;
}

.box-activate
{
    box-shadow: 0px 0px 20px rgb(255, 0, 0, 1);
}
.box-field
{
  background:var(--dark1, --dark2);
  width:60px;
  height: 60px;
  border-top-right-radius: 2px;
  border-bottom-right-radius:2px;
  box-shadow: inset 0 0 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-field>svg
{
  width:30px;
  height: 30px;
  fill:white;
}
.box-field.box-field-green>svg
{
  fill:#02e51c !important;
}
.box-field.box-field-orange>svg
{
  fill:#ff4300 !important;
}
.en
{
  text-align: left !important;
}
.error-msg
{
  align-self: center;
}
.signfieldcolumn
{
  display: flex;
  position: relative;
  direction: rtl;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signfieldrow
{
   display: flex;
   position: relative;
   direction: rtl;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   gap:0px;


}
.label
{
  font-family: formal3-bold;
  font-size: 1.2rem;
  width:170px;
}

.forget-password-link
{
  opacity:0.5;
  text-decoration:unset;
  font-size: 1rem;
  color:blue;
  font-family:sans-serif;
  filter: drop-shadow(1px 1px 5px black);
  transition: 0.2s all;
}
.forget-password-link:hover
{
  color:green;
}
