:root
{
  --snippet-h:100px;
  --snippet-w:200px;

  --status-rdbtn-size:15px;

  --shiny-green-online1:-webkit-linear-gradient(90deg, rgba(20,58,28,1) 0%, rgba(2,0,36,1) 0%, rgba(82,255,0,1) 0%, rgba(0,221,5,1) 21%, rgba(35,255,0,1) 67%, rgba(35,255,0,1) 100%);
  --shiny-green-online2:linear-gradient(90deg, rgba(20,58,28,1) 0%, rgba(2,0,36,1) 0%, rgba(82,255,0,1) 0%, rgba(0,221,5,1) 21%, rgba(35,255,0,1) 67%, rgba(35,255,0,1) 100%);


--shiny-red-offline1: -webkit-linear-gradient(90deg, rgba(35,39,36,1) 0%, rgba(2,0,36,1) 0%, rgba(248,8,37,0.7820378151260504) 0%, rgba(199,1,1,1) 0%, rgba(159,26,26,1) 0%, rgba(187,30,30,1) 11%, rgba(255,0,0,1) 69%, rgba(255,39,39,1) 100%);
--shiny-red-offline2: linear-gradient(90deg, rgba(35,39,36,1) 0%, rgba(2,0,36,1) 0%, rgba(248,8,37,0.7820378151260504) 0%, rgba(199,1,1,1) 0%, rgba(159,26,26,1) 0%, rgba(187,30,30,1) 11%, rgba(255,0,0,1) 69%, rgba(255,39,39,1) 100%);
}

.user-online-status-txt
{
   margin-top: -2px;
}

div.online-green-rdbtn, div.offline-red-rdbtn
{
  align-self: flex-start;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  gap:5px;
  align-items: flex-start;
  width:100%;
  margin-right: 2px;
  margin-top: 2px;
  font-family: formal3;
  font-size: 1em;
  color:#cecaca;
  min-height: 20px;
}
.snippet
{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;

}
#the_snippet
{
  position: absolute;
  display: flex;
  width: var(--snippet-w);
  height: var(--snippet-h);
  z-index: 50;
  background: white;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /*background-color: white;*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

span.online-green-rdbtn
{
   width: var(--status-rdbtn-size);
   height: var(--status-rdbtn-size);
   border-radius: 100%;
   background:var(--shiny-green-online1,--shiny-green-online2);
   position: relative;
}

span.offline-red-rdbtn
{
  width: var(--status-rdbtn-size);
  height: var(--status-rdbtn-size);
  border-radius: 100%;
  background:var(--shiny-red-offline1,--shiny-red-offline2);
  position: relative;
}

.snippet-txt-body
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:calc(100%  - var(--snippet-h));
}

.snippet-img-container
{
  width: var(--snippet-h);
  height: var(--snippet-h);

  border-radius: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#snippet-img
{
  width:50%;
  height:50%;
  border-radius: 100%;
}

.snippet-row
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  font-size: 1em;
  font-family: formal2;
  color:#6babf0;
  /*letter-spacing: 0.1em;*/
}

.snippet-key
{

}
.snippet-val
{

}
