
:root
{
  --chat-popup-width:400px;
  --chat-popup-min-height:100px;
  --chat-popup-max-height:500px;

  --chat-popup-height:440px;
  --log-height:300px;
  --chat-header-height:40px;
  --chat-footer-height:100px;
  --chat-text-input-height:38px;
  --chat-svg-floor-height:16px;
  --chat-btn-height:30px;

  --chat-log-gap:20px;

  --wine-chat-1:linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  --wine-chat-2:-webkit-linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

  --chat-row-white-1:linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --chat-row-white-2:-webkit-linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  $green: #1ECD97;
  $gray: #bbbbbb;

}


.chat_room_dialog
{
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:var(--chat-popup-width);

  max-height: var(--chat-popup-height);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: var(--chat-row-white-1, --chat-row-white-2);
  position: fixed;
  top: calc(var(--chat-popup-height) / 2);
  right:50%;
  direction: rtl;
  transform: translateX(50%);


}

.minimize_svg>svg:hover
{
  fill:black;
}
.maximize_svg
{
  display: none;
}

.chat_room_header
{
  width: 100%;
  min-height:var(--chat-header-height);
  height: var(--chat-header-height); /*30px*/
  display: flex;
  direction: rtl;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--wine-chat-1, --wine-chat-2);
  cursor: pointer;
  overflow:hidden;
  position: relative;
}

.minimize_svg, .maximize_svg
{
  top:calc((var(--chat-header-height) / 2) - 15px);
  left:0;
  position: absolute;
  cursor: pointer;
}

.close_chat_svg
{
  position: absolute;
  right:0;
  cursor: pointer;
  top:calc((var(--chat-header-height) / 2) - 12.5px);
}

.chat_room_header>span
{
  color:white;
  font-size: 1.5rem;
  font-family: formal3-bold;
}

.chat-dialog-footer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  height: var(--chat-btn-height);
  background-color: rgb(203 213 225);
  box-shadow: 0 4px 2px -2px gray;
  box-sizing: border-box;
  z-index: 100000;
/*padding-top: 5px;*/

}

.chat-log
{
  display: flex;
  flex-direction: column;
  width:100%;
  height: var(--log-height);
  background-color: rgb(248 250 252);
  box-shadow: 0 4px 2px -2px gray;
  justify-content: flex-start;
  align-items: stretch;
  gap:var(--chat-log-gap);
  overflow-y: scroll;
  padding-top: 5px;

}

.chat-row
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;


  position: relative;


  cursor: pointer;

}


.first-row-chat
{
  height: 100px !important;
}

.chat-row.row-reciever
{
  direction: ltr;


}

.bubble
{
  position: relative;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  /* top-left top-right bottom-right bottom-left */
  border-radius: 2vmin;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  max-width: 80%;
  align-self: center;

}
.reciver-bubble
{

  font-family: sans-serif;

  /*width: 300px;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,85,1) 0%, rgba(39,62,85,1) 0%, rgba(10,9,41,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,85,1) 0%, rgba(39,62,85,1) 0%, rgba(10,9,41,1) 100%);


  color: #ffffff;
}

.reciver-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 4px solid #fff;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  border-bottom: 2.8px solid transparent;
  left: 32px;
  bottom: -24px;
}
.sender-bubble
{

  font-family: sans-serif;

  /*width: 300px;*/

  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(25,25,85,1) 0%, rgba(179,211,255,1) 0%, rgba(87,208,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(25,25,85,1) 0%, rgba(179,211,255,1) 0%, rgba(87,208,255,1) 100%);


  color: 000000;
}

.sender-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 4px solid #fff;
  border-left: 2px solid transparent;
  border-top: 2px solid #fff;
  border-bottom: 2.8px solid transparent;
  left: 32px;
  bottom: -24px;
}


/*.chat-row-sender
{

  direction: rtl;
  font-size: 0.7rem;
  font-family: formal2;
  color:#36ff32;

}*/


.chat-input
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  height: var(--chat-footer-height);
}

.chat-input-svgs
{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.chat-input-svgs-floor
{
  display: flex;
  width:100%;
  justify-content: flex-start;
  flex-direction: row;
  height: var(--chat-svg-floor-height);
}

.chat-input-txt
{
  display: flex;
  flex-direction: row;
  direction: rtl;
  height: var(--chat-text-input-height);
  width:100%;
  color:#360e93;
  font-size:1rem;
  font-family: formal3-regular;
  background: white;
  position: relative;
}
.chat-icon-span
{
  position:absolute;
  width: 16px;
  height: 16px;
}

.chat-icon-user
{
  width: 25px;
  height: 100%;
  position:absolute;
  top:0;
  right:10px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-icon-user-body
{
  width: 50px;
  height: 50x;
  position:relative;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-icon-user img, .chat-icon-user-body img
{
  width: 30px;
  height: 30px;
  border-radius: 50%

}

.contact
{
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  top:-8px;

}

.txt-chat
{
   width: 100%;
   height: var(--chat-text-input-height);
   resize: none;

}
.txt-chat::placeholder
{
  text-align: center;
}
.chat-input-activate
{
  box-shadow: 0px 0px 20px rgb(255, 0, 0, 1);
}




.chat-send-btn-wrapper
{
  width: 80px;
  height: var(--chat-btn-height);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  background-color: #49ff5c;
  border-top-left-radius:5%;
  border-bottom-left-radius:5%;
  font-family: sans-serif;
  /*background-color: #81d4fa;*/
  font-weight: bold;

  align-self: flex-end;

}



.chat-send-btn-wrapper:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.chat-send-btn-wrapper:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-send-btn {

    color: white;
    text-align: center;

}

.reciever-name, .sender-name
{
  align-self: center;
  font-size: 0.7rem;
  font-family: formal2;
}
