.organ
{
  width:600px;
  position:relative !important;
  direction:rtl;
}
.ul-popup-3-dots
{
margin:0;
padding:0;
font-size:0.8rem;
line-height:5px;
opacity:0.8;
min-height:0;
width:100%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;

}
.ul-popup-3-dots>span
{
margin-top:1px;
padding:0;
border-radius:50%;
background-color:black;
height:4px;
width:4px;
margin-bottom:2px;
}
.com-edit-popup-item:hover::after
{
opacity:0.2;
}
.com-edit-popup-item:after
{
content:'';
position:absolute;
width:100%;
height:100%;
top:0;
right:0;
background-color:blue;
opacity:0;
/*z-index:-1;*/
transition: all 0.2s ease;

}

.com-ctl-popup
{
box-shadow:0 0 5px rgb(0, 38, 255, 0.5);
-webkit-box-shadow:0 0 5px rgb(0, 38, 255, 0.5);
background-color: white;
}
.popup-3-dots
{
border-radius:50%;
width:30px;
height:30px;
position:relative;
outline:0 solid rgba(8, 19, 219, 0.8);
transition: all 0.5s ease;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.popup-3-dots-after
{
content:'';
position:absolute;
border-radius:100%;
width:100%;
height:100%;
right:0;
top:0;
background-color:#487789;
opacity:0;
}
.com-edit-popup
{
display:none;
flex-direction:column;
justify-content: center;
align-items:flex-start;
/*left:0;*/
top:5px;
position:absolute;
cursor:pointer;
border-radius:5px;
}
/*.com-edit-popup, .com-edit-popup *
{
  z-index:100000;
}*/
.com-edit-popup-item
{
position:relative;
display:flex;
flex-direction:row;
align-items:flex-start;
justify-content:flex-start;
gap:10px;
padding-right:15px;
padding-left:50px;
margin-top:5px;
}
.deep-blue-90-clr
{
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
  background-image:var(--deep-blue-90);
}

.confirm-select-panel, .popup-msg-confirm-select-panel
{
  font-size:1.5rem;
  width:100%;
  position: absolute;
  bottom:0;
}
.popup-msg-msg
{
  width:100%;
  text-align: center;
  gap:20px;
}
.confirm-msg, .popup-msg-msg
{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.confirm-title, .popup-msg-title
{
  font-size:2rem;
  font-family:formal3-bold;
}
.confirm-body, .popup-msg-body
{
  font-size:1.5rem;
  font-family:formal3-regular;
}
#confirmation-box, #popup-msg
{
  width:300px;
  height:200px;
  position:fixed;
  top:50%;
  right:calc(50% - 150px);
  transform: translateY(-50%);
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: center;
  cursor:pointer;
  background-color: white;
  -webkit-box-shadow:0 0 10px black;
  box-shadow:0 0 10px black;
  z-index: 100;

}

#darken-screen
{
  content:'';
  position: fixed;
  top:0;
  right:0;
  width:100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 90;
}
#something-went-wrong
{
  color:red;
  font-size:0.8rem;
}

.last-update
{
  font-size:0.7rem !important;
  color:red;
  align-self: flex-end;
}
.last-update.last-update-small
{
  font-size:0.5rem !important;
  color:red;
}
