{%load static%}
<ul id="ulpages">
<li>
  <div class="column">

    <div class="deepredbg" style="width:100%;"><div class="subtitle2 txtcenter" style="color:white;">ראיון שלי ב OnlineTV חלק 1</div></div>


   <video style="max-width:100%;width:100%;cursor:pointer;" poster="{%static 'images/thumbs/online1.jpg'%}" class="noauto" controls>
     <source src="{{MEDIA_URL}}media/myvideos/aboutronnythenazi/onlinetv/part1.mp4" type="video/mp4">
   </video>
  </div>

</li>
<li>
  <div class="column">

    <div class="deepredbg" style="width:100%;"><div class="subtitle2 txtcenter" style="color:white;">ראיון שלי ב OnlineTV חלק 2</div></div>


   <video style="max-width:100%;width:100%;cursor:pointer;" poster="{%static 'images/thumbs/online2.jpg'%}" class="noauto" controls>
     <source src="{{MEDIA_URL}}media/myvideos/aboutronnythenazi/onlinetv/part2.mp4" type="video/mp4">
   </video>
  </div>
</li>
</ul>
