
<div class="confirmation-box-2023" style="display:none;">
  <div class="confirm-msg deep-blue-90-clr">
    <span class="confirm-title">{% block  confirmation_title%}{%endblock %}</span>

    <span class="confirm-body shiny-blue-clr">{% block  confirmation_body %}{% endblock %}</span>
  </div>
  <div class="super-tiny-row-center-align confirm-select-panel" style="justify-content:space-between;">
    <span  style="margin-right:5px;" class="bluish-clr confirm-cancel-2023">בטל</span>
    <span class="bluish-clr confirm-delete-2023" style="margin-left:5px;">מחק</span>
  </div>


  <div class="digalog-response-abort" style="display:none;">
    <input type="hidden" class="fname" value="">
    <input type="hidden" class="params" value="">
  </div>
  <div class="digalog-response-ok" style="display:none;">
    <input type="hidden" class="fname" value="">
    <input type="hidden" class="params" value="">
  </div>
</div>
