{%load static%}
<style type="text/css">
  .popupmenu>ul>li>button>ul>li
  {
    flex-direction:row;
    direction:rtl;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin-right:0px;

  }
  .popupmenu>ul>li>button>ul>li>span
  {
    margin-right:0px;
  }
  .popupmenu>ul
  {
     display:flex;
     flex-direction:column;
     align-items:stretch;
  }

  .submenuitemico
  {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:solid 3px;
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color:red;
    position:absolute;
    right:10px;
  }
</style>

<div class="upperpointer"></div>
<div class="popupmenu">



  <div class="menuitemtitlewarrper"><span class="menuitemtitle">&nbsp;</span></div>
 <ul>
   <li>
    <button type="submit" name="btnimomenajews">
    <ul>
      <li>
        <img class="submenuitemico" src="{%static 'images/ronny.jpg'%}" alt="">
        <span>דעתי על מזרחים</span>
      </li>
    </ul>
    </button>
    </li>

   <li>
    <button type="submit" name="btnmeonlinetv">
     <ul>
       <li>
         <img class="submenuitemico" src="{%static 'images/ronny.jpg'%}" alt="">
         <span>ראיון שלי בתקשורת בשידור חי</span>
      </li>

     </ul>
   </button>
     </li>

   <li>
    <button type="submit" name="btn12tv">
     <ul>
       <li>
         <img class="submenuitemico" src="{%static 'images/ronny.jpg'%}" alt="">
         <span>ערוץ 12 מזמן אותי לראיון</span>
       </li>
     </ul>
   </button>
   </li>

   <li>
    <button type="submit" name="btnwebsitedev">
     <ul>
       <li>
         <img class="submenuitemico" src="{%static 'images/ronny.jpg'%}" alt="">
         <span>כיצד הקמתי את האתר</span>
       </li>
     </ul>
   </button>
   </li>
 </ul>
<script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
</div>
