{%extends "base.html"%}
{%block title%}יהודונאציזם{%endblock%}
{%load static%}
{%csrf_token%}

{%block content%}
<div class="middle_section">
  <div class="hg1bgc" id = "hg1bgc">
    {%with "tableofcontent/titles/"|add:txtfilename as template%}
    {%include template%}
    {%endwith%}
  </div>
<div class="hg1middleimg">
 <img class="arnoldimg" src="{%static 'images/comewithmeifyouwanttolive.jpg'%}" alt="">-
</div>
<div class="judonazimlogorotate logoleft smallbg animated">
<img class= "judonazimlogorotate" src="{%static 'images/judonazimlogoglow.jpg'%}" alt="">
</div>
<div class="judonazimlogorotate logoright smallbg animated">
<img class= "judonazimlogorotate" src="{%static 'images/judonazimlogoglow.jpg'%}" alt="">
</div>

<h1 class="sloganh1">תהיו יותר גזענים אם אתם רוצים לחיות</h1>

<div class="hg1bottomleft">

</div>
<div class="hg1bottomright">

</div>
<div class="hg1bottomrmiddle">

</div>
<div class="bgtxtcover"></div>
<div class="maincontext">
  {%with "tableofcontent/txt/"|add:txtfilename as template%}
  {%include template%}
  {%endwith%}

  <div class="center">
  <ul id="ulnavpages">

  </ul>
  </div>
</div>

</div>
{%endblock%}

{%block additionalscripts%}
<script type="text/javascript" src="{%static 'js/videos.js'%}"></script>
<script type="text/javascript" src="{%static 'js/pagesnav.js'%}"> </script>
<script type="text/javascript" src="{%static 'js/effects.js'%}"> </script>
<script type="text/javascript" src="{%static 'js/txteffects.js'%}"> </script>
<script type="text/javascript" src="{%static 'js/pages/ooamyth.js'%}"></script>
{%endblock%}
