@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Suez+One&display=swap');
body
{
  direction:ltr;
  /*background-image: -webkit-radial-gradient(center,#000,#00f #0cf);
  background-image: -o-radial-gradient(center,#000000,#fff);
  background-image: radial-gradient(center,#000000,#fff);*/

}

.middle_section
{
  position: absolute;
  left: 200px;
  top:250px;
  display: grid;
  overflow: visible;
  grid-template-rows:repeat(6, 50px [row-start] ) [content] 600px [meinthemediatitle] 50px
  [meinthemediacontent] auto [slidehsaretitle] 100px [slideshare] auto;
  grid-template-columns: repeat(20, 50px [col-start]);
  /*background-color: yellow;*/
}
.judonazimlogorotate
{
  width: 100px;
  height: 100px;
  /*filter: drop-shadow(20px 20px 2px orange);*/
  z-index:1;
}
.logoleft
{
  grid-column: 4/6;
  grid-row: 2/4;
}
.logoright
{
  grid-column: 16/18;
  grid-row: 2/4;
}

.hg1bgc
{
  grid-row: 1/content;
  grid-column: 1/ 20;
  background-color: rgba(255, 201, 1, 0.2);
  z-index:3;
}
.arnoldimg
{
  height: 150px;
  width: 150px;
}
.hg1middleimg
{

   grid-row: 1/ span 3;
   grid-column: 9/span 3;
   z-index: 2;
   filter:saturate(100%);
}

.sloganh1
{
  /*font-size: 40px;*/
  font-size:50px;
  text-align: center;
  filter: brightness(100%);
  filter: drop-shadow(4px 4px 20px blue);
/*  background:-webkit-linear-gradient(90deg, #c40000, #f20aff, #faff0a);
  background:-o-linear-gradient(90deg, #c40000, #f20aff, #faff0a);
  background:linear-gradient(90deg, #c40000, #f20aff, #faff0a);*/
  background-image: url('../images/firestrong.gif');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
  grid-row: 2/6;
  grid-column: 6/16;
    /*background-color: rgba(255, 201, 1, 0.2);*/
}


.sub_list
{
  display: none;
  background-color: white;
  padding-top: 10px;
  position: relative;
  /*background-image:-webkit-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
  background-image:-0-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
  background-image:-ms-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
  background-image:-moz-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);*/
  /*background-image:-webkit-radial-gradient(#fff, #bcffff);
  background-image:-o-radial-gradient(#fff, #bcffff);
  background-image:-ms-radial-gradient(#fff, #bcffff);
  background-image:-moz-radial-gradient(#fff, #bcffff);*/
}
.sub_list>div
{
  text-align:center;
  margin-bottom:10px;
  font-size: 17px;
  color:#120FA7;
  font-weight: bolder;
  text-shadow:2px 2px 5px #ff6207;
  border-bottom: 3px grey solid;
  padding-bottom: 10px;

}
.sub_list div:hover
{
  /*background-image:-webkit-linear-gradient(#ffa73d, #fff64f);
  background-image:-moz-linear-gradient(#ffa73d, #fff64f);
  background-image:-o-linear-gradient(#ffa73d, #fff64f);
  background-image:-ms-linear-gradient(#ffa73d, #fff64f);*/
  color: white;

}
.shadow_line
{
  height: 2px;
  width: 80%;
  opacity: 0.5;
}
.subject_body_box
{
  position: relative;
  box-sizing: border-box;
}
.sub_subject_box
{
  box-sizing: border-box;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

}

.subject_body_box>div
{
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 0%;
  background-image:-webkit-linear-gradient(-45deg, #1a40ed, #ffff, #0da2dd);
  background-image:-moz-linear-gradient(-45deg, #1a40ed, #ffff, #0da2dd);
  background-image:-o-linear-gradient(-45deg, #1a40ed, #ffff, #0da2dd);
  background-image:-ms-linear-gradient(-45deg, #1a40ed, #ffff, #0da2dd);

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.subject_body_box div:not(.sub_list, .sub_list *, .shadow_line):hover
{
   background-image:-webkit-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
   background-image:-0-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
   background-image:-ms-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
   background-image:-moz-linear-gradient(45deg, #0eead4,#00d8ff, #ffffff);
}

.subject_body_box h4
{

  font-size: 20px;
  line-height:normal;
  color:black;
  text-shadow:5px 5px 10px #ff6207;
  margin-right: 15%;
  margin-top:0px;
  margin-bottom: 10px;
  font-family: 'Bellefair', serif;
  display: inline-block;
}
.subject
{
  position: relative;
  margin-bottom: 50px;
  width: 20%;
}

nav
{
  direction: rtl;
  position: relative;
  top:180px;
  padding-right: 40px;
  padding-bottom: 30px;
/*  padding-top: 100px;*/
}

.s1 h2
{
  margin-left: 64px;
}

.subject_header_box img
{
  float:right;
  padding-left: 40px;
  display: inline-block;
  position: relative;
  bottom: 10px;
  /*height: 30px;*/
}
.subject_header_box h2
{
  /*float: left;*/
  position: relative;
  /*left: 40px;*/
  color:white;
  overflow: visible;
  display: inline-block;
  bottom: 10px;
  height: 30px;
}


.sub_subject_box>.subject_icons
{
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top:25px;
  margin-right: 4px;
  z-index: 2;
}

.sub_subject_box>h4
{
  z-index: 1;
}
.subject_header_box
{
  position: relative;
  text-align: center;
  height: 50px;
  /*width: 250px;*/
  cursor:default;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #050538, #1915ef, #ffffff);
  background-image:-o-linear-gradient(-90deg, #050538, #1915ef, #ffffff);
  background-image:-ms-linear-gradient(-90deg, #050538, #1915ef, #ffffff);
  background-image:-moz-linear-gradient(-90deg, #050538, #1915ef, #ffffff);
}
