.small_white_line
{
  width: 50px;
  height: 5px;
  background-color: red;
  margin-top: 10px;
  display: block;
  filter:saturate(100%);
}

.small_white_line:hover
{
  background-color: white;
}

#menulogo3lineswhite
{
  position: absolute;
  left: 25px;
  padding-right: 25px;
  top: 52.5px;

}
