{%load static%}
<div id ="c_notifications_popup_mini" class="chat_notifications_popup ronny-notification-popup" style="display:none;">
   <div class="chat_notification_header">
     <span class="cnh_header_title">הודעות</span>
     <span class="geer"></span>
   </div>


   <div style="display:none;"  id="empty-notifications-chat" >
          <div class="bell-nothing-here">
                <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                <path d="M10 20h4c0 1.1-.9 2-2 2s-2-.9-2-2zm10-2.65V19H4v-1.65l2-1.88v-5.15C6 7.4 7.56 5.1 10 4.34v-.38c0-1.42 1.49-2.5 2.99-1.76.65.32 1.01 1.03 1.01 1.76v.39c2.44.75 4 3.06 4 5.98v5.15l2 1.87zm-1 .42-2-1.88v-5.47c0-2.47-1.19-4.36-3.13-5.1-1.26-.53-2.64-.5-3.84.03C8.15 6.11 7 7.99 7 10.42v5.47l-2 1.88V18h14v-.23z">
                </path>
                </svg>
          </div>
          <div class="lbl-nothing-here">
            כאן ההודעות שלך בזמן אמת
          </div>
   </div>





   <div class="chat_notification_items">

   </div>

<div id="chat-thumb" class="chat-thumb" style="display:none;">
 {% include 'general/components/svg/chat.svg' %}
</div>

   <div class="loadMoreArrow">
     <div style="display:none;" class="arrowDownHolder">{% include 'general/styles/animated_svgs/arrowDown.svg' %}</div>
     <div style="display:none;" class="spinnerHolder">{% include 'general/styles/animated_svgs/spinner.svg' %}</div>
     <link rel="stylesheet" href="{% static 'general/styles/animations/css/colors.css' %}">
     <link rel="stylesheet" href="{% static 'general/styles/animations/css/arrowDown.css' %}">
   </div>
</div>



<!-----------------------------------------  scripts ------------------------------------------------->
      <div class="chat-notifications-win" style="display:none;">


      <script type="text/javascript" src="{% static 'chat/js/chat_notifications.js' %}"></script>

      <script>
        function get_you_rooms_ajax(callback)
        {
          var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
             $.ajax({
                  type: 'GET',
                  url: "{% url 'chats:get_login_user_rooms' %}",
                  data: {

                        'csrfmiddlewaretoken': csrftoken,
                 },
                 dataType: 'json',
                 success:callback,
                 error: function (response) {
                     console.log(response);
                 }
             });
        }
      </script>

      


      <script>
        function fetchNextChatNotificationsAjax(numofNotifications, maxNotifications, callback)
        {
          var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
             $.ajax({
                  type: 'GET',
                  url: "{% url 'chats:fetchNextNotifications' %}",
                  data: {

                        'csrfmiddlewaretoken': csrftoken,
                        'numofNotifications' :numofNotifications,
                        'maxNotifications'   :maxNotifications,
                 },
                 dataType: 'json',
                 success:callback,
                 error: function (response) {
                     console.log(response);
                 }
             });
        }
      </script>

      <link rel="stylesheet" href="{% static 'chat/css/chat_notifications.css' %}">

      <!-- cn is acronym to Chat Notifications -->
      {% if user.is_authenticated %}
      <input type="hidden" id="curr-username-cn" value="{{user.username}}">
      <!--<input type="hidden" id="notifications-counter" value="0">-->
      {% endif %}

      </div>
