{% load static %}

<!--<div class="chat_room_dialog chat-room-template" draggable="true">-->
<div class="chat_room_dialog chat-room-template" class="ui-widget-content">
    <div class="chat_room_header">
     <span>צאט</span>
     <span class="minimize_svg">{% include 'general/components/svg/minimize.svg' %}</span>
     <span class="maximize_svg">{% include 'general/components/svg/maximize.svg' %}</span>
     <span class="close_chat_svg">{% include 'general/components/svg/close.svg' %}</span>
    </div>


     <div class="chat-log" class="chat-log">
       <div class="hourgalss" style="display:none;">
       {% include 'general/components/svg/hourglass.svg' %}
       </div>


       <!--<div class="chat-row chat-row-reciver first-row-chat">
         <span class="reciever-name blood-clr"></span>
         <span class="chat-icon-user-body"><img class="reciever-avatar" src="" alt=""></span>
       </div>-->
     </div>


    <div class="chat-input">
        <div class="chat-input-svgs">
            <div class="chat-input-svgs-floor">

            </div>
            <div class="chat-input-svgs-floor">

            </div>
        </div>

        <div class="chat-input-txt">
          <span class="chat-icon-user"><img class="sender-avatar" src="" alt=""></span>
            <textarea type="text" class="txt-chat" maxlength="1000" placeholder="רשום הודעה כאן">

            </textarea>

        </div>
        <div class="chat-dialog-footer">
          <div class="chat-send-btn-wrapper">
             <span class="chat-send-btn">שלח</span>
          </div>
        </div>

    </div>


    <script>
      function get_names_and_avatars_private_chat_ajax(to_username, callback)
      {
        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
           $.ajax({
                type: 'GET',
                url: "{% url 'chats:private-chat-users-details' %}",
                data: {

                      'csrfmiddlewaretoken': csrftoken,
                      'to_username':to_username,
               },
               dataType: 'json',
               success:callback,
               error: function (response) {
                   console.log(response);
               }
           });
      }
    </script>

    <script>
      function generate_private_room(from_username, to_username, callback)
      {
        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
           $.ajax({
                type: 'GET',
                url: "{% url 'chats:get-or-generate-chatid-for-personal-chat' %}",
                data: {

                      'csrfmiddlewaretoken': csrftoken,
                      'username_starter':from_username,
                      'username_reciever':to_username,
               },
               dataType: 'json',
               success:callback,
               error: function (response) {
                   console.log(response);
               }
           });
      }
    </script>




    <script type="text/javascript" src="{% static 'chat/js/private_chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/js/reconnecting_websocket.js' %}"></script>

    <link rel="stylesheet" href="{% static 'chat/css/private_chat.css' %}">
    <input type="hidden" class="hid-is-chat-activated" value="false">
    <input type="hidden" class="room-name" id="not-set" value="">
    <input type="hidden" class="user-log-in-to-chat-dialog" value="">
    <input type="hidden" class="hid-chat-id" value="">

    <audio style="display:none;" class="update_audio" controls>
        <source src="{% static 'general/audio/update.mp3' %}" type="audio/mp3">
    </audio>

    <audio style="display:none;" class="hide_audio" controls>
        <source src="{% static 'general/audio/hide_popup.mp3' %}" type="audio/mp3">
    </audio>

    <audio style="display:none;" class="press_audio" controls>
        <source src="{% static 'general/audio/press.mp3' %}" type="audio/mp3">
    </audio>
    <!--<input type="hidden" class="ws-url" value="">-->


</div>
