<!DOCTYPE html>


<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>  {%block title%} base pageי{%endblock%}</title>
    {% load static %}


  <!--<link  rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css'%}">-->
  <link  rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css'%}">
   <link rel="stylesheet" href="{% static 'css/homepage.css'%}">



  </head>

  <body>


  <div id="navbar">

    <div id="navcol1" class = "navbarcol">
      <div class="leftmostdiv">
     {%block bar%}
     {% include "menuicon.html" %}
     {%endblock%}
   </div>
    </div>
    <div id="navcol2" class = "navbarcol">
    <img src="{% static 'images/judonazim_clip_art.jpg'%}" id = "judonazimnavimg"  onmouseover="nazilogohover()" onmouseout="nazilogoleave()">
    <img src="{% static 'images/fire.gif'%}" id = "fire"  onmouseover="nazilogohover()" onmouseout="nazilogoleave()">
    </div>
    <div id="navcol3" class = "navbarcol">

    </div>

  </div>

  {%block content%}

  {%endblock%}
<script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.js'%}"> </script>-->
<script type="text/javascript" src="{% static 'js/navbar.js'%}"> </script>
<script type="text/javascript" src="{% static 'js/index.js'%}"> </script>
<script type="text/javascript" src="{% static 'plugins/popper.js'%}">  </script>
  </body>

</html>
