<div id="confirmation-box" style="display:none;">
  <div class="confirm-msg deep-blue-90-clr">
    <span class="confirm-title">מחיקת תגובה</span>
    <span class="confirm-body shiny-blue-clr">למחוק תגובה לצמיתות?</span>
  </div>
  <div class="super-tiny-row-center-align confirm-select-panel" style="justify-content:space-between;">
    <span id="confirm-cancel" style="margin-right:5px;" class="bluish-clr">בטל</span>
    <span class="bluish-clr" id="confirm-delete" style="margin-left:5px;">מחק</span>
  </div>
</div>
