{%extends 'magazine/base.html'%}
{%load static%}


{%block title%}שחזור סיסמא{%endblock%}

{%block moreLinks%}
<link rel="stylesheet" href="{% static 'magazine/css/writepost.css' %}">
<link rel="stylesheet" href="{% static 'memebers/css/sign.css' %}">
{%endblock%}
{%block body%}
<style>
  .icon-bar
  {
    display:none !important;
  }
</style>
<form  method = "post"  style="width:100%;" enctype="multipart/form-data">
{%csrf_token%}
{{ form.non_field_errors }}

<div class="center">

<div class="writepost" style="width:80%;font-size:1rem !important;">
{% if not user.is_authenticated %}
<h1 style="font-family:robot;" class="bluish-clr"><u>שחזור סיסמה</u></h1>
<div class="center" style="gap:50px;">
<div class="signfieldcolumn" style="width:100%;">
  <span style="color:red;">{{ form.email.errors }}</span>
  {% if no_error == 'true' %}
  <div style="display:flex;flex-direction:column;align-items:center;color:green;font-size:1rem;font-family:san-serif;margin-bottom:20px;">
    <span>ברגע זה נשלח לך למייל שהזנת</span>
    <span>לינק לצורך יצירת סיסמה חדשה</span>
    <span>נא בדוק את המייל ומלא אחר ההוראות</span>
  </div>
  {% endif %}
  <div class="signfieldrow">
    <span class="label ice-cream-clr">מייל לצורך שחזור סיסמה</span>
    <span class="super-tiny-row-center-align ronny-style-field">
      <span class="box-field">
        {% include 'members/svg/mail.svg' %}
      </span>
      {{form.email}}
    </span>
  </div>
</div>






<div class="signfieldcolumn" style="width:100%;align-items:flex-end;">

<div class="signfieldrow" style="justify-content:flex-end;margin-bottom:30px;">
  <button type="submit" style="top:unset;right:unset;background-color:green;box-shadow:unset;font-size:1rem;padding-top:0;padding-bottom:0;gap:4px;align-items:center;" class="subscribe btn-loader">
   <span>שלח לי למייל</span>
   <span>{% include 'members/svg/mail.svg' %}</span>
  </button>
</div>

</div>
</div>

{% else %}
<h1>  אתה כבר מחובר </h1>
{% endif %}
 </div>
 </div>

</form>




{%endblock body%}

{%block moreJs%}
 <script type="text/javascript" src="{% static 'magazine/js/writepost.js'%}"> </script>
 <script type="text/javascript" src="{% static 'memebers/js/general.js'%}"> </script>
 <script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
 <script type="text/javascript">

{%endblock moreJs%}
