{%extends 'magazine/base.html'%}
{%load static%}


{%block title%}פרופיל אישי -עדכון{%endblock%}

{%block moreLinks%}
<link rel="stylesheet" href="{% static 'magazine/css/writepost.css' %}">
<link rel="stylesheet" href="{% static 'memebers/css/sign.css' %}">
<link rel="stylesheet" href="{% static 'memebers/css/update_profile.css' %}">

{%endblock%}
{%block body%}

<form  method = "post"  enctype="multipart/form-data" style="width:100%;">
  {%csrf_token%}

<div class="center" style="gap:0px;margin:20px;">
<div class="writepost" style="width:80%;font-size:1rem !important;">

{% if user.is_authenticated %}
   {% if user.profile.id %}
      {% if user.profile.id == profile_obj.id %}


<div class="center" style="gap:0px;margin:0px;width:70%;">
<h1 style="font-family:robot;margin:0;gap:0;"  class="bluish-clr"><u>עדכון פרופיל</u></h1>
{% include 'members/default_profile_img_btn_square.html' %}





      <div class="category-block-up ice-cream-border">
            <div class="category-header-up">
              <span>זיהוי כללי</span>
            </div>
            <div class="row-of-input-fields-up">
                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/nick.svg' %}
                         </span>
                       {{ form.nick }}
                      </span>
                  </div>

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/sex.svg' %}
                         </span>
                       {{ form.sex }}
                          <div class="dict-ddl" style="display:none;">
                            <div class="dict-item">
                               <span  class="ddl-txt"> גבר</span>
                               <span class="ddl-svg-item">{% include 'members/svg/male.svg' %} </span>

                            </div>
                            <div class="dict-item">
                              <span  class="ddl-txt"> אישה</span>
                               <span class="ddl-svg-item">{% include 'members/svg/female.svg' %}</span>

                            </div>


                           </div>



                      </span>
                  </div>
            </div>
      </div>



      <div class="category-block-up ice-cream-border">
            <div class="category-header-up">
              <span>פרטים אישיים</span>
            </div>
            <div class="row-of-input-fields-up" style="align-items:flex-end;">

                  <div class="signfieldcolumn" style="width:25%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/person1.svg' %}
                         </span>
                       {{ form.first_name }}
                      </span>
                  </div>

                  <div class="signfieldcolumn" style="width:25%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2"">
                           {% include 'members/svg/person2.svg' %}
                         </span>
                       {{ form.last_name }}

                      </span>
                  </div>


                  <div class="signfieldcolumn" style="width:25%;margin-left:1px;">
                       <div class="input-box-wrapper-plain" >
                        <span class="input-box-header-plain" >תאריך לידה</span>

                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v3">
                           {% include 'members/svg/birthday_cake.svg' %}
                         </span>
                         {{form.birthDate}}


                      </span>
                      </div>
                  </div>

            </div>
      </div>


      <div class="category-block-up ice-cream-border">
            <div class="category-header-up">
              <span>השקפות ודעות</span>
            </div>
            <div class="row-of-input-fields-up">

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/politics.svg' %}
                         </span>
                       {{ form.politic_views }}
                      </span>
                  </div>

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/synagogue.svg' %}
                         </span>
                       {{ form.religion }}

                      </span>
                  </div>




            </div>
            <div class="row-of-input-fields-up-center">
              <div class="signfieldcolumn" style="width:100%;">
                   <span class="super-tiny-row-center-align" style="width:100%;">
                     <span class="box-field-v2">
                       {% include 'members/svg/slogan.svg' %}
                     </span>
                   {{ form.slogan }}

                  </span>
              </div>
            </div>
      </div>




      <div class="category-block-up ice-cream-border">
            <div class="category-header-up">
              <span>מצב ביולוגי/זוגי/משפחתי</span>
            </div>
            <div class="row-of-input-fields-up">

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/ancestry.svg' %}
                         </span>
                       {{ form.race }}
                      </span>
                  </div>

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/family_status.svg' %}
                         </span>
                       {{ form.familial_status }}

                       <div class="dict-ddl" style="display:none;">
                         <div class="dict-item">
                            <span  class="ddl-txt"> רווק </span>
                            <span class="ddl-svg-item">{% include 'members/svg/single.svg' %} </span>

                         </div>

                         <div class="dict-item">
                           <span  class="ddl-txt">נשוי</span>
                            <span class="ddl-svg-item">{% include 'members/svg/marrige.svg' %}</span>

                         </div>

                         <div class="dict-item">
                           <span  class="ddl-txt">גרוש</span>
                            <span class="ddl-svg-item">{% include 'members/svg/divorce.svg' %}</span>

                         </div>

                         <div class="dict-item">
                           <span  class="ddl-txt">נשוי שוב</span>
                            <span class="ddl-svg-item">{% include 'members/svg/second.svg' %}</span>

                         </div>


                        </div>

                      </span>
                  </div>




            </div>



             <div class="row-of-input-fields-up">

            <div class="signfieldcolumn" style="width:40%;">
                 <span class="super-tiny-row-center-align" style="width:100%;">
                   <span class="box-field-v2">
                     {% include 'members/svg/ydna.svg' %}
                   </span>
                 {{ form.y_dna }}

                </span>
            </div>

            <div class="signfieldcolumn" style="width:40%;">
                 <span class="super-tiny-row-center-align" style="width:100%;">
                   <span class="box-field-v2">
                     {% include 'members/svg/mtdna.svg' %}
                   </span>
                 {{ form.mtdna }}

                </span>
            </div>

            </div>


      </div>



      <div class="category-block-up ice-cream-border">
            <div class="category-header-up">
              <span>תחומי עניין והתמקצעות</span>
            </div>
            <div class="row-of-input-fields-up">

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/hobby.svg' %}
                         </span>
                       {{ form.hobby }}
                      </span>
                  </div>

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/skills.svg' %}
                         </span>
                       {{ form.skills }}

                      </span>
                  </div>




            </div>



             <div class="row-of-input-fields-up">

            <div class="signfieldcolumn" style="width:40%;">
                 <span class="super-tiny-row-center-align" style="width:100%;">
                   <span class="box-field-v2">
                     {% include 'members/svg/education.svg' %}
                   </span>
                 {{ form.education }}

                </span>
            </div>

            <div class="signfieldcolumn" style="width:40%;">
                 <span class="super-tiny-row-center-align" style="width:100%;">
                   <span class="box-field-v2">
                     {% include 'members/svg/profession.svg' %}
                   </span>
                 {{ form.profession }}

                </span>
            </div>

            </div>


      </div>



      <div class="category-block-up ice-cream-border">
            <div class="category-header-up">
              <span>אישיות</span>
            </div>
            <div class="row-of-input-fields-up">

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/hate.svg' %}
                         </span>
                       {{ form.hate }}
                      </span>
                  </div>

                  <div class="signfieldcolumn" style="width:40%;">
                       <span class="super-tiny-row-center-align" style="width:100%;">
                         <span class="box-field-v2">
                           {% include 'members/svg/love.svg' %}
                         </span>
                       {{ form.love }}

                      </span>
                  </div>




            </div>



             <div class="row-of-input-fields-up">

            <div class="signfieldcolumn" style="width:40%;">
                 <span class="super-tiny-row-center-align" style="width:100%;">
                   <span class="box-field-v2">
                     {% include 'members/svg/nightmare.svg' %}
                   </span>
                 {{ form.nightmare }}

                </span>
            </div>

            <div class="signfieldcolumn" style="width:40%;">
                 <span class="super-tiny-row-center-align" style="width:100%;">
                   <span class="box-field-v2">
                     {% include 'members/svg/fantasy.svg' %}
                   </span>
                 {{ form.fantasy }}

                </span>
            </div>

            </div>



            <div class="row-of-input-fields-up-center" >

                <div class="signfieldcolumn" style="width:100%;">
                     <span class="super-tiny-row-center-align" style="width:100%;">
                       <span class="box-field-v2">
                         {% include 'members/svg/glory.svg' %}
                       </span>
                     {{ form.bestEvent }}

                    </span>
                </div>

           </div>

           <div class="row-of-input-fields-up-center" >
                <div class="signfieldcolumn" style="width:100%;">
                     <span class="super-tiny-row-center-align" style="width:100%;">
                       <span class="box-field-v2">
                         {% include 'members/svg/tragedy.svg' %}
                       </span>
                     {{ form.worstEvent }}

                    </span>
               </div>
           </div>


      </div>




      <div class="center ice-cream-border" style="width:100%;margin-top:20px;background-color:black;">
        <span class="ice-cream-clr" style="align-self:flex-start;text-align:right;margin:0;font-size:2rem;">על עצמי</span>
        {{form.bio}}
      </div>


<div class="center ice-cream-border" style="width:100%;background-color:black;">
 {{ album_formset.management_form }}

 <span class="ice-cream-clr" style="align-self:flex-start;text-align:right;margin:0;font-size:2rem;">אלבום תמונות</span>
 <div class="center drakula formset-papa" style="width:100%;margin-top:0px;min-height:150px;">
  {% for album_item in album_formset %}
        <div style="width:100%;" service="profile_album" class="super-tiny-row-center-align signfield-parent formset-item">
             {{ album_item.id }}
             <span style="display:none;">{{ album_item.ORDER }}</span>
          <!--   {% if album_formset.can_delete %}-->
              <span style="display:none;">{{ album_item.DELETE }}</span>
              <!--{% endif %}-->
              <div class="more-button" style="margin-left:10px;">
                {% include 'magazine/components/svg/plus.svg' %}
              </div>
            <span class="ronny-style-field super-tiny-row-center-align" style="width:100%;">
              <span class="box-field">
                {% include 'members/svg/default_profile_img.svg' %}
              </span>
              {{ album_item.description }}
            </span>
            <div class="super-tiny-row-center-align">
              <div class="thumbnail signfieldcolumn">
              <div class="hidden">{{ album_item.myfile }}</div>
              <button type="button" class="trigger-upload">{% include 'magazine/components/svg/upload.svg' %}</button>
              </div>
              <div class="thumb-holder" style="width:50px;height:50px;">
                {% if album_item.instance.myfile %}
                <img class="thumb preview"  style="height:50px !important;width:50px;" src="{{album_item.instance.myfile.url}}" alt="">
                {% else %}
                  <img class="thumb preview"  style="height:50px !important;width:50px;" src="" alt="">
                {% endif %}
              </div>
            </div>

            <div class="delete-button" style="margin-right:50px;">
              {% include 'magazine/components/svg/minus.svg' %}
            </div>
        </div>
    {% endfor %}
 </div>
</div>

<div class="signfieldcolumn" style="width:100%;align-items:flex-end;">
  <div class="signfieldrow" style="justify-content:flex-end;margin-bottom:30px;">
    <button type="submit" style="top:unset;right:unset;" class="subscribe btn-loader btn-loader-small">עדכן</button>
  </div>
</div>
</div>
      {% else %}
       <h1>גישתך נדחתה</h1>
      {% endif %}
   {% else %}
  <h1>טרם יצרת פרופיל</h1>
   {% endif %}
{% else %}
<h1> אינך מחובר </h1>
{% endif %}
 </div>
 </div>

</form>


{% include 'general/components/standalones/styleddropdown/styleddropdown.html' %}

{%endblock body%}

{%block moreJs%}
 <script type="text/javascript" src="{% static 'magazine/js/writepost.js'%}"> </script>
 <script type="text/javascript" src="{% static 'memebers/js/general.js'%}"> </script>



{%endblock moreJs%}
