{%extends 'magazine/base.html'%}
{%load static%}
{% load socialaccount %}
{% providers_media_js %}


{%block title%}התחבר{%endblock%}

{%block moreLinks%}
<link rel="stylesheet" href="{% static 'magazine/css/writepost.css' %}">
<link rel="stylesheet" href="{% static 'memebers/css/sign.css' %}">
{%endblock%}
{%block body%}
<style>
  .icon-bar
  {
    display:none !important;
  }
</style>
<form  method = "post" style="width:100%;"  enctype="multipart/form-data">
  {% csrf_token %}


<div class="center">
  <div class="writepost" style="width:100%;font-size:1rem !important;">
    {% if not user.is_authenticated %}
    <h1 style="font-family:formal2;font-size:3rem;margin-bottom:60px;" class="bluish-clr"><u>התחברות</u></h1>

    <div class="signfieldcolumn" style="gap:50px;">

      <div class="signfieldcolumn" style="width:100%;">

        <span style="color:red;">{{ form.non_field_errors }}</span>

        <div class="signfieldrow">
          <span class="super-tiny-column-end-align" style="width:110px;">
            <span style="width:unset;" class="label ice-cream-clr">שם משתמש או מייל</span>
          </span>
          <span class="super-tiny-row-center-align ronny-style-field">
            <span class="box-field">
              {% include 'members/svg/personcheck.svg' %}
            </span>
          {{ form.username }}
         </span>
        </div>
      </div>

      <div class="signfieldcolumn" style="width:100%;">
        <div class="signfieldrow">
          <span class="super-tiny-column-end-align" style="width:110px;">
            <span style="width:unset;" class="label ice-cream-clr">סיסמה</span>
          </span>
          <span class="super-tiny-row-center-align ronny-style-field">
            <span class="box-field">
              {% include 'members/svg/key.svg' %}
            </span>
          {{ form.password }}
          </span>
        </div>
      </div>
      <div class="signfieldcolumn" style="width:100%;align-items:flex-start;">
        <div class="signfieldrow" style="width:100%;justify-content:space-between;margin-bottom:30px;">
          <a class="forget-password-link" href="{% url 'users:forget-password-mail' %}">שכחתי סיסמה</a>
         <button type="submit" class="subscribe btn-loader btn-loader-small">התחבר</button>

        </div>
      </div>

      <div class="signfieldcolumn" style="width:100%;align-items:flex-start;margin-top:25px;">
        <div class="signfieldrow" style="width:100%;justify-content:flex-start;">
          <span id="login-with-social-accounts-lbl" style="margin-right:112.5px;">או התחבר עם החשבונות הבאים</span>
        </div>
        <div class="signfieldrow social-media-row">
              <div class="social-login-btn google-login-btn">
              <a href="{% provider_login_url 'google' %}?next={% url 'magazine:magazineNews' %}">
              {% include 'users/svg/google.svg' %}
              </a>
              </div>

              <div class="social-login-btn facebook-login-btn">
              <a href="{% provider_login_url 'facebook' method='oauth2' %}?next={% url 'magazine:magazineNews' %}">
              {% include 'users/svg/facebook.svg' %}
              </a>
              </div>

              <div class="social-login-btn discord-login-btn">
              <a href="{% provider_login_url 'discord' %}?next={% url 'magazine:magazineNews' %}">
              {% include 'users/svg/discord.svg' %}
              </a>
              </div>

              <div class="social-login-btn spotify-login-btn">
              <a href="{% provider_login_url 'spotify' %}?next={% url 'magazine:magazineNews' %}">
              {% include 'users/svg/spotify.svg' %}
              </a>
              </div>

         </div>
      </div>

    </div>


  {% else %}
  <h1>  אתה כבר מחובר </h1>
  {% endif %}
   </div>
 </div>

</form>




{%endblock body%}

{%block moreJs%}
 <script type="text/javascript" src="{% static 'magazine/js/writepost.js'%}"> </script>
 <script type="text/javascript" src="{% static 'memebers/js/general.js'%}"> </script>
<script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
 {%endblock moreJs%}
