<!DOCTYPE html>
{%extends 'magazine/base.html'%}
{%load static%}



{%block meta%}
<meta property="og:locale" content="he_IL">
<meta property="og:type" content="article">
<meta property="og:title" content="{{object.title}}">
<meta property="og:description" content="{{object.subtitle}}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{{object.thumb.url}}">
<meta property="og:image:height" content="324">
<meta property="og:image:width" content="583">
<meta property="og:site_name" content="יהודונאציזם">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@judonazimwebsite">
<meta name="twitter:image" content="{{object.thumb.url}}">
<meta name="twitter:title" content="{{object.title}}">
<meta name="twitter:description" content="{{object.subtitle}}">
{%endblock meta%}


  {%block title%}יהודונאציזם - מאמר דעה{%endblock%}

   {%block moreLinks%}
   {%endblock moreLinks%}

     {%block body%}
    <div class="center" style="width:100%;">
     <div class="post">
       <span class="posttitle shiny-blue-clr post-title-slug" style="font-family:formal3-bold;color:black !important;opacity:0.9;font-size:3.5rem;">{{ object.title }}  </span>
     <div id="rate-post-form" class="tiny-row-center-align">
       {% if object.author.profile.profile_img.url %}
           <a class="author big tiny-row-center-align"> <img class="tiny-avatar" src="{{object.author.profile.profile_img.url}}"/>  <span> {{object.author | safe}}</span> &nbsp; | &nbsp;
                <span>{{object.datepublished | date:'d/m/Y' | safe}}</span>
           </a>
       {% else %}
       <a class="author big tiny-row-end-align"> {% include 'members/default_profile_img.html' %}  <span>  {{object.author | safe}}</span> &nbsp; | &nbsp;
            <span>{{object.datepublished | date:'d/m/Y' | safe}}</span>
       </a>
       {% endif %}
       {% if user.is_authenticated %}
       <div class="tiny-row-center-align">
        <button class="unstyled-btn ajax-rate-btn" name="like-btn" type="button">
        {% if liked %}
        <span class="user_liked">{% include 'magazine/components/svg/like_fill.html'%}</span>
        <span class="user_unliked" style="display:none;">{% include 'magazine/components/svg/like.html'%}</span>
        {% else %}
        <span class="user_liked" style="display:none;">{% include 'magazine/components/svg/like_fill.html'%}</span>
        <span class="user_unliked">{% include 'magazine/components/svg/like.html'%}</span>
        {% endif %}
        </button>
        {% if total_likes != 0 %}
        <span  class="rate-count rate-green">{{total_likes}}</span>
        {% else %}
        <span style="display:none;" class="rate-count rate-green"></span>
        {% endif %}
        <button class="unstyled-btn ajax-rate-btn" name="dislike-btn" type="button">
        {% if disliked %}
        <span class="user_disliked">{% include 'magazine/components/svg/dislike_fill.html'%}</span>
        <span class="user_undisliked" style="display:none;">{% include 'magazine/components/svg/dislike.html'%}</span>
        {% else %}
        <span class="user_disliked" style="display:none;">{% include 'magazine/components/svg/dislike_fill.html'%}</span>
        <span class="user_undisliked"> {% include 'magazine/components/svg/dislike.html'%}</span>
        {% endif %}
        </button>
        {% if total_dislikes != 0 %}
        <span class="rate-count rate-red">{{total_dislikes}}</span>
        {% else %}
        <span style="display:none;" class="rate-count rate-red"></span>
        {% endif %}
      </div>
       {% else %}
       <button class="unstyled-btn" type="button">
           {% include 'magazine/components/svg/like.html'%}
       </button>
       {% if total_likes != 0 %}
       <span class="rate-count rate-green">{{total_likes}}</span>
       {% else %}
       <span style="display:none;" class="rate-count rate-green"></span>
       {% endif %}
       <button class="unstyled-btn" type="button">
           {% include 'magazine/components/svg/dislike.html'%}
       </button>
       {% if total_dislikes != 0 %}
        <span class="rate-count rate-red">{{total_dislikes}}</span>
        {% else %}
        <span style="display:none;" class="rate-count rate-red"></span>
        {% endif %}
        <span class="msg ice-cream-clr">הירשם ותוכל להשפיע</span>
       {% endif %}
     </div>

         <div class="subtitle post-subtitle-slug">{{object.subtitle}}</div>




       <div class="thumb-holder" style="width:100%;">
         <img class="thumb"  style="height:unset;" src="{{object.thumb.url}}" alt="">
         <div class="decortion-line"></div>
       </div>
       <div class="post-content">
        {{object.content | safe}}
       </div>
       {% if user.is_authenticated %}
           {% if object.author_id == request.user.id and request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'owner'  %}
       <div class = "submit-row submit-row-edit">
         <a style="text-decoration:none;" href="{% url 'magazine:updateRecord'  object.id %}">{%include 'magazine/components/btns/btnedit.html'%}</a>

       </div>
           {% endif %}
       {% endif %}
     </div>

<form method="POST" enctype="multipart/form-data">
  {%csrf_token%}
  {{comment_frm.media}}
   <div class="center" style="margin-top:50px;">
      <div class="comment comment-frm">
         <span class="leave-comment-label">כתיבת תגובה</span>
         <div style="width:100%;">
           <span class="comment-label">התגובה שלך</span>
           {{comment_frm.body}}
        </div>

     <button type="submit" style="width:100%;" class="btn-post-comment btn-loader" name="btn-send-comment">שלח</button>
     {% if object.comments.all|length > 0 %}
   <div class="tiny-row-center-align comment-reply-title" style="justify-content:center;width:100%;margin-top:20px;"><span id="lbl-count-comments"> {{object.comments.all | length}}</span> <span>תגובות למאמר</span></div>
     {% endif %}
   </div>
 </div>
</form>


 <div class="center"  style="margin-bottom:50px;">


   {% if object.comments.all %}




      {% for comment in object.comments.all %}
        <div class="comment item" id="comment{{comment.pk}}" style="gap:10px;margin-bottom:50px;width:500px;">
          <span class="comment" style="gap:5px;">
            <div  class="super-tiny-row-center-align rate-com-form" style="gap:5px;">
              <input type="hidden" class="com_pk" value="{{comment.pk}}"/>
              <strong class="order-num" style="left:10px;position:relative;color:#E00041">
              {{forloop.counter}}
            </strong>
              <span class="order-num" style="left:10px;position:relative;">
                {% if comment.comment_usr.profile.profile_img.url %}
               <img class="very-tiny-avatar" src="{{comment.comment_usr.profile.profile_img.url}}"/>
               {% else %}
               {% include 'members/default_profile_img.html' %}
              {%endif%}
            </span>
            {% if user.is_authenticated %}
            <b style="margin-right:-10px;" class="author author-comment">{{comment.comment_usr}} הגיב:</b>
            {% else %}
            <b style="margin-right:-10px;" class="author author-comment">פלוני הגיב</b>
            {%  endif %}


                 {% if user.is_authenticated %}
                 <div class="super-tiny-row-center-align" id="frm-like-comments">
                 <button class="unstyled-btn ajax-rate-btn" name="like-com" type="button">
                 {% if comment.liked %}
                 <span class="user_liked">{% include 'magazine/components/svg/like_fill.html'%}</span>
                 <span class="user_unliked" style="display:none;">{% include 'magazine/components/svg/like.html'%}</span>
                 {% else %}
                 <span class="user_liked" style="display:none;">{% include 'magazine/components/svg/like_fill.html'%}</span>
                 <span class="user_unliked">{% include 'magazine/components/svg/like.html'%}</span>
                 {% endif %}
                </button>
                 {% if comment.total_likes != 0 %}
                 <span class="rate-count rate-green">{{comment.total_likes}}</span>
                 {% else %}
                 <span style="display:none;" class="rate-count rate-green"></span>
                 {% endif %}
                 <button class="unstyled-btn ajax-rate-btn" name="dislike-com" type="button">
                {% if comment.disliked %}
                <span class="user_disliked">{% include 'magazine/components/svg/dislike_fill.html'%}</span>
                <span class="user_undisliked" style="display:none;">{% include 'magazine/components/svg/dislike.html'%}</span>
                {% else %}
                <span class="user_disliked" style="display:none;">{% include 'magazine/components/svg/dislike_fill.html'%}</span>
                <span class="user_undisliked"> {% include 'magazine/components/svg/dislike.html'%}</span>
                {% endif %}
               </button>
                {% if comment.total_dislikes != 0 %}
                 <span class="rate-count rate-red">{{comment.total_dislikes}}</span>
                 {% else %}
                 <span style="display:none;" class="rate-count rate-red"></span>
                {% endif %}
              </div>
              {% else %}
                <button class="unstyled-btn" type="button">
                    {% include 'magazine/components/svg/like.html'%}
                </button>
                {% if comment.total_likes != 0 %}
                <span class="rate-count rate-green">{{comment.total_likes}}</span>
                {% else %}
                <span style="display:none;" class="rate-count rate-green"></span>
                {% endif %}
                <button class="unstyled-btn"  type="button">
                    {% include 'magazine/components/svg/dislike.html'%}
                </button>
                {% if comment.total_dislikes != 0 %}
                 <span class="rate-count rate-red">{{comment.total_dislikes}}</span>
                 {% else %}
                 <span class="rate-count rate-red" style="display:none;"></span>
                 {% endif %}
                 <span class="msg ice-cream-clr">הירשם ותוכל להשפיע</span>
              {% endif %}
            </div>


            <a id="{{comment.pk}}" href ="#comment{{comment.pk}}" class="tiny-row-center-align"><span style="color:#2F9BDD;">{{comment.date_added | date:'d/m/Y' | safe}} בשעה: {{comment.date_added | date:'h:m' | safe}}</span></a>
          </span>
          {% if request.user == comment.comment_usr %}
          <div class="comment-edit-parent" style="margin-top:-10px;" >
                <div class="center form-view" style="display:none;align-items:flex-start;margin-top:0;gap:0px;">
                      <input type="hidden" class="comment-id-edit" value="{{comment.pk}}"/>
                       <div class="comment comment-frm" style="gap:0px;align-self:flex-start;text-align:right;">
                          <div style="direction: rtl;width:100%;text-align:right;">
                            <span class="comment-label">התגובה שלך</span>
                            <!--<textarea class="comment-text-field comment-field ckeditor" style="resize: none;white-space: normal;text-align:right !important;direction: rtl;padding:0;">-->
                            <textarea class="ckeditor" name="editor1">
                              {{comment.body | safe}}
                            </textarea>
                          </div>
                         <div class="super-tiny-row-center-align" style="justify-content:space-between;width:100%;">
                          <button type="button" class="btn-post-comment btn-cancel-edit">בטל</button>
                          <button type="button" class="btn-post-comment btn-edit-save">שמור</button>
                        </div>
                     </div>
               </div>
               <div class="display-view" style="justify-content:flex-start;margin-top:0px;align-items:flex-start;width:500px;box-sizing:border-box;word-wrap: break-word;">
                 {{comment.body | safe}}
                 <span class="btn-edit" style="align-self:flex-start;margin-top:20px;">{%include 'magazine/components/btns/btnedit_small.html'%}</span>
               </div>
          </div>
          {% else %}
          <div style="width:500px;box-sizing:border-box;word-wrap: break-word;">{{comment.body}}</div>
          {% endif %}

      <div class="reply-parent" style="margin-top:10px;width:100%;">
        <span class="reply-label"  comment-id="{{comment.pk}}">{% include 'magazine/components/svg/reply.svg' %}</span>
        <div style="display:none;" class="reply-label-brother">
            <textarea class="ckeditor" name="ck-{{comment.pk}}">
            </textarea>
            <script>
            CKEDITOR.replace('ck-{{comment.pk}}');
           </script>
            <input type="hidden" class="com-parent-id" value="{{comment.pk}}">
            <input type="hidden" class="replied-to-sub-com-id" value="">
            <div class="super-tiny-row-center-align" style="justify-content:space-between;width:100%;">
              <button type="button" class="btn-post-comment btn-sub-com-cancel">בטל</button>
              <button type="button" class="btn-post-comment btn-sub-com-save">שמור</button>
            </div>
        </div>
     </div>

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill expand" viewBox="0 0 16 16" style="display:none;margin-top:5px;">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill collpase" viewBox="0 0 16 16" style="margin-top:5px;">
         <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
         </svg>
          <div class="comment-of-comment" id="frm-like-com-of-com">
          {% for comment_of_comment in comment.comments_of_comment.all %}
          <div class="item subitem rate-com-of-com-form" id="sub-comment{{comment_of_comment.pk}}" style="margin-top:10px;">
            <input type="hidden" class="com_of_com_pk" value="{{comment_of_comment.pk}}"/>
          <span style="gap:5px;">
            <div class="super-tiny-row-center-align" style="gap:5px;">

              <span class="order-num" style="left:10px;position:relative;">
                {% if comment_of_comment.comment_of_comment_usr.profile.profile_img.url %}
               <img class="super-tiny-avatar" src="{{comment_of_comment.comment_of_comment_usr.profile.profile_img.url}}"/>
               {% else %}
               {% include 'members/default_profile_img.html' %}
              {% endif %}
            </span>
            {% if user.is_authenticated %}
            <b style="margin-right:-10px;" class="author author-sub-comment">{{comment_of_comment.comment_of_comment_usr}} הגיב:</b>
            {% else %}
            <b style="margin-right:-10px;" class="author author-sub-comment">פלוני הגיב:</b>
            {% endif %}



              {% if user.is_authenticated %}
            <!--  <div class="super-tiny-row-center-align" id="frm-like-com-of-com">-->
            <div class="super-tiny-row-center-align">
              <button class="unstyled-btn ajax-rate-sub-com-btn" name="like-com-of-com" type="button">
              {% if comment_of_comment.liked %}
              <span class="com-of-com-svg sub_com_user_liked">{% include 'magazine/components/svg/like_fill.html' %}</span>
              <span style="display:none;" class="com-of-com-svg sub_com_user_unliked">{% include 'magazine/components/svg/like.html' %}</span>
              {% else %}
              <span  style="display:none;" class="com-of-com-svg sub_com_user_liked">{% include 'magazine/components/svg/like_fill.html' %}</span>
              <span class="com-of-com-svg sub_com_user_unliked">{% include 'magazine/components/svg/like.html' %}</span>
              {% endif %}
             </button>
              {% if comment_of_comment.total_likes != 0 %}
              <span class="rate-green com-of-com-svg">{{comment_of_comment.total_likes}}</span>
              {% else %}
              <span style="display:none;" class="rate-green com-of-com-svg"></span>
              {% endif %}
              <button class="unstyled-btn ajax-rate-sub-com-btn" name="dislike-com-of-com">
              {% if comment_of_comment.disliked %}
              <span class="com-of-com-svg sub_com_user_disliked">{% include 'magazine/components/svg/dislike_fill.html' %}</span>
              <span style="display:none;" class="com-of-com-svg sub_com_user_undisliked">{% include 'magazine/components/svg/dislike.html' %}</span>
              {% else %}
              <span style="display:none;" class="com-of-com-svg sub_com_user_disliked">{% include 'magazine/components/svg/dislike_fill.html' %}</span>
              <span class="com-of-com-svg sub_com_user_undisliked">{% include 'magazine/components/svg/dislike.html' %}</span>
              {% endif %}
            </button>
             {% if comment_of_comment.total_dislikes != 0 %}
              <span class="com-of-com-svg rate-red">{{comment_of_comment.total_dislikes}}</span>
             {% else %}
             <span style="display:none;" class="com-of-com-svg rate-red"></span>
             {% endif %}
           </div>
             {% else %}
             <button class="unstyled-btn com-of-com-svg" type="button">
                 {% include 'magazine/components/svg/like.html' %}
             </button>
             {% if comment_of_comment.total_likes != 0 %}
             <span class="com-of-com-svg rate-green">{{comment_of_comment.total_likes}}</span>
             {% else %}
             <span style="display:none;" class="com-of-com-svg rate-green"></span>
             {% endif %}
             <button class="unstyled-btn com-of-com-svg"  type="button">
                {% include 'magazine/components/svg/dislike.html' %}
             </button>
             {% if comment_of_comment.total_dislikes != 0 %}
              <span class="com-of-com-svg rate-red">{{comment_of_comment.total_dislikes}}</span>
              {% else %}
              <span class="com-of-com-svg rate-red"></span>
              {% endif %}
              <span class="msg ice-cream-clr" style="font-size:1rem;">הירשם ותוכל להשפיע</span>
             {% endif %}

            </div>

            <a id="a-sub-comment{{comment_of_comment.pk}}" href ="#sub-comment{{comment_of_comment.pk}}" class="tiny-row-center-align"><span class="tiny-font" style="color:#2F9BDD;">{{comment_of_comment.date_added | date:'d/m/Y' | safe}} בשעה: {{comment_of_comment.date_added | date:'h:m' | safe}}</span></a>
          </span>
          <span class="sub-comment">{{comment_of_comment.body}}</span>
        </div>

        <div class="reply-parent" style="margin-top:10px;width:500px;">
           <span class="reply-label" sub-com-id="{{comment_of_comment.pk}}" comment-id="{{comment.pk}}">{% include 'magazine/components/svg/reply.svg' %}</span>
           <div style="display:none;width:500px;" class="reply-label-brother">
             <textarea class="ckeditor" name="ck-{{comment_of_comment.pk}}">
             </textarea>
             <script>
             CKEDITOR.replace('ck-{{comment_of_comment.pk}}');
            </script>
             <input type="hidden" class="com-parent-id" value="{{comment.pk}}">
             <input type="hidden" class="replied-to-sub-com-id" replied-to-sub-com-id="{{comment_of_comment.pk}}">
             <div class="super-tiny-row-center-align" style="justify-content:space-between;width:100%;">
               <button type="button" class="btn-post-comment btn-sub-com-cancel">בטל</button>
               <button type="button" class="btn-post-comment btn-sub-com-save">שמור</button>
             </div>
           </div>
       </div>

        {% endfor %}
      </div>
        </div>

      {% endfor %}

   {% endif %}
   <div id="reply-frm" style="display:none" >
   <form method="POST" enctype="multipart/form-data">
  {%csrf_token%}
  {{com_of_com_frm.media}}
   <div>
         <div class="center">
               <input type="hidden" name="comment_id" id="comment_id"/>
                <div class="comment comment-frm">
                   <div style="width:100%;">
                     <span class="comment-label">התגובה שלך</span>
                     {{com_of_com_frm.body}}
                  </div>

               <button type="submit" class="btn-post-comment" id="btn-reply-comment-of-comment" name="btn-reply-comment-of-comment">הגב</button>

             </div>
             </div>
   </div>

 </form>
</div>
</div>
{% if user.is_authenticated %}
<input type="hidden" id="curr-user" value="{{user.username}}">
{% endif %}
<input type="hidden" id="post_pk" value="{{object.pk}}" name="post_pk"/>
</div>

<!-- global hidden inputs-->

<!--end global hidden inputs-->

<!--sub-com-to-clone-->
<div id="clone-and-unwrap-this-sub-com">
<div class="item subitem rate-com-of-com-form" id="replace-sub-com-id" style="margin-top:10px;display:none;">
  <input type="hidden" class="com_of_com_pk" value="replace-sub-com-id"/>
<span style="gap:5px;">
  <div class="super-tiny-row-center-align" style="gap:5px;">

    <span class="order-num" style="left:10px;position:relative;">
      {% if user.is_authenticated and profile.profile_img.url %}
     <img class="super-tiny-avatar" src="{{user.profile.profile_img.url}}"/>
     {% else %}
     {% include 'members/default_profile_img.html' %}
    {% endif %}
  </span>
  {% if user.is_authenticated %}
  <b style="margin-right:-10px;" class="author author-sub-comment">{{user}} הגיב:</b>
  {% else %}
  <b style="margin-right:-10px;" class="author author-sub-comment">פלוני הגיב:</b>
  {% endif %}



    {% if user.is_authenticated %}
    <div class="super-tiny-row-center-align">
      <button class="unstyled-btn ajax-rate-sub-com-btn" name="like-com-of-com" type="button">
        <span  style="display:none;" class="com-of-com-svg sub_com_user_liked">{% include 'magazine/components/svg/like_fill.html' %}</span>
        <span class="com-of-com-svg sub_com_user_unliked">{% include 'magazine/components/svg/like.html' %}</span>
      </button>
      <span style="display:none;" class="rate-green com-of-com-svg"></span>
      <button class="unstyled-btn ajax-rate-sub-com-btn" name="dislike-com-of-com">
        <span style="display:none;" class="com-of-com-svg sub_com_user_disliked">{% include 'magazine/components/svg/dislike_fill.html' %}</span>
        <span class="com-of-com-svg sub_com_user_undisliked">{% include 'magazine/components/svg/dislike.html' %}</span>
      </button>
      <span style="display:none;" class="com-of-com-svg rate-red"></span>
    </div>
   {% else %}
   <button class="unstyled-btn com-of-com-svg" type="button">
       {% include 'magazine/components/svg/like.html' %}
   </button>
   <span style="display:none;" class="com-of-com-svg rate-green"></span>
   <button class="unstyled-btn com-of-com-svg"  type="button">
      {% include 'magazine/components/svg/dislike.html' %}
   </button>
    <span class="com-of-com-svg rate-red"></span>
    <span class="msg ice-cream-clr" style="font-size:1rem;">הירשם ותוכל להשפיע</span>
   {% endif %}

  </div>
  <!--<a id="a-sub-comment1" href ="#sub-comment1" class="tiny-row-center-align"><span class="tiny-font" style="color:#2F9BDD;">{{comment_of_comment.date_added | date:'d/m/Y' | safe}} בשעה: {{comment_of_comment.date_added | date:'h:m' | safe}}</span></a>-->
  <a id="replace-a-sub-comment" href ="#replace-sub-comment" class="tiny-row-center-align"><span class="tiny-font" style="color:#2F9BDD;">'d/m/y' בשעה: 'h:m' </span></a>
</span>
<span class="sub-comment">comment_of_comment.body to replace</span>
</div>

<div class="reply-parent" style="margin-top:10px;width:500px;display:none;">
 <span class="reply-label" sub-com-id="replace-sub-com-id" comment-id="replace-com-parent-id">{% include 'magazine/components/svg/reply.svg' %}</span>
 <div style="display:none;width:500px;" class="reply-label-brother">
   <textarea class="ckeditor" name="ck-sub-com-id-replace">
   </textarea>
   <script>
    //CKEDITOR.replace('ck-{{comment_of_comment.pk}}');
  </script>
   <input type="hidden" class="com-parent-id" value="replace-com-parent-id">
   <input type="hidden" class="replied-to-sub-com-id" replied-to-sub-com-id="sub-com-replace">
   <div class="super-tiny-row-center-align" style="justify-content:space-between;width:100%;">
     <button type="button" class="btn-post-comment btn-sub-com-cancel">בטל</button>
     <button type="button" class="btn-post-comment btn-sub-com-save">שמור</button>
   </div>
 </div>
</div>
</div>
<!--end-sub-com-to-clone-->




  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"> </script>
  <script type="text/javascript" src="{% static 'plugins/jquery.js' %}"> </script>
  <script>
  CKEDITOR.replace('editor1');
</script>
   <script>
   $('.btn-edit').click(function(){
     $(this).parents('.comment-edit-parent').first().find('.display-view').hide();
     $(this).parents('.comment-edit-parent').first().find('.form-view').show();
   });
   $('.btn-cancel-edit').click(function(){
     $(this).parents('.comment-edit-parent').first().find('.display-view').show();
     $(this).parents('.comment-edit-parent').first().find('.form-view').hide();
   });
    $(document).ready(function(){


       $('.comment.item').each(function(){
         var sub_comments_count = $(this).find('.subitem').length;
         if(sub_comments_count == 0)
         {
           $(this).find('.expand').first().hide();

           $(this).find('.collpase').first().hide();
         }
       });
      var total_comments = $('.item').length;
       $('#lbl-count-comments').text(total_comments);
      if("{{status}}" == "posted")
      {
         $('.comment-field').val('');
         var a_id =  "{{com_obj.pk}}";
         var href = $("#" + String(a_id)).attr("href");
         window.location.href = href
      }
      var replace_str = '-replace-me-'
      var curr_url = window.location.href

      if(curr_url.includes(replace_str))
      {
        jump_to = curr_url.replace('-replace-me-', '#')
        window.location.href = jump_to
      }
      setInterval(check_post_rating, 10000);
      setInterval(check_com_rating, 30000);
      setInterval(check_sub_com_rating, 60000);
    });
$('.reply-label').click(function(){
  var is_visibile = $(this).next('.reply-label-brother').css('display');
  if(is_visibile == 'none' )
  {
    $(this).next('.reply-label-brother').show();
  }
  else
  {
    $(this).next('.reply-label-brother').hide();
  }


});

$('.btn-sub-com-cancel').click(function(){
  var is_visibile = $(this).parents('.reply-label-brother').css('display');
  if(is_visibile == 'none' )
  {
    $(this).parents('.reply-label-brother').show();
  }
  else
  {
    $(this).parents('.reply-label-brother').hide();
  }


});




    $('.expand').click(function(){
      $(this).nextAll('.comment-of-comment').show();
      $(this).hide();
      $(this).siblings('.collpase').first().show();
    });

    $('.collpase').click(function(){
      $(this).nextAll('.comment-of-comment').hide();
      $(this).hide();
      $(this).siblings('.expand').first().show();
    });
   </script>


  {%endblock body%}

{%block moreJs%}
<!-- new script-->
<script>
  var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
  $(".btn-sub-com-save").click(function () {
     var ancestor = $(this).parents('.reply-parent');
     var com_parent_id = $(ancestor).find('.com-parent-id').val();
     var replied_to_sub_com = $(ancestor).find('.replied-to-sub-com-id');
     var replied_to_sub_com_id = '';
     var ck_name = $(ancestor).find('.ckeditor').attr('name');
     var body = CKEDITOR.instances[ck_name].getData();
     //var desc = CKEDITOR.instances.DSC.getData(); // another way to get data from ckeditor
     if($(sub_com_brother).attr('.replied-to-sub-com-id'))
     {
       replied_to_sub_com_id = $(sub_com_brother).attr('.replied-to-sub-com-id');
     }

      $.ajax({
          type: 'POST',
          url: "{% url 'social:sub-com-save' %}",
          data: {'com_parent_id':com_parent_id,
                'replied_to_sub_com_id':replied_to_sub_com_id,
                'body':body,
                'csrfmiddlewaretoken': csrftoken,
                },
          success: function (response) {



          },
          error: function (response) {

          }
      })
  })
</script>
<!-- end new script-->
<script>

function check_sub_com_rating()
{
     var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
        $.ajax({
            type: 'GET',
            url: "{% url 'social:rate_sub_com_refresh_ajax' %}",
            data: {'post_pk':$('#post_pk').val(),
                  'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function (response) {
              var curr_user = '';
              if($('#curr-user').length)
              {
                 curr_user = $('#curr-user').val();
              }
             for(var sub_com_index=0;sub_com_index<response.length;sub_com_index++)
             {

               var sub_com_pk = response[sub_com_index]['sub_com_pk']
               var sub_com_obj = response[sub_com_index]['items'];

               var cnt_likes = 0 ;
               var cnt_dislikes = 0;
               var is_user_liked = false;
               var is_user_disliked = false;

               for(var i=0;i<sub_com_obj.length;i++)
               {
                  var rate_type = sub_com_obj[i]['rate-type']

                   if(rate_type == 'like')
                   {
                       cnt_likes += 1;
                       if(sub_com_obj[i]['user'] == curr_user)
                       {
                         is_user_liked = true;
                       }
                   }
                   if(rate_type == 'dislike')
                   {
                     cnt_dislikes += 1;
                     if(sub_com_obj[i]['user'] == curr_user)
                     {
                       is_user_disliked = true;
                     }

                   }
               }
               var sub_com_parent_selector = '#sub-comment' + sub_com_pk;
               if(cnt_likes > 0)
               {

                $(sub_com_parent_selector + ' .rate-green').text(cnt_likes);
                $(sub_com_parent_selector + ' .rate-green').show();

               }
               if(cnt_dislikes > 0)
               {

                 $(sub_com_parent_selector + ' .rate-red').text(cnt_dislikes);
                 $(sub_com_parent_selector + ' .rate-red').show();

               }
               if(cnt_likes == 0)
               {
                 $(sub_com_parent_selector + ' .rate-green').hide();
               }
               if(cnt_dislikes == 0)
               {
                 $(sub_com_parent_selector + ' .rate-red').hide();
               }
               if(is_user_liked)
               {
                 $(sub_com_parent_selector + ' .sub_com_user_liked').show();
                 $(sub_com_parent_selector + ' .sub_com_user_unliked').hide();
                 $(sub_com_parent_selector + ' .sub_com_user_disliked').hide();
                 $(sub_com_parent_selector + ' .sub_com_user_undisliked').show();

               }
               else if(is_user_disliked)
               {
                 $(sub_com_parent_selector + ' .sub_com_user_liked').hide();
                 $(sub_com_parent_selector + ' .sub_com_user_unliked').show();
                 $(sub_com_parent_selector + ' .sub_com_user_disliked').show();
                 $(sub_com_parent_selector + ' .sub_com_user_undisliked').hide();
               }
               else
               {
                 $(sub_com_parent_selector + ' .sub_com_user_liked').hide();
                 $(sub_com_parent_selector + ' .sub_com_user_unliked').show();
                 $(sub_com_parent_selector + ' .sub_com_user_disliked').hide();
                 $(sub_com_parent_selector + ' .sub_com_user_undisliked').show();
               }

             }


            },
            error: function (response) {
                console.log(response);
            }
        })
  }
</script>

<script>
  var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
  $(".rate-com-of-com-form .ajax-rate-sub-com-btn").click(function () {
      var rate_type = $(this).attr('name');
      var parent = $(this).parents('.rate-com-of-com-form').first();
      var com_of_com_pk = $(parent).find('.com_of_com_pk').val();

      $.ajax({
          type: 'POST',
          url: "{% url 'social:rate_sub_com_save_ajax' %}",
          data: {'rate_type':rate_type,
                'com_of_com_pk':com_of_com_pk,
                'csrfmiddlewaretoken': csrftoken,
                },
          success: function (response) {
            var btn_like =  $(parent).find('.sub_com_user_liked');
            var btn_dislike = $(parent).find('.sub_com_user_disliked');
            var btn_unlike = $(parent).find('.sub_com_user_unliked');
            var btn_undislike = $(parent).find('.sub_com_user_undisliked');

            var is_like_visibile = $(btn_like).css('display');
            var is_dislike_visibile = $(btn_dislike).css('display');

            var rate_green = $(parent).find('.rate-green');
            var rate_red = $(parent).find('.rate-red');

            if(rate_type == 'like-com-of-com')
            {
               if(is_like_visibile != 'none')
               {
                 $(btn_like).hide();
                 $(btn_unlike).show();

                 var likes_cnt = parseInt($(rate_green).text());
                 likes_cnt -= 1;
                 if(likes_cnt == 0)
                 {
                   likes_cnt = '';
                 }
                 $(rate_green).text(likes_cnt);
               }
               else
               {
                 $(btn_like).show();
                 $(btn_unlike).hide();

                 if($(rate_green).text() == '')
                 {
                   $(rate_green).text('1');
                   $(rate_green).show();
                 }
                 else
                 {
                    var cnt = parseInt($(rate_green).text());
                    cnt += 1;
                   $(rate_green).text(cnt);
                 }
               }
               if(is_dislike_visibile != 'none')
               {
                 $(btn_dislike).hide();
                 $(btn_undislike).show();

                 var dislikes_cnt = parseInt($(rate_red).text());
                 dislikes_cnt -= 1;
                 if(dislikes_cnt == 0)
                 {
                   dislikes_cnt = '';
                 }
                 $(rate_red).text(dislikes_cnt);
               }
            }
            else if(rate_type == 'dislike-com-of-com')
            {
              if(is_dislike_visibile != 'none')
              {
                $(btn_dislike).hide();
                $(btn_undislike).show();

                var dislikes_cnt = parseInt($(rate_red).text());
                dislikes_cnt -= 1;
                if(dislikes_cnt == 0)
                {
                  dislikes_cnt = '';
                }
                $(rate_red).text(dislikes_cnt);;
              }
              else
              {
                $(btn_dislike).show();
                $(btn_undislike).hide();

                if($(rate_red).text() == '')
                {
                  $(rate_red).text('1');
                  $(rate_red).show();
                }
                else
                {
                   var cnt = parseInt($(rate_red).text());
                   cnt += 1;
                  $(rate_red).text(cnt);
                }
              }
              if(is_like_visibile != 'none')
              {
                $(btn_like).hide();
                $(btn_unlike).show();

                var likes_cnt = parseInt($(rate_green).text());
                likes_cnt -= 1;
                if(likes_cnt == 0)
                {
                  likes_cnt = '';
                }
                $(rate_green).text(likes_cnt);
              }
            }

          },
          error: function (response) {

          }
      })
  })
</script>

<script>
  var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
  $(".rate-com-form .ajax-rate-btn").click(function () {
      var rate_type = $(this).attr('name');
      parent  = $(this).parents('.rate-com-form').first();
      var com_pk = $(parent).find('.com_pk').val();
      $.ajax({
          type: 'POST',
          url: "{% url 'social:rate_com_save_ajax' %}",
          data: {'rate_type':rate_type,
                'com_pk':com_pk,
                'csrfmiddlewaretoken': csrftoken,
                },
          success: function (response) {
            var btn_like =  $(parent).find('.user_liked');
            var btn_dislike = $(parent).find('.user_disliked');
            var btn_unlike = $(parent).find('.user_unliked');
            var btn_undislike = $(parent).find('.user_undisliked');

            var is_like_visibile = $(btn_like).css('display');
            var is_dislike_visibile = $(btn_dislike).css('display');

            var rate_green = $(parent).find('.rate-count.rate-green');
            var rate_red = $(parent).find('.rate-count.rate-red');

            if(rate_type == 'like-com')
            {
               if(is_like_visibile != 'none')
               {
                 $(btn_like).hide();
                 $(btn_unlike).show();

                 var likes_cnt = parseInt($(rate_green).text());
                 likes_cnt -= 1;
                 if(likes_cnt == 0)
                 {
                   likes_cnt = '';
                 }
                 $(rate_green).text(likes_cnt);
               }
               else
               {
                 $(btn_like).show();
                 $(btn_unlike).hide();

                  if($(rate_green).text() == '')
                  {
                    $(rate_green).text('1');
                    $(rate_green).show();
                  }
                  else
                  {
                     var cnt = parseInt($(rate_green).text());
                     cnt += 1;
                    $(rate_green).text(cnt);
                  }
               }
               if(is_dislike_visibile != 'none')
               {
                 $(btn_dislike).hide();
                 $(btn_undislike).show();

                 var dislikes_cnt = parseInt($(rate_red).text());
                 dislikes_cnt -= 1;
                 if(dislikes_cnt == 0)
                 {
                   dislikes_cnt = '';
                 }
                 $(rate_red).text(dislikes_cnt);
               }
            }
            else if(rate_type == 'dislike-com')
            {
              if(is_dislike_visibile != 'none')
              {
                $(btn_dislike).hide();
                $(btn_undislike).show();

                var dislikes_cnt = parseInt($(rate_red).text());
                dislikes_cnt -= 1;
                if(dislikes_cnt == 0)
                {
                  dislikes_cnt = '';
                }
                $(rate_red).text(dislikes_cnt);
              }
              else
              {
                $(btn_dislike).show();
                $(btn_undislike).hide();

                if($(rate_red).text() == '')
                {
                  $(rate_red).text('1');
                  $(rate_red).show();
                }
                else
                {
                   var cnt = parseInt($(rate_red).text());
                   cnt += 1;
                  $(rate_red).text(cnt);
                }
              }
              if(is_like_visibile != 'none')
              {
                $(btn_like).hide();
                $(btn_unlike).show();

                var likes_cnt = parseInt($(rate_green).text());
                likes_cnt -= 1;
                if(likes_cnt == 0)
                {
                  likes_cnt = '';
                }
                $(rate_green).text(likes_cnt);
              }
            }

          },
          error: function (response) {

          }
      })
  })
</script>

<script>

function check_com_rating()
{
     var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
        $.ajax({
            type: 'GET',
            url: "{% url 'social:rate_com_refresh_ajax' %}",
            data: {'post_pk':$('#post_pk').val(),
                  'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function (response) {
              var curr_user = '';
              if($('#curr-user').length)
              {
                 curr_user = $('#curr-user').val();
              }
             for(var com_index=0;com_index<response.length;com_index++)
             {

               var com_pk = response[com_index]['com_pk']
               var com_obj = response[com_index]['items'];

               var cnt_likes = 0 ;
               var cnt_dislikes = 0;
               var is_user_liked = false;
               var is_user_disliked = false;

               for(var i=0;i<com_obj.length;i++)
               {
                  var rate_type = com_obj[i]['rate-type']

                   if(rate_type == 'like')
                   {
                       cnt_likes += 1;
                       if(com_obj[i]['user'] == curr_user)
                       {
                         is_user_liked = true;
                       }
                   }
                   if(rate_type == 'dislike')
                   {
                     cnt_dislikes += 1;
                     if(com_obj[i]['user'] == curr_user)
                     {
                       is_user_disliked = true;
                     }

                   }

               }
               var com_parent_selector = '#comment' + com_pk;
               if(cnt_likes > 0)
               {

                $(com_parent_selector + ' .rate-count.rate-green').text(cnt_likes);
                $(com_parent_selector + ' .rate-count.rate-green').show();

               }
               if(cnt_dislikes > 0)
               {

                 $(com_parent_selector + ' .rate-count.rate-red').text(cnt_dislikes);
                 $(com_parent_selector + ' .rate-count.rate-red').show();

               }
               if(cnt_likes == 0)
               {
                 $(com_parent_selector + ' .rate-count.rate-green').hide();
               }
               if(cnt_dislikes == 0)
               {
                 $(com_parent_selector + ' .rate-count.rate-red').hide();
               }
               if(is_user_liked)
               {
                 $(com_parent_selector + ' .user_liked').show();
                 $(com_parent_selector + ' .user_unliked').hide();
                 $(com_parent_selector + ' .user_disliked').hide();
                 $(com_parent_selector + ' .user_undisliked').show();

               }
               else if(is_user_disliked)
               {
                 $(com_parent_selector + ' .user_liked').hide();
                 $(com_parent_selector + ' .user_unliked').show();
                 $(com_parent_selector + ' .user_disliked').show();
                 $(com_parent_selector + ' .user_undisliked').hide();
               }
               else
               {
                 $(com_parent_selector + ' .user_liked').hide();
                 $(com_parent_selector + ' .user_unliked').show();
                 $(com_parent_selector + ' .user_disliked').hide();
                 $(com_parent_selector + ' .user_undisliked').show();
               }

             }


            },
            error: function (response) {
                console.log(response);
            }
        })
  }
</script>

  <script>
    var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
    $("#rate-post-form .ajax-rate-btn").click(function () {
        var rate_type = $(this).attr('name');
        $.ajax({
            type: 'POST',
            url: "{% url 'social:rate_post_save_ajax' %}",
            data: {'rate_type':rate_type,
                  'post_pk':$('#post_pk').val(),
                  'csrfmiddlewaretoken': csrftoken,
                  },
            success: function (response) {
              parent = $('#rate-post-form');
              var btn_like =  $(parent).find('.user_liked');
              var btn_dislike = $(parent).find('.user_disliked');
              var btn_unlike = $(parent).find('.user_unliked');
              var btn_undislike = $(parent).find('.user_undisliked');

              var is_like_visibile = $(btn_like).css('display');
              var is_dislike_visibile = $(btn_dislike).css('display');

              var rate_green = $(parent).find('.rate-count.rate-green');
              var rate_red = $(parent).find('.rate-count.rate-red');

              if(rate_type == 'like-btn')
              {
                 if(is_like_visibile != 'none')
                 {
                   $(btn_like).hide();
                   $(btn_unlike).show();

                   var likes_cnt = parseInt($(rate_green).text());
                   likes_cnt -= 1;
                   if(likes_cnt == 0)
                   {
                     likes_cnt = '';
                   }
                   $(rate_green).text(likes_cnt);;
                 }
                 else
                 {
                   $(btn_like).show();
                   $(btn_unlike).hide();

                   if($(rate_green).text() == '')
                   {
                     $(rate_green).text('1');
                     $(rate_green).show();
                   }
                   else
                   {
                      var cnt = parseInt($(rate_green).text());
                      cnt += 1;
                     $(rate_green).text(cnt);
                   }
                 }
                 if(is_dislike_visibile != 'none')
                 {
                   $(btn_dislike).hide();
                   $(btn_undislike).show();

                   var dislikes_cnt = parseInt($(rate_red).text());
                   dislikes_cnt -= 1;
                   if(dislikes_cnt == 0)
                   {
                     dislikes_cnt = '';
                   }
                   $(rate_red).text(dislikes_cnt);
                 }
              }
              else if(rate_type == 'dislike-btn')
              {
                if(is_dislike_visibile != 'none')
                {
                  $(btn_dislike).hide();
                  $(btn_undislike).show();

                  var dislikes_cnt = parseInt($(rate_red).text());
                  dislikes_cnt -= 1;
                  if(dislikes_cnt == 0)
                  {
                    dislikes_cnt = '';
                  }
                  $(rate_red).text(dislikes_cnt);
                }
                else
                {
                  $(btn_dislike).show();
                  $(btn_undislike).hide();

                  if($(rate_red).text() == '')
                  {
                    $(rate_red).text('1');
                    $(rate_red).show();
                  }
                  else
                  {
                     var cnt = parseInt($(rate_red).text());
                     cnt += 1;
                    $(rate_red).text(cnt);
                  }
                }
                if(is_like_visibile != 'none')
                {
                  $(btn_like).hide();
                  $(btn_unlike).show();

                  var likes_cnt = parseInt($(rate_green).text());
                  likes_cnt -= 1;
                  if(likes_cnt == 0)
                  {
                    likes_cnt = '';
                  }
                  $(rate_green).text(likes_cnt);
                }
              }

            },
            error: function (response) {

            }
        })
    })
</script>



<script>

function check_post_rating()
{
     var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
        $.ajax({
            type: 'GET',
            url: "{% url 'social:rate_post_refresh_ajax' %}",
            data: {'post_pk':$('#post_pk').val(),
                  'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function (response) {

              var cnt_likes = 0 ;
              var cnt_dislikes = 0;
              var is_user_liked = false;
              var is_user_disliked = false;
              var curr_user = '';

              if($('#curr-user').length)
              {
                 curr_user = $('#curr-user').val();
              }
              for(var i=0;i<response.length;i++)
              {
                  var rate_type = response[i]['rate-type']

                  if(rate_type == 'like')
                  {
                      cnt_likes += 1;
                      if(response[i]['user'] == curr_user)
                      {
                        is_user_liked = true;
                      }
                  }
                  if(rate_type == 'dislike')
                  {
                    cnt_dislikes += 1;
                    if(response[i]['user'] == curr_user)
                    {
                      is_user_disliked = true;
                    }

                  }
                 if(cnt_likes > 0)
                 {

                  $('#rate-post-form .rate-count.rate-green').text(cnt_likes);
                  $('#rate-post-form .rate-count.rate-green').show();

                 }
                 if(cnt_dislikes > 0)
                 {

                   $('#rate-post-form .rate-count.rate-red').text(cnt_dislikes);
                   $('#rate-post-form .rate-count.rate-red').show();

                 }

              }
              if(cnt_likes == 0)
              {
                $('#rate-post-form .rate-count.rate-green').hide();
              }
              if(cnt_dislikes == 0)
              {
                $('#rate-post-form .rate-count.rate-red').hide();
              }
              if(is_user_liked)
              {
                $('#rate-post-form .user_liked').show();
                $('#rate-post-form .user_unliked').hide();
                $('#rate-post-form .user_disliked').hide();
                $('#rate-post-form .user_undisliked').show();

              }
              else if(is_user_disliked)
              {
                $('#rate-post-form .user_liked').hide();
                $('#rate-post-form .user_unliked').show();
                $('#rate-post-form .user_disliked').show();
                $('#rate-post-form .user_undisliked').hide();
              }
              else
              {
                $('#rate-post-form .user_liked').hide();
                $('#rate-post-form .user_unliked').show();
                $('#rate-post-form .user_disliked').hide();
                $('#rate-post-form .user_undisliked').show();
              }

            },
            error: function (response) {
                console.log(response);
            }
        })
  }
</script>


{%endblock moreJs%}
