<!DOCTYPE html>
{%extends 'magazine/base.html'%}
{%load static%}


    <meta charset="utf-8">
    {%block title%}מאמר דעה{%endblock%}

   {%block moreLinks%}{%endblock moreLinks%}

     {%block body%}
    <div class="center">
     <div class="post">

       <span class="posttitle shiny-blue-clr">{{ object.title }}  </span>

       {% if object.author.profile.profile_img.url %}
           <a class="author big tiny-row-center-align"> <img class="tiny-avatar" src="{{object.author.profile.profile_img.url}}"/>  <span> {{object.author | safe}}</span> &nbsp; | &nbsp;
                <span>{{object.datepublished | date:'d/m/Y' | safe}}</span>
           </a>
       {% else %}
       <a class="author big tiny-row-end-align"> {% include 'members/default_profile_img.html' %}  <span>  {{object.author | safe}}</span> &nbsp; | &nbsp;
            <span>{{object.datepublished | date:'d/m/Y' | safe}}</span>
       </a>
       {% endif %}
       <div  class="subtitle">{{object.subtitle}}</div>
       <div class="thumb-holder">
         <img class="thumb  big" src="{{object.thumb.url}}" alt="">
         <div class="decortion-line"></div>
       </div>
       <div class="post-content">
        {{object.content | safe}}
       </div>
       {% if user.is_authenticated %}
           {% if object.author_id == request.user.id %}
       <div class = "submit-row submit-row-edit">
         <a style="text-decoration:none;" href="{% url 'magazine:updateRecord'  object.id %}">{%include 'magazine/components/btns/btnedit.html'%}</a>

       </div>
           {% endif %}
       {% endif %}
     </div>
   </div>
  {%endblock body%}
