<!DOCTYPE html>
{%load static%}
<html lang="he-IL" dir="rtl">


  <head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  {%block meta%}
  {%endblock meta%}
    <title>{%block title%}בלוג יהודונאציזם{%endblock%}</title>
    <link rel = "shortcut icon" href="{% static 'images/judonazimlogoglow.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'magazine/css/magazine.css' %}">
    <link rel="stylesheet" href="{% static 'magazine/css/article.css' %}">
    <link rel="stylesheet" href="{% static 'magazine/css/global.css' %}">
    {%block moreLinks%} {%endblock moreLinks%}

  <script>

      document.onkeydown = function (e) {
          if (event.keyCode == 123) {
              return false;
          }
          if (e.ctrlKey && e.shiftKey && (e.keyCode == 'I'.charCodeAt(0) || e.keyCode == 'i'.charCodeAt(0))) {
              return false;
          }
          if (e.ctrlKey && e.shiftKey && (e.keyCode == 'C'.charCodeAt(0) || e.keyCode == 'c'.charCodeAt(0))) {
              return false;
          }
          if (e.ctrlKey && e.shiftKey && (e.keyCode == 'J'.charCodeAt(0) || e.keyCode == 'j'.charCodeAt(0))) {
              return false;
          }
          if (e.ctrlKey && (e.keyCode == 'U'.charCodeAt(0) || e.keyCode == 'u'.charCodeAt(0))) {
              return false;
          }
          if (e.ctrlKey && (e.keyCode == 'S'.charCodeAt(0) || e.keyCode == 's'.charCodeAt(0))) {
              return false;
          }
      }
    </script>
  </head>

<body oncontextmenu="return false;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="GTakoGeS"></script>

     <div class="menu">
       {% if user.is_authenticated  %}
       <a class="menuItem" href="{% url 'logout' %}">
        <!--<span>צא</span>-->
        {% include 'magazine/components/svg/reverse.html' %}
       </a>
       {% endif %}
       <a class="menuItem" href="{% url 'magazine:magazineNews' %}">
         <!--<span>דף הבית</span>-->
         {% include 'magazine/components/svg/homepage.html' %}
       </a>

       {% if not user.is_authenticated %}
       <a class="menuItem" href="{% url 'users:SignUp' %}">
         <span>הירשם</span>
         {% include 'magazine/components/svg/signup.html' %}
       </a>
       <a class="menuItem" href="{% url 'login' %}">
        <span>התחבר</span>
       {% include 'magazine/components/svg/signin.html' %}
       </a>
       {% endif %}

       {% if user.is_authenticated %}

         {% if request.user.groups.all.0.name == 'owner' or request.user.groups.all.0.name == 'admin' %}
         <div class="menuItem">
      <!--    <span>האזור האישי</span>-->
           {% include 'magazine/components/svg/pen.html' %}
          <div>
          <a class="subMenuItem" href = "{% url 'magazine:myposts' %}">
           נהל בלוג אישי
          </a>
          <a class="subMenuItem" href="{% url 'magazine:enlightThePublic' %}">
            פרסם מאמר
          </a>

          {% if request.user.groups.all.0.name == 'owner'%}
          <a class="subMenuItem" href = "{% url 'magazine:userRoles' %}">
           ניהול מודרטורים והרשאות
          </a>
          {% endif %}
        </div>
       </div>
      {% endif %}
        <div class="menuItem">
          <!-- <span>חשבון</span>-->
          {% include 'magazine/components/svg/account.html' %}

         <div>
         <a class= "subMenuItem" href = "{% url 'users:profile_ctl' %}">
            עדכן חשבון
         </a>

         {% if user.profile.id %}

         <a class= "subMenuItem" href = "{% url 'users:UpdateProfile' user.profile.id %}">
         עדכן פרופיל
         </a>
         {% else %}
         <a class= "subMenuItem" href = "{% url 'users:CreateProfile' %}">
          צור פרופיל
         </a>
         {% endif %}
         <a class="subMenuItem" href = "{% url 'users:change-password' %}">
            שינוי סיסמא
         </a>
         <a class= "subMenuItem">
            תיבת דואר
         </a>
        </div>
       </div>

      <div class="menu-insights">
         <div class="super-tiny-row-center-align" style="margin-left:50px;gap:5px !important;">
         <span class="author" style="font-size:1rem;color:white;">{{user.username | safe}}</span>
         {% if user.profile.profile_img.url %}
         <span class="author"><img src="{{user.profile.profile_img.url | safe}}" alt="" class="very-tiny-avatar"></span>
         {% endif %}
       </div>
     </div>

    {% endif %}
   <a id="judo-logo-wrap" href="{% url 'magazine:magazineNews' %}" class="ice-cream-clr" style="align-self:center;">
     <div class="super-tiny-row-center-align stroke-white">
     <span>יהודו</span>
     {% include 'magazine/components/svg/judonazim.svg' %}
     <span>נאציזם</span>
   </div>
 </a>

   <div id="more-info"  style="align-self:center;">
     <div class="super-tiny-row-center-align stroke-white">
     <a class="copyright"  href="{% url 'magazine:about_ronny_the_nazi' %}"  style="cursor:pointer;display:flex;flex-direction:row;align-items:center;">
       <img src="{% static 'images/ronny.jpg' %}" class="round-styled-small-img-smaller" alt="">
       <span class="text-muted">רוני הנאצי/יהודונאציזם</span>
       © 2021
     </a>
   </div>
   </div>
     </div>




     <div class="arrow-up"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
   <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
 </svg></div>
 <div style="display:flex;flex-direction:row; justify-content:flex-start;align-items:flex-start;">
{%include 'components/sharestickybar.html'%}
{%block body%}

{%endblock body%}
</div>
{%include 'components/footer.html'%}
  <script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
  <script type="text/javascript" src="{% static 'magazine/js/magazine.js'%}"> </script>
  <script type="text/javascript" src="{% static 'magazine/js/posts.js'%}"> </script>
  <script type="text/javascript" src="{% static 'magazine/js/editPosts.js'%}"> </script>
  <script type="text/javascript" src="{% static 'magazine/js/global.js'%}"> </script>

 <script>
  $(document).bind("contextmenu", function(e) {
     e.preventDefault();
  });

</script>



  {%block moreJs%} {%endblock moreJs%}

  </body>

</html>
