{%extends 'magazine/base.html'%}
{%load static%}


    <meta charset="utf-8">
    {%block title%}הפוסטים שלך{%endblock%}

   {%block moreLinks%}<link rel="stylesheet" href="{% static 'magazine/css/editPosts.css' %}">{%endblock moreLinks%}

     {%block body%}
     <style>
       .icon-bar
       {
         display:none !important;
       }
     </style>
      {% if user.is_authenticated %}
         {% if post.author_id == request.user.id and request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'owner'  %}


     <div class="bodyrow">
       <div class="right-grey sides"></div>
    <div>


       <form  enctype="multipart/form-data" method="POST" style="background-color:white;width:100%;">
         {%csrf_token%}
         {{frm.media}}

         <div class="editfrm center" style="width:100%;">
          <div class="post" style="width:100%;">
            <div class="center" style="width:1000px;">
            <span>כותרת</span>
            {{frm.title}}

            </div>
            {% if post.author.profile.profile_img.url %}
            <a class="author big tiny-row-center-align"> <img class="tiny-avatar" src="{{post.author.profile.profile_img.url}}"/> <span>{{post.author | safe}}</span> &nbsp; | &nbsp;
                 <span>{{post.datepublished | date:'d/m/Y' | safe}}</span>
            </a>
            {% else %}
            <a class="author big tiny-row-center-align"> {% include 'members/default_profile_img.html' %} <span>{{post.author | safe}}</span> &nbsp; | &nbsp;
                 <span>{{post.datepublished | date:'d/m/Y' | safe}}</span>
            </a>
            {% endif %}
            <div class="center" style="width:1000px;">
            <span>כותרת משנה</span>
            {{frm.subtitle}}</div>

            <div class="center thumbnail">
            <div class="hidden">{{frm.thumb}}</div>
            <button type="button" class="trigger-upload">בחר תמונה</button>
            </div>

            <div class="thumb-holder">
                <img class="thumb  big preview" src="{{post.thumb.url}}" alt="">
                <div class="decortion-line"></div>
            </div>

            <div class="post-content center" style="width:1000px;">
              <div>
               {{frm.content | safe}}
               <div class="submit-row">
               {{frm.publishstatus | safe}}
               </div>
             </div>
            </div>
          </div>
        </div>

     <div class = "submit-row submit-row-edit">
       <a href="{% url 'magazine:myposts' %}">{%include 'magazine/components/btns/btnCancel.html'%}</a>
       {%include 'magazine/components/btns/btnDeleteTrans.html'%}
       {%include 'magazine/components/btns/btnSave.html'%}

     </div>
    </form>

  </div>
    <div class="left-grey sides"></div>
     </div>

         {% else %}
         <div class="center">
         <div class="writepost" style="width:80%;font-size:1rem !important;">
          <h1>אינך מורשה</h1>
          </div>
          </div>
        {% endif%}
    {% else %}
    <div class="center">
    <div class="writepost" style="width:80%;font-size:1rem !important;">
     <h1>אינך מחובר</h1>
     </div>
     </div>
    {% endif %}



     {%endblock body%}
