{%extends 'magazine/base.html'%}
{%load static%}
{%block title%}פרסם דעה{%endblock%}

{%block moreLinks%}<link rel="stylesheet" href="{% static 'magazine/css/writepost.css' %}"> {%endblock%}
{%block body%}
 {% if user.is_authenticated %}
<form  method = "post"  enctype="multipart/form-data">
  {%csrf_token%}
  {{frm.media}}
<div class="center">
<div class="writepost" style="width:80%;">
{{frm.author}}
<div class="center" style="width:100%;">
<span>כותרת</span>
{{frm.title}}
</div>

<div class="center" style="width:100%;">
<span>כותרת משנה</span>
{{frm.subtitle}}
</div>

<div class="center thumbnail">
{{frm.thumb}}
<button type="button" class="trigger-upload">בחר תמונה</button>
</div>

<div class="thumb-holder" style="display:none;">
    <img class="thumb  big preview"  src="" alt="">
    <div class="decortion-line"></div>
</div>

<div class="center">
<span>שתף כאן את דעותיך, ושנה את העולם</span>
{{frm.content}}

 <div class="submit-row">
 {{frm.publishstatus}}
 <button class="custom-btn drakula" type="submit" name="addpost">פרסם</button>
 </div>
</div>


 </div>
 </div>
 <script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
<script>
   var name  = "{{user.id}}";
  $("#author").val(name);

</script>
</form>
{% else %}
<div class="center">
<div class="writepost" style="width:80%;font-size:1rem !important;">





<h1>אינך מחובר</h1>

 </div>
 </div>

{% endif %}
{%endblock body%}

{%block moreJs%}  <script type="text/javascript" src="{% static 'magazine/js/writepost.js'%}"> </script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/custom_config1.js' %}"></script>



{%endblock moreJs%}
