.chat-path1.effect-active
{
  animation-name: c-quote-blink-red;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}
.chat-path2.effect-active
{
  animation-name: c-quote-blink-red2;
  animation-duration: 2s;
  animation-iteration-count: infinite;;
  /*animation-delay: 1s;*/
  /*animation-direction: alternate-reverse;*/

}

@keyframes spill-down /*hourgalss-waiting-animation*/
{
  0% {fill:#32B7B4;}
  90% {fill:transparent;}

}
@keyframes spill-middle
{
  0%
  {
    fill:#32B7B4;
  }
  90%
  {
   fill:transparent;
  }
}

@keyframes spill-up
{
  0%
  {
     fill:transparent;
  }
  90%
  {
    fill:#32B7B4;
  }

}
@keyframes flip-vertically
{
  0%
  {
     transform: rotate(0deg);
  }
  90%
  {
    transform: rotate(0deg);
  }
  100%
  {
   transform: rotate(180deg);
  }

}
.hourgalss_svg
{
  animation-name: flip-vertically;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.liquid_upper
{
  animation-name:spill-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.liquid_down
{
  animation-name:spill-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes c-quote-blink-red
{
  from
  {
    fill: white;
  }
  to
  {
    fill:#db0428;
  }

}

@keyframes c-quote-blink-red2
{
  0%
  {
    fill: transparent;
  }
  100%
  {
    fill:#db0428;
  }


}

.spill-middle
{
  animation-name:spill-middle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
