
.bodyrow
{
  display: flex;
  direction: rtl;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: stretch;
  background-color: inherit;
}
:root
{
  --deep-blue:-webkit-linear-gradient(180deg, #032ba3, #222530);
  --deep-blue-90:-webkit-linear-gradient(90deg, #032ba3, #222530);

  --ice-cream1:linear-gradient(-45deg,#9b0a9b, #ff003b, #ff1905);
  --ice-cream2:-webkit-linear-gradient(-45deg,#9b0a9b, #ff003b, #ff1905);

  --shiny-blue1:linear-gradient(-180deg,#0800ff, #03021c);
  --shiny-blue2:-webkit-linear-gradient(-180deg,#0800ff, #03021c);

  --bluish1:linear-gradient(90deg, #1f09b5, #002aa8);
  --bluish2:-webkit-linear-gradient(90deg, #1f09b5, #002aa8);
  --bluish3:-o-linear-gradient(90deg, #1f09b5, #002aa8);
  --bluish4:-moz-linear-gradient(90deg, #1f09b5, #002aa8);

  --obsolte: linear-gradient(90deg, #2d2d2d, #707070);
}
.bg-line
{
  background:-webkit-linear-gradient(180deg, #032ba3, #222530);
  opacity: 0.2;
  width: 100%;
  height:20px;
}
.blue-line
{
  width:100%;
  background: var(--deep-blue-90);
  height:20px;
  opacity: 0.5;

}
.left-grey
{
  background:-webkit-linear-gradient(180deg, #032ba3, #222530);
  opacity: 0.2;

  width: 100%;
}

.right-grey
{
  background:-webkit-linear-gradient(180deg, #032ba3, #222530);
  opacity: 0.2;

  width: 100%;
}
.btn:hover
{
  filter: brightness(90%);
}

.btn
{
  border:unset;
  background-color: unset;
  width:5rem;
  height:3.1rem;
  border-radius: 5px;
  font-family:david;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  direction: rtl;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.widden
{
  width:2000%;
}

.btndelete
{
  background-color: #f70206;
  color: #fbfbfb;
  font-weight: bolder;
  -webkit-box-shadow:inset 2px 2px 5px #990000;
}

.btnCancel:hover
{
  background-color: #2c02f7;
 -webkit-box-shadow:inset 2px 2px 5px #990000;
  color: #Fbfbfb;
}
.btnCancel
{
  background-color: #Fbfbfb;
  border: 2px solid #2c02f7;
  color: #2c02f7;
  font-weight: bolder;
  transition: all 0.5s;
}

.btnDeleteTrans:hover
{
  background-color: #DE0205;
 -webkit-box-shadow:inset 2px 2px 5px #f20000;
  color: #Fbfbfb;
}
.btnDeleteTrans
{
  background-color: #Fbfbfb;
  border: 2px solid #DE0205;
  color: #DE0205;
  font-weight: bolder;
  transition: all 0.5s;
}

.btnSave:hover
{
  background-color: #0EE146;
 -webkit-box-shadow:inset 2px 2px 5px #009607;
  color: #Fbfbfb;
}

.btnSave
{
  background-color: #Fbfbfb;
  border: 2px solid #0EE146;
  color: #0EE146;
  font-weight: bolder;
  transition: all 0.5s;
}

.btn-ico
{
  width: 25px;
  height:25px;
}
.btn-ico-white
{

}
.btnedit
{
  background-color: #000b5b;
  color: #fbfbfb;
  font-weight: bolder;
  -webkit-box-shadow:inset 2px 2px 5px #1b75fc;
}

.btnpublish
{

}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0a0909;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 30px;
}


::-webkit-scrollbar-thumb:hover {
  background:#000000;
  cursor: pointer;
}

.arrow-up:hover {
    background-color: rgb(63, 76, 236);
    color: rgb(244, 244, 248);
    cursor: pointer;
}

.arrow-up{

    border: 1px solid rgb(216, 218, 232);
    border-radius: 50%;

    color: rgb(63, 76, 236);
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 0;
    font-family:robot;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
