{% load static %}
<style>

  .sharethis-sticky-share-buttons.icon-bar {
   position: sticky !important;
   margin-top:200px !important;
   top:100 !important;
   z-index:900 !important;
  }

.icon-bar {
 position: sticky;
 margin-top:100px;
 top:100px;
 z-index:900;
}

.icon-bar a:not(#to-the-magazine) {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  /*border-radius:0%;*/


}

.icon-bar a:not(#to-the-magazine, #to-the-blog):hover {
  background-color: #000;
  margin-left:-60px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;

}

.facebook {
  background: #3B5998;
  color: white;

}
.facebook.solid-fa{

   background:#3d3d3d;
  /*background:#0e064c;*/
  color:white;
}

.twitter {
  background: #55ACEE;
  color: white;
}
.twitter.solid-fa
{
  background:#3d3d3d;
  /*background:#0e064c;*/
  color:white;
}
.whatsapp{
  background: #2dce89;
  color: white;

}
.whatsapp.solid-fa{
  background:#3d3d3d;
  /*background:#0e064c;*/
  color:white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.linkedin.solid-fa
{
  background:#3d3d3d;
  /*background:#0e064c;*/
  color:white;
}

.telegram {
  background: #5eb5e4;
  color: white;
}

.telegram.solid-fa{
  background:#3d3d3d;
  /*background:#0e064c;*/
  color:white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.bi-hand-index-fill, #to-the-magazine>span, #to-the-blog>span
{
  transition: all 0.3s;
}
#to-the-magazine
{
  text-decoration:none;
}
#to-the-magazine:visited
{
  color:unset;
}
#to-the-blog
{
  text-decoration:none;
}
#to-the-blog:visited
{
  color:unset;
}
</style>
<div class="icon-bar">
  <a id="to-the-blog" style="target:_self;display:none;flex-direction:column;align-items:center;position:sticky;cursor:pointer;" href="{% url 'blog:homepage' %}">
    <span style="color:#3d3d3d;font-family:robot;">לבלוג</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#3d3d3d" class="bi bi-hand-index-fill" viewBox="0 0 16 16">
    <path d="M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002z"/>
    </svg>
  </a>
  <a id="to-the-magazine" href="{% url 'magazine:magazineNews' %}" style="target:_self;display:flex;flex-direction:column;align-items:center;position:sticky;cursor:pointer;">
  <span style="color:white;font-family:robot;">למגזין</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-hand-index-fill" viewBox="0 0 16 16">
  <path d="M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002z"/>
  </svg>
  </a>
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=" class="fb-xfbml-parse-ignore facebook social-a"><i class="fa fa-facebook"></i></a>
  <a target="_blank" href="https://twitter.com/intent/tweet?text=קהילת+יהודונאצזים+ישראל.+יהודים+%26+בעד+גזענות&amp;url={% url 'blog:homepage' %}" class="twitter social-a"><i class="fa fa-twitter"></i></a>
  <a target="_blank" href="https://wa.me/?text=https%3A%2F%2F{% url 'blog:homepage' %}+-+יהודונאציזם+ישראל.+נאצים+יהודים+%26+האתר+הרשמי" class="whatsapp social-a"><i class="fa fa-whatsapp"></i></a>
  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={% url 'blog:homepage' %}&title=יהודונאציזם ישראל&summary=לא רןצים זרים במדינה ומותר לנו להיות גזענים&source=" class="linkedin social-a"><i class="fa fa-linkedin"></i></a>
  <a target="_blank" class="telegram social-a" href="https://telegram.me/share/url?url={% url 'blog:homepage' %}&text=גזענות מצילה חיים" target="_blank" title="שתף בטלגראם"><i class="fa fa-telegram"></i></a>
</div>

<script type="text/javascript" src="{% static 'plugins/jquery.js'%}"> </script>
<script type="text/javascript">

$('#to-the-magazine').mouseover(function(){
  $('.bi-hand-index-fill').css('fill', 'blue');
  $(this).children('span').css('color', 'red');
});
$('#to-the-magazine').mouseleave(function(){
  $('.bi-hand-index-fill').css('fill', 'white');
  $(this).children('span').css('color', 'white');
});

$('#to-the-blog').mouseover(function(){
  $('.bi-hand-index-fill').css('fill', 'black');
  $(this).children('span').css('color', 'black');
});
$('#to-the-blog').mouseleave(function(){
  $('.bi-hand-index-fill').css('fill', '#3d3d3d');
  $(this).children('span').css('color', '#3d3d3d');
});

$(document).ready(function(){

  var slug = '';
  var linkdin_slug = '';

  if($('.post-title-slug')[0])
  {
    slug = $('.post-title-slug').text();
    linkdin_slug = "&title=" + slug + "&summary=" + $('.post-subtitle-slug').text();
    linkdin_slug += "&source=" ;
  }

  else
  {

    slug = "קהילת+יהודונאציזם-+ישראל+יהודים+גזענים+גאים+שונאי+אשכנזים+האתר+הרשמי";
    slug += "%26";
    slug = slug + "גזענות+מצילה+חיים";
    linkdin_slug = "&title=יהודונאציזם ישראל&summary=לא רוצים זרים במדינה ומותר לנו להיות גזענים&source=";
  }
  $('.facebook').attr('href', "https://www.facebook.com/sharer/sharer.php?u=" + window.location.href);

  $('.twitter').attr('href', "https://twitter.com/intent/tweet?text=" + slug + "&amp;url=" + window.location.href);
  $('.whatsapp').attr('href', "https://wa.me/?text="  + window.location.href + "+-+" + slug);
  $('.telegram').attr('href', "https://telegram.me/share/url?url=" + window.location.href + "&text=" + slug);
  $('.linkedin').attr('href', "https://www.linkedin.com/shareArticle?mini=true&url=" +  window.location.href + linkdin_slug);

  if($('.icon-bar').parents('body').first().attr('id') != 'body-blog')
  {


   $('#to-the-magazine').hide();
   $('#to-the-blog').css('display', 'flex');

    $('.icon-bar .social-a').each(function(){

     if($(this).hasClass('solid-fa') == false)
    {

       $(this).addClass('solid-fa');
    }


    });
 }

});
</script>
