<ul id="ulpages">
  <li>
    <p>
      יותר נורמלי, שפוי, בריא ומוסרי, לחנך את ילדנו לפחד ולשנוא את השונה, מאשר לאהוב אותו
<br>
      אם נהוג ללמד ילדים לא לבטוח באנשים זרים, על אחת כמה וכמה שמדובר בזרים
<br>
      מגזעים ולאומים אחרים, במיוחד אם אלו גזעים של תתי אדם, כמו כושים וערבים
<br>
      וערבים הם גם זבל גנטי, גם מוסלמים, וגם אויבים שלנו
    </p>
    <div class="playlist">
    <audio id="aud1" controls>
        <source src="{{MEDIA_URL}}media/myvideos/bemoreracist/1.ogg" type="audio/ogg">
    </audio>
    <audio id="aud2" controls>
      <source src="{{MEDIA_URL}}media/myvideos/bemoreracist/2.ogg" type="audio/ogg">
    </audio>
    </div>
    <iframe width="640" height="360" scrolling="no" title="תהיו יותר גזענים אם אתם רוצים לשרוד" frameborder="0" style="border: none;" src="https://www.bitchute.com/embed/mzbUYeKTSEfi/"></iframe>
  </li>
</ul>
