{%load static%}
<ul id="ulpages" class="stopinheriting txtcenter50 regularfont">
  <li>
    <div class="column">
    <span class="subtitleraw blueglowclr smallgap">היו יותר גזענים אם אתם רוצים לשרוד</span>
    <video class="vid" poster="{%static 'images/bemoreracist.jpg'%}" controls>
      <source src="{{MEDIA_URL}}/media/myvideos/bemoreracist/bemoreracist.mp4" type="video/mp4">
    </video>
    </div>
  </li>
  <li class="regularfont">
    <p>
      ישראל המדינה הכי פחות גזענית בעולם וזה אסון
    </p>
        <div>
          <audio id="aud3" controls>
              <source src="{{MEDIA_URL}}media/myvideos/bemoreracist/3.ogg" type="audio/ogg">
          </audio>
          </div>
          <p>
            יותר נורמלי, שפוי, בריא ומוסרי, לחנך את ילדנו לפחד ולשנוא את השונה, מאשר לאהוב אותו
        <br>
            אם נהוג ללמד ילדים לא לבטוח באנשים זרים, על אחת כמה וכמה שמדובר בזרים
        <br>
            מגזעים ולאומים אחרים, במיוחד אם אלו גזעים של תתי אדם, כמו כושים וערבים
        <br>
            וערבים הם גם זבל גנטי, גם מוסלמים, וגם אויבים שלנו
          </p>
          <div>
        <audio id="aud1" controls>
            <source src="{{MEDIA_URL}}media/myvideos/bemoreracist/1.ogg" type="audio/ogg">
        </audio>
        <audio id="aud2" controls>
          <source src="{{MEDIA_URL}}media/myvideos/bemoreracist/2.ogg" type="audio/ogg">
        </audio>
        </div>
  </li>
</ul>
