
<style>
  .brothers-row
  {
    direction:rtl;
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-item:flex-start;
    gap:0px;
    width:100%;
    font-size:15px;
  }

  .fixedcol
  {
    display:flex;
    direction:right;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    height:50px;
  }
  .brothers-row img
  {

   width:98% !important;
   height:200px !important;
  }
</style>
<ul id="ulpages" class="txtcenter">
<li class="regularfont">
<p>
<br>
1)פלורליזם זה תמיד טוב לאשכנזים, כי ככה הם יכולים לעשות הפרד ומשול ולמשול.
<br>
2)התדמית שלהם בעולם, ליתר דיוק בעולם המפותח המערבי, בעיקר בארה"ב, אצל האדם הלבן, כדי שלא יוכלו לפצות פה ולומר שאשכנזים הם בעלי מוסר כפול, שהם לוחמי צדק חברתי נגד גזענות במדינות של האדם הלבן, אבל בישראל היהודית עושים ההפך. יש בזה מעין מס שפתיים.
<br>
3)מאותה סיבה שהם הביאו גם הגירה המונית של אינדוניזם(פיליפינים למשל), אריתראים, סומלים, הודים, ניגרים, וכו', כדי להחליף את המזרחים בעובדים זרים אחרים, ככל שהכלכלה והתעשייה תהיה פחות תלויה בידיים של מזרחים, ככה מעמדם של המזרחים נחלש במדינה, כי הם פחות תלויים בהם, ואז יהיה להם יותר קל להיפטר ולזרוק את המזרחים, ולמנוע מהם להשתלט על המדינה ולשנות את הצביון.
<br>
4)כדי להציג את המזרחים כגזענים כלפי האתיופים.
<br>
5) כדי שמזרחים יהיו שקועים בעוני, ובעיות פנימיות, וכך לא יוכלו להרים ראש ולמרוד נגד המשטר, על אותו עיקרון שהכניסו את האריתראים, והסודנים לדרום תל אביב, מזרחים צריכים להתמודד עם אוכלוסיה עם מנת משכל נמוכה, ונטיה גבוהה לפשיעה ואלימות, וזה גוזל להם זמן ואנרגיה כדי להילחם או אפילו לשים לב לעוולות השלטון האשכנזי
<br>
6)כדי להדיר את רגליהם של מזרחים גם מהאוניברסיטאות, ומעמדות כוח אחרות, בפוליטיקה ובממשל, וכיוצא בזה. על ידי חוקי העדפה מתקנת לאתיופים.
<br>
7) מאחר ולאתיופים ולאפריקאים(ניגרואידים) אחרים, יש איי קיו נמוך במיוחד, קל לתמרן אותם, כדי להפוך אותם לקהל בוחרים עבור מפלגות שמאל או ימין מזוייף, למשל מספיק שזו תהיה מפלגה שתציע להם דברים בחינם.
</p>

<video id="m1" class="vid m" controls>
    <source src="{{MEDIA_URL}}media/myvideos/diversity/videos/diversityisbad.mp4" type="video/mp4">
</video>
</li>

<li class="regularfont">
  <div class="column">
  <p>
  מדינת ישראל עוד 5 שנים מהיום, מדינת כל אזרחיה - פלורליזם, כור היתוך, גיוון, מונע מחלות גנטיות
  <br>
  להחליף אותנו סתם קונספירציה, וחוץ מזה מה זה משנה, ילדים מעורבים יותר בריאים חכמים ויפים
  <br>
  אבל אין כזה דבר גזעים,  כולנו התפתחנו מאפריקאים, וכולנו מעורבבים בכל מקרה, וכל ההבדלים בין
  <br>
  גזעים שונים זה נטו רק בגלל תרבות ושום דבר אחר, הסרטן האמתי זה הגזענות, לא האלימות של
  <br>
  האפריקאים והמוסלמים, רב תרבותיות זה כוח, רב גזעיות זה כוח, גזענות זה רע אבל אין כזה דבר
  <br>
  גזעים. אין כזה דבר גזעים אבל חברה הומוגנית גזעית זה משעמם, הכי פחות משעמם זה שהעם שלנו יכחד
  <br>
  </p>
  <video id="m2" class="vid m" controls>
      <source src="{{MEDIA_URL}}media/myvideos/diversity/videos/israelfuture.mp4" type="video/mp4">
  </video>
</div>
</li>

<li class="regularfont">
  <div class="column">
    <span>הקומוניזם/פלורליזם הורג! הגזענות הורגת את האויב</span>
    <span>לכן, גזענות מצילה חיים, הסובלנות דווקא הורגת</span>
    <video class="vid" controls>
        <source src="{{MEDIA_URL}}media/myvideos/diversity/videos/diversityisdisaster.mp4" type="video/mp4">
    </video>

  <p>
כושים לא מפגרים ואלימים בגלל התרבות, התרבות שלהם נחשלת בגלל שהם גנטית וביולוגית מפגרים ואלימים.
  <br>
הדרך היחידה לכפות עלנו רב-גזעיות/פלורליזם זה באמצעות דיקטטורה, וזו הסיבה שאשכנזים לא באמת בעד דמוקרטיה
  <br>
שהם משקרים שהם בעד לשמור על הדמוקרטיה, הם בעצם מתכוונים שהם שומרים על מונופול החוק שלהם בבג"ץ ובתקשורת
  </p>
  <audio id="m3" class="aud m" controls>
      <source src="{{MEDIA_URL}}media/myvideos/diversity/audio/diversityisunnatural.mp3" type="audio/mp3">
  </audio>
  </div>
</li>

<li class="regularfont">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/utubepromotediversity.jpg" alt="">
  <p>
האשכנזים מקדמים ערוצים שמעודדים כושים לזיין את הנשים שלנו, זו גם המטרה של הפמיניזם
<br>
שהעם שלנו לא יתרבה, כדי שנהפוך להיות מיעוט בארצנו, בגלל זה האשכנזים מקדמים גם נישואי תערובת וגם פמיניזם בו זמנית
<br>
</p>
<br>
<br>
<p>
התעמולה בערוצי המדיה האשכנזים שנועדה להשמיד את הגזע היהודי הלבן בגזעים כושים, וגזעים חייזרים אחרים, נמצאת בכל מקום ובכל פינה
</p>
<img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/1.jpg" alt="">
<img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/2.jpg" alt="">
<img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/3.jpg" alt="">
</li>
<li class="regularfont">
  <p>
  התעמולה בערוצי המדיה האשכנזים שנועדה להשמיד את הגזע היהודי הלבן בגזעים כושים, וגזעים חייזרים אחרים, נמצאת בכל מקום ובכל פינה
  </p>
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/4.jpg" alt="">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/5.jpg" alt="">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/6.jpg" alt="">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/7.jpg" alt="">
</li>
<li>
  <div class="column">
    <div class="txtcenter">
      <p>
    <span>זה מה שמראים במאקו, תעמולה שנועדה להעריץ תתי אדם וכושים</span>
     <span>מאקו האשכנזי - תעמולה בעד בגידה/קוקוהולדינג, השפלת הבעל, והרס התא המשפחתי</span>
     </p>
    </div>
    <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/makocuteniggerbaby.jpg" alt="">

    <div class="txtcenter">
      <p>
    <span>ערוץ יוטיוב בעידוד ותמיכה אשל אשכנזים</span>
     <span>מעודדים כושים לזיין את נשותנו</span>
     </p>
    </div>
    <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/utubepromotediversitry.jpg" alt="">

    <div class="txtcenter">
   <p>
     <span>זה מעורר בי חלחלה ששמים תמונה של כושית מכוערת בתור אילוסטרציה</span>
     <span>למה כושיות הן אובייקטיבית מכוערות ומגעילות, (וגם גברים כושים אבל חלק ממה שאני רושם כאן זה תקף בעיקר לנשים כושיות)</span>
     <span>האגן שלהן צר ביחס לכתפיים וארוך, הכתפיים שלהן נוטות להיות יותר רחבות ביחס לאגן עם צורה יותר מרובעת,</span>
     <span>הגוף שלהן שרירי ביחס לנשים אחרות, עצמות של כושיות יותר עבות מעצמות של נשים לבנות.</span>
     <span>יש להן גפיים ארוכות ביחס לשאר הגוף כמו של שימפנזים, יש להן לסת שמוסטת קדימה,</span>
     <span>ופנים שמתאפיינות בפרוגנטיזם בדומה לקופי-אדם ובעלי חיים אחרים,</span>
     <span>מבנה הגולגולת שלהן פרמיטיבי ויותר מזכיר את זו של שימפנזה או הומינדים רחוקים שנכחדו מאשר גזעים אחרים.</span>
     <span>יש להן אף רחב ושטוח, שפתיים עבות כמו של ברווז, עיני שקד מלוכסנות רחבות ומכוערות,</span>
     <span>עמוד השדרה שלהן שטוח יותר, פחות עקמומי, ובאופן כללי הגוף שלהן נוטה להיות פחות מקומר משל נשים מגזעים אחרים.</span>
     <span>הקול שלהן נשמע גברי, ריח גופן פוגעני, שיערן מכוער, עורן נוטה להיות בעל מרקם קשה ומחוספס,</span>
     <span>השדיים שלהן  בעלי מרקם קשה, וצורה פחות נשית,  יש לכושים בטן מאוד גדולה בדומה לשימפנזים ופרימיטים אחרים,</span>
     <span>ושיניים גדולות. הם נראים כמו הומו-הרקטוס.</span>
   </p>
  </div>
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/wallauglyniggerfemale.jpg" alt="">
</li>
<li>
  <div class="column">
    <p>
      <span>למרות כל התעמולה בתקשורת האשכנזית בעד נישואים רב-גזעיים</span>
      <span>המציאות מוכיחה אחרת</span>
      <span>אלו נתונים סטטיסטית שלא ניתן להתווכח עליהם</span>
      <span>בגרף מתחת מתסבר שנישואים בין גזעים הכי פחות יציבים</span>
      <span>ונישואים בין גבר כושי לאישה לבנה, הם הכי מועדים להסתיים בגירושים</span>
      <span>גבר שחור עם אישה לבנה, סיכוי פי 2 יותר גבוה לגירושים</span>
      <span>פה מתייחסים על גבר כושי, אז אי אפשר להסיק מה הסיכוי לגרושים במקרה של גבר מזרחי עם אישה לבנה,</span>
      <span>אך מאחר שגם במקרה של גבר סיני עם אישה לבנה יש סיכוי הרבה יותר גבוה לגירושים,</span>
      <span>ניתן להעריך כי ככל הנראה, נשואים בין גבר מזרחי לאישה אירופאית הם פחות יציבים, מנשואים בין לבן ללבנה.</span>
     <span>מסקנה, נשואים בין גזעים שונים נוטים להיות פחות יציבים, אלא אם הגבר שייך לגזע הנעלה, והאישה לגזע הנחות,</span>
     <span>אז הנשואים אולי יותר יציבים, בגלל שנקבות הן היפרגמיות וגברים לא.</span>
    </p>
    <img src="{{MEDIA_URL}}media/myvideos/diversity/interacialmarrigae/highestdivorcerate.jpg" alt="">
  <p class="txtcenter">
    <span>ולמרות התת-תרבות המאוסה והכפויה של התקשורת הישראלית/אשכנזית</span>
    <span>להעריץ תתי-אדם כמו כושים, ולייצר מעין בועת פנטזיה</span>
    <span>שכאלו כושים הם גברים יותר אטרקטיבים, בגלל מההה זין,</span>
    <span>כושים נמצאים בתחתית הדירוג הן אצל נשים והן אצל גברים.</span>
    <span>גם נשים וגם גברים נמשכים יותר לבן/בת זוג לבנה.</span>
    <span>ולמה זה אמור להפתיע? למה שנשים ימשכו להומו-הרקטוס יותר מאשר להומוספיינס?</span>
      </p>

<div class="brothers-row" style="margin-bottom:20px;">
  <div class="column">
    <div class="fixedcol">
  <p class="txtcenter">
  <span class="redglowclr">גרף שמראה שחוץ מכושיות, כל הנשים, מכל הגזעים,</span>
  <br>
  <span class="redglowclr">הכי פחות מעדיפות כושים</span>
  <br>
  </p>
  </div>
  <img src="{{MEDIA_URL}}media/myvideos/diversity/interacialmarrigae/blackattractivemyth.jpg" alt="" style="border:salmon 2px solid;" >
 </div>
  <div class="column">
    <div class="fixedcol">
    <p class="txtcenter">
      <span class="blueglowclr">אצל גברים זה אפילו יותר גורף,</span>
      <span class="blueglowclr">כל הגברים, מכל הגזעים, כולל כושים,</span>
      <br>
      <span class="blueglowclr">הכי פחות נמשכים לכושיות,</span>
    </p>
    </div>
   <img src="{{MEDIA_URL}}media/myvideos/diversity/interacialmarrigae/lessattractedtoblacks.jpg" alt="" style="border:blue 2px solid;">
  </div>
  </div>
  </div>
</li>
</ul>
