

<ul id="ulpages" class="txtcenter">
<li class="regularfont">
<p>
<br>
1)פלורליזם זה תמיד טוב לאשכנזים, כי ככה הם יכולים לעשות הפרד ומשול ולמשול.
<br>
2)התדמית שלהם בעולם, ליתר דיוק בעולם המפותח המערבי, בעיקר בארה"ב, אצל האדם הלבן, כדי שלא יוכלו לפצות פה ולומר שאשכנזים הם בעלי מוסר כפול, שהם לוחמי צדק חברתי נגד גזענות במדינות של האדם הלבן, אבל בישראל היהודית עושים ההפך. יש בזה מעין מס שפתיים.
<br>
3)מאותה סיבה שהם הביאו גם הגירה המונית של אינדוניזם(פיליפינים למשל), אריתראים, סומלים, הודים, ניגרים, וכו', כדי להחליף את המזרחים בעובדים זרים אחרים, ככל שהכלכלה והתעשייה תהיה פחות תלויה בידיים של מזרחים, ככה מעמדם של המזרחים נחלש במדינה, כי הם פחות תלויים בהם, ואז יהיה להם יותר קל להיפטר ולזרוק את המזרחים, ולמנוע מהם להשתלט על המדינה ולשנות את הצביון.
<br>
4)כדי להציג את המזרחים כגזענים כלפי האתיופים.
<br>
5) כדי שמזרחים יהיו שקועים בעוני, ובעיות פנימיות, וכך לא יוכלו להרים ראש ולמרוד נגד המשטר, על אותו עיקרון שהכניסו את האריתראים, והסודנים לדרום תל אביב, מזרחים צריכים להתמודד עם אוכלוסיה עם מנת משכל נמוכה, ונטיה גבוהה לפשיעה ואלימות, וזה גוזל להם זמן ואנרגיה כדי להילחם או אפילו לשים לב לעוולות השלטון האשכנזי
<br>
6)כדי להדיר את רגליהם של מזרחים גם מהאוניברסיטאות, ומעמדות כוח אחרות, בפוליטיקה ובממשל, וכיוצא בזה. על ידי חוקי העדפה מתקנת לאתיופים.
<br>
7) מאחר ולאתיופים ולאפריקאים(ניגרואידים) אחרים, יש איי קיו נמוך במיוחד, קל לתמרן אותם, כדי להפוך אותם לקהל בוחרים עבור מפלגות שמאל או ימין מזוייף, למשל מספיק שזו תהיה מפלגה שתציע להם דברים בחינם.
</p>

<video id="m1" class="vid m" controls>
    <source src="{{MEDIA_URL}}media/myvideos/diversity/videos/diversityisbad.mp4" type="video/mp4">
</video>
</li>

<li class="regularfont">
  <div class="column">
  <p>
  מדינת ישראל עוד 5 שנים מהיום, מדינת כל אזרחיה - פלורליזם, כור היתוך, גיוון, מונע מחלות גנטיות
  <br>
  להחליף אותנו סתם קונספירציה, וחוץ מזה מה זה משנה, ילדים מעורבים יותר בריאים חכמים ויפים
  <br>
  אבל אין כזה דבר גזעים,  כולנו התפתחנו מאפריקאים, וכולנו מעורבבים בכל מקרה, וכל ההבדלים בין
  <br>
  גזעים שונים זה נטו רק בגלל תרבות ושום דבר אחר, הסרטן האמתי זה הגזענות, לא האלימות של
  <br>
  האפריקאים והמוסלמים, רב תרבותיות זה כוח, רב גזעיות זה כוח, גזענות זה רע אבל אין כזה דבר
  <br>
  גזעים. אין כזה דבר גזעים אבל חברה הומוגנית גזעית זה משעמם, הכי פחות משעמם זה שהעם שלנו יכחד
  <br>
  </p>
  <video id="m2" class="vid m" controls>
      <source src="{{MEDIA_URL}}media/myvideos/diversity/videos/israelfuture.mp4" type="video/mp4">
  </video>
</div>
</li>

<li class="regularfont">
  <div class="column">
  <p>
כושים לא מפגרים ואלימים בגלל התרבות, התרבות שלהם נחשלת בגלל שהם גנטית וביולוגית מפגרים ואלימים.
  <br>
הדרך היחידה לכפות עלנו רב-גזעיות/פלורליזם זה באמצעות דיקטטורה, וזו הסיבה שאשכנזים לא באמת בעד דמוקרטיה
  <br>
שהם משקרים שהם בעד לשמור על הדמוקרטיה, הם בעצם מתכוונים שהם שומרים על מונופול החוק שלהם בבג"ץ ובתקשורת
  </p>
  <audio id="m3" class="aud m" controls>
      <source src="{{MEDIA_URL}}media/myvideos/diversity/audio/diversityisunnatural.mp3" type="audio/mp3">
  </audio>
  </div>
</li>

<li class="regularfont">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/utubepromotediversity.jpg" alt="">
  <p>
האשכנזים מקדמים ערוצים שמעודדים כושים לזיין את הנשים שלנו, זו גם המטרה של הפמיניזם
<br>
שהעם שלנו לא יתרבה, כדי שנהפוך להיות מיעוט בארצנו, בגלל זה האשכנזים מקדמים גם נישואי תערובת וגם פמיניזם בו זמנית
<br>
</p>
<br>
<br>
<p>
התעמולה בערוצי המדיה האשכנזים שנועדה להשמיד את הגזע היהודי הלבן בגזעים כושים, וגזעים חייזרים אחרים, נמצאת בכל מקום ובכל פינה
</p>
<img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/1.jpg" alt="">
<img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/2.jpg" alt="">
<img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/3.jpg" alt="">
</li>
<li class="regularfont">
  <p>
  התעמולה בערוצי המדיה האשכנזים שנועדה להשמיד את הגזע היהודי הלבן בגזעים כושים, וגזעים חייזרים אחרים, נמצאת בכל מקום ובכל פינה
  </p>
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/4.jpg" alt="">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/5.jpg" alt="">
  <img src="{{MEDIA_URL}}media/myvideos/diversity/adspromotediversity/6.jpg" alt="">

</li>
</ul>
