
{%load static%}
<ul id="ulpages">
  <li>
<p>
  אנשים מאמינים, חשוכים , פרמיטיבים, חמומי מוח, קולנים גסי רוח חסרי כל נימוס, מכוערים, אלימים, או טיפשים(בדרך כלל מאמינים הם טיפשים) ויש להם טעם גרוע במוזיקה(אוהבים מוזיקה "מזרחית")
  <br>
צריכים להתרבות פחות או לא להתרבות בכלל,בכל דור נתון, כדי שהדור הבא יהיה יותר טוב מהדורות הקודמים, ולחזור על התהליך בכל דור,
  <br>
כי תמיד אפשר להוביל לשיפור עד אינסוף, אאוגניקה זה בעצם הדרך של בני אדם לעשות את האבולוציה של עצמם,
<br>
<div class="vidholder floatboth">

<video class="vid" controls>
  <source src="{{MEDIA_URL}}media/myvideos/eugenics/videos/eugenics.mp4" type="video/mp4">
</video>

</div>
במקום לחכות לברירה הטבעית שתפעל באורח לא צפוי, אנחנו באמצעות הפריה סלקטיבית מייצרים לחץ של ברירה טבעית
<br>
שמוביל לשיפור במאגר הגנטי של הגזע, ובכך משנים אותו, והופכים אותו לגזע יותר נעלה.
<br>
<br>
כמובן, שכרגע עם כל הערבים והכושים, אני נגד לעקר כל מזרחי
<br>
אין מה לדבר על עיקור שאנחנו בנחיתות מספרית מול האויבים התתי אדם שלנו, הערבים
</p>

</li>
</ul>
