{%load static%}
<ul id="ulpages">
  <li>
    <br>
    <div class="column txtcenter">


    <div class="vidandtitlecontainer tall">
    <img class="imgtitle" src="{%static 'images/femalesagainstdeportion.jpg'%}" alt="">
    <div class = "ptitle bg">

      <h3 class = "ptitle redbg">נקבות בקבלת החלטות = אסון לאומי והרס הציבליזציה</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/femalesdestroynations.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    <div class="vidandtitlecontainer bg red"></div>
    </div>

  {%include 'tableofcontent/txt/feminismsloganfooter.html'%}
  </div>
  </li>
</ul>
