{%load static%}
<ul id="ulpages" class="txtcenter50">
  <li>
    <div class="column">
    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle bluebg">כאן אני מסביר למה פמיניזם זה רצח העם של היהודים</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/feminismjewgenocide/jewgenocide.mp4" type="video/mp4">
    </video>
    <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
      <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
    </div>
    </div>
    <div class="vidandtitlecontainer bg purple"></div>
    </div>
    <div class="row">
      <span class="blueglowclr">
        פמיניזם = נשק עוצמתי שטני של אשכנזים פושעים מרצחים
        <br>
         ורקובים לחתור נגד ישראל ולהשמיד את המדינה היהודית.</span>
      <audio id="aud3" controls>
          <source src="{{MEDIA_URL}}media/myvideos/feminism/ashksandfeminsim/ashkenazimusefemalesasshield.ogg" type="audio/ogg">
      </audio>
      </div>
{%include 'tableofcontent/txt/feminismsloganfooter.html'%}
</div>
  </li>

  <li>
    <div class="column">
    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle bluebg">את קודם כל אישה, רק בסוף יהודיה</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/feminismjewgenocide/firstfemalelastjew.mp4" type="video/mp4">
    </video>
    <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
      <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
    </div>
    </div>
    <div class="vidandtitlecontainer bg orange"></div>
    </div>
    {%include 'tableofcontent/txt/feminismsloganfooter.html'%}
    </div>
  </li>

</ul>
