<style>
#stairs
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:25px;
  font-family:sans-serif;
  margin-top:50px;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke-color:black;
  -webkit-text-stroke-width:1px;
   background-image:var(--bg-red,--bg-red2);
   filter:drop-shadow(1px 1px 10px orange);
   width:100%;
}

</style>
<div id="stairs" class="notdefaultfont">
     <div><span style="font-size:25px;line-height:0;">פמיניזם=נקביזם</span></div>
     <div><span style="font-size:30px;line-height:0;">פמיניסטיות=נקביסטיות</span></div>
     <div><span style="font-size:45px;line-height:0;">פמיניסטית=נקביסטית</span></div>
  </div>
