{%load static%}

<ul id="ulpages" style="text-align:center;">
  <li>
    <div class="whitecanavasptitle">
    <h3 class="ptitle redbg refineedges">כך התקשורת האשכנזית מזייפת מקרי גבורה של נשים
        <div class="darkgrey refineedges">
    שמעולם לא היו קיימים, אשכנזים משקרים לכם בכוונת זדון
    </div>
     </h3>
     </div>

    <br><br>
<div class="column">
  <span class="subtitle redglowclr">כך עובדת השיטה</span>
</div>
<br><br>
     <div class="column smallgap">

       <div class="rowmedia">
         <span class="ordernum blueglowclr">1</span>
           <div class="quote">
            <div class="content mini smallfont notdefaultfont clrlight borderdarkright">
         <span>כך עובדת השיטה</span>
          <span>התשקורת האשכנזית מחפשת בנרות</span>
          <span>כל מקרה שאישה היתה מעורבת בהיתקלות עם טרוריסטים ערבים</span>
           <span>מקרים כאלו הרי נדירים כמו ליקוי חמה</span>
           <span>לכן גם אם אכן היו מעט נקבות שהגיבו בגבורה</span>
           <span>היוצא מהכלל אינו אמור להעיד על הכלל</span>
           <span>אבל גבר סיים קורס טיס זו סתם סטטיסטיקה</span>
           <span>נקבה סיימה קורס טיס, זה כמו כושי שסיים תואר דוקטורט במתמטיקה</span>
         </div>
         <div class="bgCover black"></div>
        </div>
     <img class="imgIdf" src="{{MEDIA_URL}}media/myvideos/feminism/feminismdestroyidf/medialiesonfemalecontribution/1.jpg" alt="">
     </div>

     <div class="rowmedia">
       <span class="ordernum blueglowclr">2</span>
       <div class="quote">
        <div class="content mini notdefaultfont smallfont clrlight borderdarkright">
       <span>אפילו אם היה לה רק חלק מינורי ביותר</span>
        <span>למשל, היא היתה רק חלק מכוח גדול של חיילים</span>
        <span>שחיסלו את הערבי הטרוריסט</span>
        <span>אפילו אם הכדור שלה הוא לא זה שהרג את הטרוריסט</span>
        <span>ואפילו אם היא לא ירתה בכלל</span>
        <span>מספיק שהיא רק נכחה שם</span>
        <span>כל עוד לא הגיבה בפחדנות וברחה וצרחה הצילו</span>
        </div>
        <div class="bgCover black"></div>
       </div>
       <img class="imgIdf" src="{{MEDIA_URL}}media/myvideos/feminism/feminismdestroyidf/medialiesonfemalecontribution/2.jpg" alt="">
     </div>


    <div class="rowmedia">
      <span class="ordernum blueglowclr">3</span>
      <div class="quote">
       <div class="content mini notdefaultfont smallfont clrlight borderdarkright">
      <span>אז זה מספיק לזכות אותה בצל"ש</span>
      <span>למלא את כל ערוצי התקשורת בכותרות ענק</span>
      <span>של שמה של החיילת, כולל תמונה</span>
      <span>להציג את כאלו היא זו שחסלה את הטרוריסט</span>
      <span>להתעלם, להסתיר ולא להזכיר את שמותיהם של הגברים שחיסלו את הטרוריסט באמת</span>
      <span>ואתם יודעים מה הכי גרוע?</span>
      <span>שלא רק שלא היה לה שום חלק בחיסול</span>
      <span>היא סתם עוד מקרה נוסף בסטטיסטיקה של נקבה שהגיבה בהיסטריה בהלה וחוסר תפקוד מוחלט</span>
      <span>וזה למרות שהיא עם נשק וצוות גדול של לוחמים</span>
      <span>והטרוריסט הערבי רק עם סכין</span>
     </div>
    <div class="bgCover black"></div>
    </div>
     <img class="imgIdf" src="{{MEDIA_URL}}media/myvideos/feminism/feminismdestroyidf/medialiesonfemalecontribution/3.jpg" alt="">
     </div>

     <div class="quote rowmedia" style="width:100%;border-radius:10px;">


       <div class="abscontainer middlerowshadow">
       <div class="content middlerowshadow clrwhite rowmedia redbg">

       <span>והמסקנה של ערוצי התקשורת האשכנזית?</span>
       <span>השוויון בצה"ל מעולה, נהדר, תורם לצה"ל</span>
       <span>ולא מחליש את בטחון המדינה כלל, הכל בסדר, שנו במנוחה</span>
         </div>
       <div class="bgCover deepredbg" style="border-radius:10px;"></div>
       </div>


     </div>

</div>
  </li>

  <li class="column">
   <div class="column">
     <p>
       <span>השוויון בצה"ל הרס את היכולת המבצעית ואת כושר ההרתעה של צה"ל</span>
<span>מצבא שחותר למגע עתור בתהילה של מלחמת יום כיפור וששת הימים</span>
<span>הפכנו לצבא של פות שמכיל, כלומר לצבא שדומה לאבר מין נשי, שמכיל בולבולים של האויב</span>
<span>בצבא אין מקום לשוויון, צבא חייב להיות פטריארכלי</span>
<span>במיוחד במדינת ישראל לנוכח כל האיומים הקיומים מסביב</span>
<br><br>
<span><b><u>הערה חשובה</u></b></span>
<br>
<span>לא רק הצבא חייב להיות פטריארכלי, אלא גם המדינה חייבת להיות פטריארכלית</span>
<br>
<span>מקורות</span>
<br>
<a href="https://www.sciencedaily.com/releases/2007/11/071119170133.htm">מאמר שהתפרסם במגזין המדעי, הראה שיש שוני עצום בין נשים וגברים בתגובה למצבי הלחם או ברח</a>
<a href="https://www.dnalc.org/view/2210-Sex-differences-and-stress-resistance.html">קולטנים להורמון הגברי הטסטוסטרון במוח, אחראים במידה רבה לשוני המגדרי בתגובה למצבי סטרס</a>
     </p>




    <div class="vidandtitlecontainer tall">
        <img class="imgtitle" src="{%static 'images/femalesidf.jpg'%}" alt="">
    <div class = "ptitle bg">
      <h3 class = "ptitle redbg">כך הפך צה"ל לפות מכיל"</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/feminismdestroyidf/idfvagina.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    <div class="vidandtitlecontainer bg red"></div>
    </div>

    </div>
    <br><br><br><br>

  </li>
</ul>
