{%load static%}
<ul id="ulpages">
  <li>
  <div class="ptitle">
  <h3 class="ptitle fullwidth blackbg">האסון בסרטן הפמיניסטי</h3>
 </div>
 <div style="margin-right:5px;">
<div class="blueglowclr stopinheriting regularfont">
  <span>לפי החוק לגבר גם אסור לדרוש סקס מאשתו</span>
  <span>והכי חמור, אסור לו לדרוש בדיקת אבהות, אפילו אם הוא יודע שהיא הרתה מגבר אחר</span>
  <span>  כלומר קוקהלדין מותר בחסות החוק האשכנזו-מרקיססטי-חילוני בבג"ץ</span>
  <span>התוצאה היא שיותר ויותר גברים בוחרים לא להתחתן, וגם נשים לא מתחתנות, כי הן מקבלות את הרושם מההסתה במערכת החינוך, ובתקשורת, שהגבר הוא פסיכופת מיזוגן ואלים שמנסה לפגוע בה, ובילדיה,  ושהיא תהיה אישה מוכה או שהוא ירצח אותה</span>
  <span>בנוסף השחרור המיני של האישה, לצד תת-תרבות הפיק אפ, מעודדים גברים ונשים לחשוב רק על זיונים, דבר שמקשה עוד יותר, על היווצרות התא המשפחתי</span>
  <span>מעודדים נשים להתגרש או לבחור בקריירה על חשבון משפחה</span>
  <span>כך שבסופו של דבר, התוצאה היא לא מתחתנים, פחות מתרבים, וזה מה שהאשכנזים המרקיססטים מנסים להשיג</span>
  <span>שונות הכוונה שאנחנו נהיה מיעוט בארץ שלנו או אפילו נכחד</span>
  <span>בפועל, הפמיניזם הוא זה שיוצר את האלימות נגד נשים, לא זה שמרסן את התופעה, לכן האשכנזים בעמדות מפתח משתמשים בטעון מעגלי, הם אומרים לנשים שהן צריכות פמיניזם כי יש אלימות נגד נשים, כאשר הפמיניזם הוא זה שגרם לכך שיהיה הרבה יותר אלימות נגד נשים</span>
  <span>הפמיניזציה של הגברים גרמה  לכך שלא יהיו יותר גברים שיעבדו בעבודות פיזיות קשות ומסוכנות(כי נשארו לך רק גברים הומואים, קווירים, קאקס, מזוכיסטים, טרנסקסואלים, וכל המוטציות הפגומות של הגברים המסורסים האלו או לכל הפחות רק גברי בטא) ואז בעצם אותם אשכנזים מרקיססטים משתמשים בזה כדי להצדיק ייבוא של עובדים זרים מאפריקה, מסין, מהפליפינים כו</span>
  <span>בפועל, יש הרבה יותר אפריקאים מאשר הכוח עבודה שצריך, כיוון שרוב המוחלט של המסתננים בכלל לא עובדים בשום עבודה, ולכן עולים לנו כסף , גם בגלל שרובם לא עובדים, כי הם לא כשירים לעבודה, גם כי אין להם באמת מה לתרום, כלכלה של מדינה לא נשענת על שוטפי כלים, ובסוף גם ככה האוטומציה תחליף אותם באמצעות רובוטים, וגם בגלל כל הטיפול באלימות, והפשיעה שלהם, שמצריך כוחות שיטור והצלה מיוחדים בתדירות גבוהה ובהיקף נרחב, וגם בגלל שאותם אשכנזים מרקיססטים מנסים לקדם ולשלב אותם בחברה באמצעות כספי המיסים שלנו, בניסיון</span>
  <span> להקנות להם ידע, חינוך, השכלה, מקצוע וכו'</span>
</div>

<div class="quote stopinheriting" style="margin-right:5px;">
 <div class="content clrlight borderdarkright">
  <span> הקרן לישראל החדשה תומכת בכל ארגוני הלהטבים השונים ומממנת אותם, כי המטרה של אותם אשכנזים מהקרן לישראל החדשה להוביל להרס התא המשפחתי של הגזע השמי היהודי או הלבן בישראל, כדי להפוך את ישראל למדינת כל אזרחיה גזעיה וחוצניה, במילים אחרות להכחיד אותנו.</span>
  <span>הרי גבר וגבר לא יכולים להביא ילדים, ואישה ואישה גם לא יכולים להביא ילדים.</span>
  <span>וגבר חולה נפש שחותך לעצמו את הזין, או אישה חולת נפש, שכורתת לעצמה את הרחם, גם לא יכולים להעמיד צאצאים.</span>
  <span>סיבה 2: הנסיון לטשטש זהות מגדרית זה נועד לעשות פמיניזציה לגברים, כדי שפחות ופחות גברים מהעם שלנו יהיו מסוגלים לעבוד במקצועות גבריים מסוכנים וקשים, וזה בעצם ישמש את האשכנזים בעמדות מפתח, להצדיק ייבוא של עובדים זרים מאפריקה, הודו, מזרח אסיה, ומדינות אחרות</span>
 </div>
 <div class="bgCover black"></div>
</div>

<div class="blueglowclr stopinheriting regularfont">
  <span>אגב גם האתיופים עלו ועולים לנו יותר מדי כסף בגלל בדיוק אותם סיבות(שמי שדאג להביא אותם, זו הסוכנות היהודית, כלומר הסוכנות האשכנזית, לא עובדיה יוסף כמו שאשכנזים ניסו לשכתב את ההיסטוריה, התמיכה של עובדיה יוסף באה רק לאחר שהסוכנות האשכנזית פנתה אל כל הגופים הממשלתים ואל התקשורת האשכנזית במטרה לעודד את קליטתם ושילובם בארץ, וזה בלי להזכיר את כל התגבורת של הפלשמורה, שהאשכנזים המשיכו להעלות הרבה אחרי שהרב עובדיה כבר נפטר)</span>
  <span>בגלל זה אנחנו נחנקים עם המיסים , לוקחים מאתנו כסף כדי לממן את הרצח עם שלנו</span>
  <span>אנחנו משלמים כסף בעבור חרא, חרא גנטי שאנחנו לא רק לא צריכים, שיכול להיות הרבה יותר טוב בלעדיהם</span>
  <span>הרי יש את ההבט הנוסף, שחברה מגוונת גזעית זו חברה פחות מלוכדת, יותר מתוחה, יותר סכסוכים, ואולי זה משרת כנראה את האשכנזים הפלוטוקרטים, ככה הם יכולים לשלוט יותר בקלות ע"י הפרד ומשול</span>
  <span>הרי זו הסיבה למה הם ארגנו את ההפרת סדר אלימה של האתיופים למשל, או את ההפגנה של הדרוזים נגד חוק הלאום</span>
  </div>

  <div class="quote" style="margin-right:5px;">
   <div class="content notdefaultfont clrpurple borderlightright">
     <div class="smallrow">
     <span  class= "defaultfont">אולי אחרי שתראו את הסרטון הזה תקבלו קצת יותר פרופורציות</span>
     <a href = "https://youtu.be/-ptkSXgYE0I">
     <div class="hueeffect smallleftspace movelefteffect smallrow smallimg">
      <div class="smallcolumn txtcenter blueglowclr verysmallfont">
     <span>על</span>
     <span>פמיניזם</span>
     <span>ומשפט</span>
     </div>
     <img src="{%static 'images/sheffypaz.jpg'%}" alt="">
    </div>
  </a>
  </div>
</div>
<div class="content clrpurple borderlightright">
   <span></span>
   <span>לפי החוק האשכנזי כל דבר כמעט  יכול להחשב אונס(כל עוד אדם שהוא לא כושי ולא מוסלמי ביצע את זה), אנחנו שמים זין על החוק , החוקים פושעים בדיוק כמו מי שקבע אותם(שזה האשכנזים) החוקים האלו נועדו שגברים ונשים מאותו גזע ואותו עם לא יתרבו, וכדי לעשות פמיניזציה לגבר שלנו, כדי שיוכלו להציף אותנו במהגרים מלוכסנים ואפריקאים.  זה נועד לבצע רצח עם.</span>
   <span></span>
   <span>עדין סיפורים כאלו לא חשובים, מקבלים במה מרכזית בתקשורת המיינסטרים האשכנזית, כאלו מדובר לא פחות ולא יותר מפיגוע התאומים</span>
   <span>וזה שכל הזמן אפריקאים רוצחים ואונסים את הנשים שלנו, מתעלמים מזה כאלו זה לא קיים</span>
</div>

   <div class="bgCover blue"></div>
  </div>

  <div class="blueglowclr stopinheriting regularfont">
  <span>אחרי ההפרת סדר האלימה של האתיופים שארגונים אשכנזים שנתמכים על ידי  הקרן לישראל החדשה האשכנזית תכננו, הם ניצלו את זה כדי להפעיל לחץ על הממשלה, לחתום על תוכנית שמטרתה לחתור לגיוון רב תרבותי בשורות המשטרה, במילים אחרות, הם משתמשים בכושונים ובמוסלמים, ואולי בעתיד גם במלוכסנים, כשכירי חרב נגדנו, הרי האשכנזים הטהורי גזע הם לא יותר מ5% מהאוכלוסיה בישראל אני מאמין</span>
  <span>והם מנסים בכוח לשמור על ההגמוניה הדיקטטורית שלהם בבג"ץ,. עד היום, רק הם הכתיבו את כל החוקים במדינה על אפו וחמתו של העם, רצח יצחק רבין האשכנזי זעזע אותם, בגלל שזה גרם להם לחשוש שמא אולי בעתיד יש סיכון להתקוממות עממית של העם(שרובו מזרחים או סלאבים לבנים) נגד ההגמוניה האשכנזית, לכן, זו הסיבה שהם עשו מסע של חיסול חשבונות גם עם אנשים שלא היו מעורבים בכלל לאירוע של רצח יצחק רבין האשכנזי , זו הסיבה שהם הכתירו את זה כערב יום זכרון לאומי, זו הסיבה שאסור לנו לשאת נשק דווקא במדינה מוכת טרור, וזו הסיבה גם</span>
  <span> שעכשיו הם מקדמים את האוייבים שלנו, במשטרה ובצבא, כדי שהם ישמשו כשכירי חרב נגדנו</span>
  <span>ככה האשכנזים גרמו לרצח עם באינידונזיה, ובברית המועצות הסטליניסטית, וזו הסיבה שגרמניה פתחה במלחמה, כדי לשחרר את מזרח אירופה</span>
  <span>בעצם הגרמנים היו המושיעים, הם הצילו את העמים במזרח אירופה שנפלו קרבנות לטבח עם זוועתי בגלל הקומוניזם האדום של האשכנזים</span>
</div>
<div class="column">
{%include 'tableofcontent/txt/feminismsloganfooter.html'%}
</div>
 </div>
  </li>


  <li style="margin-right:5px;">
    <div class="ptitle">
    <h3 class="ptitle">הפתרון שאני מציע</h3>
   </div>
   <div class="blueglowclr stopinheriting regularfont">
    <span> חייבים לבטל את כל החוקים המפלים לרעת גברים, על שלל הכינויים המכובסים </span>
    <span>שלהם, דוגמת "חוקים לטובת נשים", "חוקי העדפה מתקנת", "קידום נשים", "העצמת נשים", "זכויות נשים", וכדומה.</span>
    <span>לאסור על לימודי מגדרולוגיה, לבטל את חוקי הטרדה מינית, לשנות לחלוטין את ההגדרות הקיימות בחוק של עבירות מין, לא יתכן שלפי החוק האשכנזי כל דבר כמעט יכול להיחשב עבירת אונס בפוטנציה, ולא מתקבל על הדעת שכל העבירות אונס שוות מבחינת החומרה הפלילית ומבחינת העונש, לדוגמא "יחסי מין במרמה", "אישה שנזכרה בדקה ה90 לומר לא והגבר התעלם", "יחסי מרות", "סקס בשכרות", "יחסי מין עם קטינה בת 16", "סקס בהסכמה אבל לא מרצון חופשי", "גבר שהבטיח למישהי נישואין, קיים יחסי אישות עם אותה אחת ובסוף לא קיים את הבטחתו"</span>
    <span> ועוד כל מיני המצאות הזויות ביותר שמשפטנים פקידים בירוקרטים אשכנזים שפלים  ורקובים בבג"ץ ובגופי מפתח  אחרים במדינה הגדירו כעבירות אונס, אין שום הצדקה להגדיר אותן כעבירות כאונס, אין הצדקה בכלל להגדיר אותן כעבירה פלילית אפילו, וגם אם היה מוצדק להגדיר אחת מהן כעבירת מין, או "אונס", זה חוסר שפיות ופשע משווע שהחוק מתייחס אליהן כשקולות מבחינת החומרה הפלילית, לאדם זר(בדרך כלל מוסלמי או אפריקאי) שאנס אישה באיומי סכין, הכאות או כל סוג של אלימות פיזית אחרת, או כמו אדם שפרץ אליה לבית או התנפל עליה ברחוב,</span>
    <span> ומדברים שלשם שינוי באמת ראויים להיחשב כעבירת אונס . </span>
    <span>כמו כן לא מקובל עלי, שאין אבחנה בין מבצע האונס, לדוגמא אדם זר שאונס אישה זרה, זה אמור להיות הרבה יותר חמור מבעל שאונס את אשתו.</span>
    <span>אדם מגזע או לאום אחר, שאונס אישה, שאינה משתייכת לגזע או ללאום שלו, זה הרבה יותר חמור מאדם שאנס אישה שמשתייכת לגזע וללאום שלו.</span>
    <span>אפילו אם מדובר באותן סוג עבירות.</span>
    <span>לאסור על סקס מחוץ לנישואין, ואת תת-תרבות הפיק-אפ, לאסור על נישואין פתוחים, בגידה, ולא להכשיר גירושים כמותרים בחוק אם אין הצדקה לכך. לבטל את כל החוקים המפלים לרעת גברים בדיני משפחה.</span>
    <span>להוציא מחוץ לחוק את הפמיניזם, וכל מיני ארגוני פמיניסטים מבית היוצר של הגוף האשכנזי הקומוניסטי המרקיססטי השטני, שנקרא "הקרן לישראל החדשה"</span>
    <span>ארגונים כמו, "ויצו", "נעמ"ת", "המעון למען נשים מוכות", "המועצה לשלום הילד", "זכויות נשים", "נשים עושות שלום", "המרכז למען נשים אריתראיות" וכו' כל הגופים האלו חייבים להיסגר, והעומדים בראש הארגונים האלו, וארגונים אחרים הנתמכים ע"י הקרן לישראל החדשה, בין אם בעקיפין או במיישרין, יחד עם כל חברי ועד המנהל של הקרן לישראל החדשה(שרובם ככולם אשכנזים ואשכנזיות) חייבים להיענש על כל פשעיהם, הם ומשפחותיהם, כולל אלו שהם כבר פרשו לגמלאות.</span>
    <span>לאסור על הפלות למעט מקרים יוצאי דופן פה ושם, (למשל אם מישהי שנכנסה להריון מאונס)</span>
    <span>לבטל את חוקים שפוטרים נשים מאחריות פלילית על פשעים כלפי סביבתם, בגין כל מיני סעיפים כמו "דכאון לאחר לידה", "ילדות עשוקה", "בעל מתעלל", "הגנה עצמית" וכל מיני בולשיט בסגנון ושאר ירקות רקובים(שוב חוקים פושעים של אשכנזים)</span>
    <span>לבטל ימים מיוחדים למען נשים, "כמו יום האישה", "מצעד השרמוטות", "יום המאבק לאלימות נגד נשים" וכיוצא בחרא הזה.</span>
    <span>לחולל רפורמה קיצונית בחינוך ובכל שיטת ההוראה על כל דרגיהם, בגנים, בתי הספר היסודיים, חטיבות ביניים,תיכוניים, אוניברסיטאות, מכללות, תנועות נוער, סדנאות וכדומה. לבטל את האפליה נגד זכרים בחינוך ובהשכלה הגבוהה, ולא פחות חשוב, לבער ולעקור מהשורש, את החינוך הפמיניסטי הרעיל, התעמולתי, וההרסני בכל המוסדות והגופיים החינוכיים אותם ציינתי(שמחנכים לפי סולם הערכים האשכנזו-אוניברסלים וכדומה).</span>
    <span>על אותו משקל, יש לאסור בחוק על התעמולה הפמיניסטית בתקשורת האשכנזית, וליתר דיוק, אני בעד להחרים את כל גופי התקשורת הגדולים בארץ, שהם גופי תקשורת אשכנזיים, כמו "כאן תאגיד השידור האשכנזי", "יינט", "מאקו", "ישראל היום", "ידיעות אחרונות", "nrg", "הארץ", הקרן לקולנוע ולטלוויזיה ישראלית, כי בשורה התחתונה, כל התוכן שלהם תעמולתי, חתרני, מרקיססטי ורעיל.</span>
    <span>להוציא מחוץ לחוק את פייסבוק-ישראל, יוטיוב-ישראל, וכל מיני גופי רגולטורים ששוללים את חופש הביטוי, וסותמים פיות, לכל מי שנוגד את הקו המדיני הפמיניסטי, או הקומוניסטי מרקיססטי שלהם.</span>
    <span>בניגוד לרוב מה שמוגדר אונס בחוק האשכנזי במדינת אשכנזיסטן(ישראל), במקרים של עבירת אונס ממש, ודאי שחובה שתהיה נהוגה ענישה וחוקים מרתיעים למנוע עבירות מהסוג הזה. עדין, אין להתייחס לעבירת אונס כעבירה ששקולה לרצח, ואין להרוס לאותו אנס/גבר את החיים ע"י כך ששולחים אותו לרצות שנות מאסר ארוכות ללא אור יום, ושלילת החופש וזכויות האדם הבסיסיות שלו בגין אותה עבירה שביצע. זה אובר קיל, זה כמו לכרות ראש לפי שגנב, יותר גרוע מחוקי השריעה במדינות מוסלמיות שכורתים יד למי שגנב.</span>
    </div>
    <div class="column">
{%include 'tableofcontent/txt/feminismsloganfooter.html'%}
</div>
  </li>
</ul>
