{%load static%}
{%csrf_token%}
<ul id="ulpages">
  <li>
    <div class="column gaptop">


    <div class="move25tobottom">
    <span class="subtitle verybold redglowclr stopinheriting regularfont">גברים ונשים לא שווים בפני החוק</span>
</div>

<div class="move50toright regularfont gapbottom">
   <span class="blueglowclr">מערכת המשפט האשכנזית מקלה על נשים בענישה</span>
   <br>
<span class="blueglowclr">על עבירה שגבר יהודי מגזע לבן או שמי יכול לרצות שנות מאסר רבות</span>
<br>
<span class="blueglowclr">אישה לא תשב יום אחד</span>
</div>



    <video class="vid txtcenter50" poster="{%static 'innocentvagina.jpg'%}" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/malesprivellgemyth/innocentvagina.mp4" type="video/mp4">
    </video>
    </div>
</li>
</ul>
