{%load static%}
{%csrf_token%}

<ul id="ulpages" class="stopinheriting">
  <li>
    <div class="column">
    <span class="subtitle verybold blueglowclr">נישואים זה לקנות זונה במשכנתא לכל החיים</span>
    <video class="vid txtcenter" poster="{%static 'images/marriagemortage.jpg'%}" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/marrigagelifetimemortage/marriagelifetimemortage.mp4" type="video/mp4">
    </video>
    </div>
</li>
<li>
  <div class="column">


    <div class="txtaudioparent txtcenter">
      <p class="txtaudio">
      <span>למה הנקבות הנקביסטיות</span>
      <span>מזועזעות שגברים מבוגרים</span>
      <span>יוצאים עם נקבות צעירות</span>
      <span>ולמה הן הפכו את זה לעברה פלילית</span>
      <span>כאלו מדובר בפשע</span>
      </p>
      <img id="pushbutton" src="{%static 'images/pushbutton.gif'%}" alt="">
    </div>
    <audio class="hiddenaudio noauto" controls>
     <source src="{{MEDIA_URL}}media/myvideos/feminism/marrigagelifetimemortage/oldmenyoungfemales.ogg" type="audio/ogg">
    </audio>
    </div>
</li>

</ul>
