{%load static%}
{%csrf_token%}

<ul id="ulpages">
  <li class="stopinheriting regularfont move25toright">
      <p>
      <span>הפער בין גברים לנשים באיי קיו זה בממוצע רק 5 נקודות</span>
      <br>
<span>ורק בהנחה שמדובר בגברים ונשים מאותה שכבת גיל ואותו גזע</span>
<br>
<span>שכן, אישה לבנה ממוצעת יותר אינטליגנטית מכושי ממוצע</span>
<br>
<span>ואישה מגזע אשכנזי ממוצעת יותר אינטליגנטית מגבר ערבי או מזרחי ממוצע</span>
<br>
<span>חשוב לזכור שזה רק בממוצע ורק פער קטן של 4 נקודות.</span>
<br>
<span>לכן, גם באותו גזע ואותה שכבת גיל, יש חפיפה עצומה.</span>
<br>
<span>דהיינו, ממש לא חסר נשים חכמות, מחוננות, וגאונות, וההפך, גברים בינונים, גברים מתחת לממוצע, ואפילו גברים מפגרים.</span>
<br>
<span>אולם בגלל הטבע של עקומת הפעמון, ובגלל שלנשים יש סטיית תקן קטנה יותר(פחות שונות בינהן) אותו פער קטן של 5 נקודות, הופך להיות פער הרבה יותר דרמטי בקצוות העליונים.</span>
<br>
<span>זה אומר, שבעוד בחציון יש יחס של די 1:1 בין גברים לנשים.</span>
<br>
<span>באיי קיו 120 ומעלה(עשירון העליון) היחס יגדל ל 2:1 לטובת גברים.</span>
<br>
<span>אצל מחוננים -130 איי קיו ומעלה, היחס יגדל ל- 4:1 עד 5:1 לטובת גברים(על כל 4 או 5 גברים מחוננים אישה מחוננת אחת בלבד)</span>
<br>
<span>ואם אני זוכר נכון, אז אצל גאוני על(איי קיו 170 ומעלה) היחס בין גברים לנשים הוא 30:1 לטובת גברים או יותר גדול.</span>
</p>
<div class="articlevideo column textcenter smallgap smallspace">
    <span class="regularfont redglowclr">כוח פיזי לעומת יכולות שכליות</span>
    <video class="vid" poster="{%static 'images/mensmarter.jpg'%}" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/mensmarter.mp4" type="video/mp4">
    </video>
</div>
<p>
<span>אפילו שהפערים בקצוות העליונים הם די גדולים, גם פה אנחנו רואים חפיפה די גדולה בין גברים לנשים.</span>
<br>
<span>עדין יש הרבה יותר נשים לבנות מתמטיקאיות, פיזיקיות, רופאות, מרצות, מדעניות, אומניות, ממציאות, מאשר גברים כושים או ערבים כאלו.</span>
<br>
<span>ויש כמה נשים לבנות שזכו בפרסי נובל על הגילויים וההמצאות שלהן, לעומת 0% זוכי נובל אצל כושים טהורי גזע, ואפילו 0% זוכי נובל של מולטו(כושים חלקית)</span>
<br>
<span>אך עדין מאוד חשוב לציין את העובדה שגברים בממוצע יותר חכמים מנשים, כי.</span>
<span></span>
<br><br>
<div class="move25toleft">


<span>1)זה חשוב כי האמת חשובה.</span>
<br><br>
<span>2)זה כנראה אחת הסיבות, אם לא הסיבה העיקרית, לכך שאנחנו רואים פערים בין גברים לנשים, וברגע שהתקשורת האשכנזית משקרת לצופים שאין הבדלים מולדים בין גברים לנשים שיכולים לפרש את ההבדלים(בין אם אלו הבדלים באינטלינגציה או הבדלים אחרים) אז המסקנה האולטימטיבית, שזו אשמתנו הגברים(בעיקר הגברים היהודים הלבנים) שיש איזו תקרת זכוכית דמיונית(מפלצת ספגטי) שמונעת איכשהו מנשים להתקדם, שזה תוצר של דיכוי או קשקוש מפלצת ספגטי אחר, ושצריך לתקן את זה על ידי העדפה "מתקנת" או "העצמת" נשים, או זכויות נשים, שאלו בעצם מילים מכובסות.</span>
<div class="articlevideo column textcenter smallgap smallspace">
    <span class="regularfont redglowclr">הדרת בנים בבתי הספר הממלכתים</span>
    <video class="vid" poster="{%static 'images/boysdiscrimnation.jpg'%}" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/boysdiscrimination.mp4" type="video/mp4">
    </video>
</div>
<span>לאפליה, מדיניות אפרטהייד, הדרת גברים, בחסות החוק האשכנזי.</span>
</div>
<br>
<span>וזה רע מאוד בגלל ש</span>
<br><br>
<div class="move25toleft">


<span>א. זה דיכוי/אפליה לרעת גברים(בעיקר נגד גברים יהודים ולבנים), אפילו שזה תחת שמות מכובסים ומטעים כמו "זכויות נשים" או "שוויון.</span>
<br><br>
<span>ב. זה הורס את החברה, כי המטרה של האשכנזים להלחיץ נשים לבחור בקריירה תובענית ככל האפשר, ואז חלה ירידה בשיעור הילודה.</span>
<br>
<span>בעיקר בקרב נשים יותר אינטלינגטיות, כי אלו לרוב הנשים שמסוגלות לבחור קריירה. וזה מוביל לאאוגניקה שלילית או התמעטות דמוגרפית אצל יהודים, ושניהם רעים</span>
<br><br>
<span>ג. זה הרסני לחברה, כי אשכנזים עושים את זה כדי להדיר גברים יהודים יותר ראויים, לטובת נשים פחות ראויות, לעבר מוקדי כוח וקבלת החלטות, כדי להשפיע על הנשים שיעשו החלטות הרסניות לחברה, כמו לתמוך בהגירה של כושים, לתמוך בהגירה של מוסלמים(זכות "השיבה") לעשות חוקים פמיניסטים שהורסים את התא המשפחתי היהודי עוד יותר, וזה עובד ומצליח, בגלל שנשים נוטות להיות יותר קונפרמיסטיות, פחות בעלות תודעה לאומנית, וטריטוריאלית מגברים, יותר קלות דעת, לוקות בחוסר חוש צדק בכל הקשור לסוגיות של דיני משפחה, קוד לבוש,
</span>
<br>
 <sapn> שמרנות מינית, ענישה על עבירות מין, חלוקת תפקידים מגדרית(למשל למה זה אסון לשלב נשים בצה"ל) וכו'</span>
<br>
<span>וכתוצאה מכך, קל יותר לאשכנזים להפעיל אותן, כמו בובות על חוט( ןאדיוטיות שימושיות כדי לרתום אותן לצרכי חתרנות באמצעות קידום אג'נדות ניווניות כמו  הרס התא המשפחתי, החלשת צה"ל והמשטרה, עידוד הגירה של חוצנים(בעיקר של גזעים פראיים, אלימים, בעלי איי קיו נמוך כמו כושים וערבים) להטבים, שחרור מיני(פריצות) , וכו'. כאשר היעד הסופי האולטימיטבי שלשמו אותם אשכנזים אליטיסטים בעלי אזרחות זרה(אשכנזים העומדים בראשי ארגונים של הקרן לישראל החדשה, בג"ץ. תקשורת, אנשי רוח אשכנזים, ומיליארדרים אשכנזים)  משתמשים בפמיניזם,זה כדי להפוך את ישראל למדינת כל גזעיה אזרחיה וחוצוניה. או במילים אחרות, למדינה ללא יהודים.</span>
</div>
</p>
</li>

</ul>
