{%load static%}
<style>
  #p1 a, #p2 a, #p3 a
  {
    cursor:pointer;
    color:blue;
  }
#p3 a:hover
{
  text-decoration: underline;
  color:black;
}
#p1, #p2, #p3>:not(a)
{
  font-family:round;
  font-size:18px;
  line-height:30px;
  -webkit-background-clip:text;

  cursor:default;

}

#p1 span, #p2 span
{
  font-family:formal;
  font-size:20px;
  -webkit-background-clip:text;

  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:green;

}
#p1
{
  -webkit-text-fill-color:blue;

}
#p2, #p3>:not(a)
{
  -webkit-text-fill-color:red;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:blue;

}

#meontheright
{
  width:300px;
  height:300px;
  border-radius:50%;
}
</style>


<p id="p1">
  <img id="meontheright" style="float:right;" src="{%static 'images/ronny.jpg'%}">
  המוטיבציה להקמת האתר התעוררה אצלי, לאחר ניסיון מאוד ארוך, כואב מתסכל, מייאש,  ומורט עצבים.
  <br>
  של מחיקת קבוצות, וערוצים, וכל תוכן אחר שלי ברשתות החברתיות על בסיס יומי וקבוע.
  <br>
  הרגשתי שהגיעו מים עד נפש, ולא אוכל לסבול עוד את הדיקטטורה האשכנזית הקומונאסטית של הסתימת פיות בישראזבל.
<br>
  שאני מוכרח לעשות משהו בנידון, ולפעול כמה שיותר מהר, כדי שקולי, וקול אנשים שחושבים דומה לי ישמע.
<br>
  סגרו לי המון ערוצי יוטיוב מצליחים וטובים, ומחקו לי את הקבוצת טלגראם בהנהלתי בה היו למעלה מ 1500 עוקבים,
<br>
  וגם את קבוצת הטלגראם של חברי הטוב. חיזקהו טננבאום, שאף הוא ניהל קבוצה מוצלחת ביותר שנמחקה ביום בהיר אחד באבחה אחת, כהבזק הברק.
<br>
  ללא כל התרעה מוקדמתת וללא כל התנצלות.
<br>
  אותם אשכנזים שמכנים את עצמם ליברלים, הם בדיוק ההפך מליברלים, לפחות כשזה נוגע לכבד את חופש הביטוי,
<br>
  של אנשים או דעות, שלא מוצאות חן בעינהם.
<br>
  הם חשבו שהם הביסו אותי על ידי כך שדפקו לי לום בראש כדי שאשתוק באמצעות פייסבוק-ישראל ויוטיוב-ישראל (גופים אשכנזים)
<br>
  אך לשמחתי הם טעו, האתר הזה אינו רק משמש כגיבוי והפצתו של חלק ניכר מתכני שהוסרו על ידי מנגון המערכת המשומנת,
<br>
  שתכליתה זה הפרת חופש הביטוי, ודיכוי אכזרי של כל דעה, רעיון, או רגש, שמבטים משיכה וכמיהה ללאומנות, כולל לאומנות על בסיס גזע.
<br>
  אלא לא פחות חשוב, אתר זה זו הנפת דגל, של אות נצחון במערכה, זו אמירה שאנחנו כאן, שאנחנו לא נכנענו, ושאנחנו נמשיך להלחם על זכותנו לחשוב ולהרגיש אחרת.
<br>
  משטרת המחשבות האשכנזית יכולה לאסור על הבעת דעות, מחשבות או רגשות שברצונם לדכא, אך זה שמשתיקים אותן, לא מעלים ולא יעלים אותן.
<br>
   1000 אשכנזים לא יצליחו לכבות אותי!
<br>
<br>

<br>
<br>
</p>
<p id="p2">
  אתר זה הינו פיתוחו האישי שלי לחלוטין בלבד.
<br>
  לא נעזרתי או הסתייעתי בשום סיוע מבחוץ,
<br>
  וגם לא השתמשתי בשום פלטפורמות מוכנות שמאפשרות בניית אתרים ללא קוד.
<br>
  את האתר הזה פיתחתי תוך כדי כתיבת קוד, באמצעות שימוש בשפות <span>html</span>, <span>CSS</span>, <span>jquery</span>, <span>python</span> ו <span>django temple language.</span>
<br>
  ה <span>text editor</span> בו השתמשתי לצורך פיתוח האתר היה <span>atom</span> , ובנוסף השתמשתי ב <span>git</span> כדי לגבות את העבודה.
<br>
  לא היה לי כל ניסיון קודם בפיתוח אתרים קודם לכן.
<br>
  וגם לא היה לי שום ניסיון עם השפות בהן עשיתי שימוש רב ונרחב כדי לפתח את האתר.
<br>
את הכל למדתי רק מהאינטרנט
<br>
  כמו כן, החזון לעיצוב האתר, והפונקציונליות שלו, הם גם מחשבה עצמית שלי.
<br>
  ואף רוב המוחלט ביותר של התכנים באתר, הם כולם תכנים שלי, כמעט ללא יוצא מהכלל, למעט כמה סרטונים באנגלית מתורגמים לעברית(שאותם אני תרגמתי)
<br>
  השקעתי עמל ועבודה רבים, לימוד תוך כדי עבודה, וכל זה ללא שום רווח אישי, ולמרות זאת,
<br>
  עשיתי הכל בהנאה צרופה ותחושת סיפוק עצמי, ולשם מטרות אידיאולגיות טהורות.
<br>
  אני מתכנן שיפורים ושידרוגים לאתר בהמשך, למשל, אפשרות הוספת תגובות של גולשים, הרשמה לאתר, העלאת תכנים, איסוף תרומות, וכו'.
<br>
  זו היא לא המילה האחרונה מבחינתי.
<br>
  כרגע, אין אפשרות להשאיר תגובות באתר(כמו שאמרתי, אני מתכוון להוסיף את זה בעתיד), לכן אפשר ליצור איתי קשר במייל.
<br>

  אם יש לכם הערות על האתר, הצעות לשיפורים, דיווח על תקלות, תכנים או נושאים שאתם חושבים שכדי להוסיף או להתייחס אליהם.
<br>
או אם סתם בא לכם לשוחח על דברים שקשורים לאידיאולוגיה,
<br>
</p>
<div id="p3" style="display:inline-block;margin-bottom:20px;"><span>תוכלו לדבר איתי על כך, בקבוצת הטלגראם של חברי הטוב, חיזקיהו טננבאום, בה אני משתדל להיות משתתף פעיל כשיש לי זמן </span><a href="https://t.me/whiteprideisrael" style="font-family:fantasy;display:inline-block;">יהודונאציזם</a></div>
