{%load static%}

<ul id="ulpages" class="regularfont">
  <li class="txtcenter50">
<p>
  הדבר הראשון העומד בבסיס האידיאולוגיה הנאצית, זה לאומנות.
  <br>
התובנה שהגזע זו בעצם המשפחה המורחבת שלך, והמדינה/ארץ זה הבית המורחב שלך.
<br>
וכמו שאתה שם את טובת משפחתך על פני טובת אנשים זרים, כך גם טובת הגזע והעם שלך צריכה להיות בראש סדר העדיפויות, במילים אחרות עניי עירך קודם, רק בהקשר הגנטי גם, לא רק לאומי.
<br>
וכמו שיש לי זכות שלא יכניסו לי אנשים זרים או אורחים לא רצויים לבית, כך למדינה אין זכות לכפות עלנו מהגרים מגזעים, עמים, או לאומים, שאנחנו לא מעוניינים.
<br>
אפילו אם הם פליטים, כיוון שבאותה מידה, אני לא רשאי לכפות עליך לארח הומלסים בביתך.
</p>
<p>
הבט נוסף של לאומנות(ועל כן הבט נוסף של נאציזם) זו החשיבות של חברה כמה שיותר הומוגנית, לשון אחר, אנחנו מתנגדים בתוקף לפלורליזם, לרב תרבותיות, רב גזעיות, ומדינת כל גזעיה אזרחיה וחוצניה.
<br>
זה כיוון שהמציאות הוכיחה שוב ושוב, שרבגוניות זו חולשה, ונקודת תורפה, ולא באמת עוצמה.
<br>
רב-תרבותיות/רב-גזעיות זה אומר סכסוכים, חוסר לכידות, חוסר אמון ושתוף פעולה בין אנשים, חברה חלשה מתוחה משוסעת ומפוררת, תחושה של חוסר הגנה חוסר בטחון, ופחות תחושת שייכות לעם ולמדינה ולכן גם פחות נכונות ורצון לתרום או להיות פטריוט, ועל כן פחות אלטרואיזם גם.
<br>
חברה שמורכבת מאנשים ששונים מאוד אחד מהשני, בערכים, במנטליות, בהשקפות, ובאינטליגנציה, זו חברה שבלתי אפשרי לכונן בה מבנה שלטוני שיתאים לכולם.
</p>
<div class="playlist">
  <video id="m1" class="vid m" controls>
      <source src="{{MEDIA_URL}}media/myvideos/nazimbg/nazimbg.mp4" type="video/mp4">
  </video>
</div>
<p>
ההומוגניות שאליה אנחנו שואפים, זו קירבה גנטית גבוהה,  ומראה כמה שיותר דומה, למשל, אין בעיה להבדיל בין מראה של אפריקאי, מלוכסן, ושל אדם לבן, ולא במקרה גם המרחק הגנטי בינם הוא מאוד גדול.
<br>
כמובן שיש מקרים בטבע שבו שני גזעים שונים לחלוטין יכולים להראות מאוד דומה אחד לשני, למשל כמו פפואנים ואפריקאים, אבל מבחינת מרחק גנטית, הם יותר רחוקים אחד לשני מאשר נורבגי לכל אפריקאי.
<br>
חשוב לנו לא להיכחד, וכאשר מכניסים לנו יותר מדי מהגרים מגזעים אחרים, נישואי תערובת זה בלתי נמנע בסופו של דבר, ואז אנחנו נכחדים, הגזע והעם שלנו נכחד.
<br>
שזה כולל המראה החיצוני והגנטיקה.
</p>
<p>
ההבדל בין נאציזם ללאומנות, זו גם ההכרה במציאות גזעית, שבראש ובראשונה זו הכרה בכך שיש גזעים שונים של בני אדם, שזו עובדה ביולוגית ולא הבניה חברתית.
<br>
ו2 שיש הבדלים בין גזעים, גם במנטליות, ובאינטליגנציה, והשורש של זה הוא לפחות בחלקו אם לא בעיקרו גנטי וביולוגי.
<br>
דבר 3, זה אאוגניקה, שבני אדם יוצרים את האבולוציה של עצמם, ומשפרים את הגזע של עצמם, שאחת הדרכים הקיצוניות אבל אפקטיביות של אאוגניקה, זה לעקר(עיקור) אנשים שלא ראויים להתרבות, כמו אנשים בעלי נטייה מוגברת לאלימות ופשיעה, אנשים רפי שכל, אנשים מכוערים מדי וכו'
<br>
אם אפשר להוביל להשבחת הגזע במרוצת הדורות בדרך יותר מוסרית, אני פתוח לרעיונות.
</p>
<p>
אנחנו מתנגדים גם לסוציאליזם וגם לקפיטליזם, ובעד פשיזם
<br>
כיוון ששתי השיטות מובילות בסוף לאותה תוצאה של מדינת כל גזעיה אזרחיה וחוצניה.
<br>
הסוציאליזם שזו בעצם מילה מכובסת לקומוניזם, מעצם ההגדרה של קומוניזם מובילה לכך, ולכן אין טעם להרחיב בנושא.
<br>
במקרה של קפיטליזם, זה בגלל שלפעמים מעסיקים מעדיפים עובדים זרים כי זה יותר זול למשל.
<br>
חברה קפיטליסטית לא תאפשר השקעה בפרויקטים לאומים ארוכי טווח אם זו השקעה לא רווחית בטווח הקצר, ולכן לא מעודדת כלכלה עצמאית.
<br>
קפיטליזם גם סופו להפוך לסוציאליזם, ובעצם זה שני צדדים של אותו מטבע.
</p>
<p>
גזע מבחינתנו זה תנאי הכרחי, לא תנאי מספיק, ותרבות זה גם תנאי הכרחי, אבל לא תנאי מפסיק.
<br>
אנחנו מודעים לכך שאשכנזי, יהודי עיראקי, יהודי מרוקאי, יהודי טורקי לדוגמא יכולים להיות מסווגים לגזעים שונים אחד מהשני, אבל יחסית למלוכסנים, הודים, אפריקאים, ומקסיקנים למשל,  הם הרבה יותר קרובים גנטית אחד לשני, לכן ההחלטה מה נגדיר גזע יהודי ומה לא, היא במידה מסוימת תלויה בנו, אנחנו יכולים לקבוע סף של מרחק גנטי ופנוטיפי שצריך לעבור כדי להיות בתוך הקבוצה , ומי שלא עובר הוא מחוץ לקבוצה/לעם.
<br>
לעומת זאת, דרוזי ופלסטיני הם קרובים אלנו מאוד גנטית, אבל הם מוסלמים, יש להם תרבות שונה, והם עוינים אותנו, ולכן, אנחנו גם לא רוצים אותם כחלק מהעם שלנו.
<br>
אנחנו כמובן נגד נישואי תערובת, ובתור התחלה, רוצים שיהיה מוכר בחוק הזכות לחיות בישובים קהילתיים המבוססים גם על גזע לא רק על צביון, ושתהיה זכות דומה בהשכרת דירה, ובשוק התעסוקה.
<br>
אנחנו בעד הזכות של כל קבוצה להגדרה עצמית.
<br>
אנחנו לרוב אתאיסטים, נגד פמיניזם, אבל לא נגד שוויון הזדמנויות לנשים, רק נגד שוויון בתוצאות ואפליה לרעת גברים בשמות המכובסים השונים כמו העצמה נשית, העדפה מתקנת,  וכו', אמנם בתפקידי לחימה בצבא אנחנו מתנגדים לשוויון בצה"ל, ובפרט זה גם מקצועות שלא תלויים בכוח פיזי, כמו טיס או פיקוד
</p>
</li>

<li class="txtcenter50">
  <div class = "ptitle fullwidth">
    <h3 class = "ptitle">טענה:נאציזם זו אידיאולוגיה קיצונית</h3>
  </div>
  <p>
  מה קיצוני בדיוק בנאציזם, ומה בדיוק מתקדם או פרוגרסיבי בקומוניזם.
  <br>
  זה בעצם לחזור על טעויות העבר שגרמו לרצח מאות מיליוני בני אדם.
  <br>
אלו האומרים כי נאציזם זו אידיאולוגיה חשוכה וקיצונית שאנשים בישראל סולדים ממנה,
  <br>
  מתעלמים בשוגג או במזיד, מהעובדה כי יש יותר ויותר גלים בעד לאומנות במערב, במיוחד עכשיו, אף אחד לא אוהב שמכניסים לו פולשים לתוך המדינה.
לעומת זאת, רוב האנשים שונאים את הקומוניזם, במיוחד אנשים שחוו אותו על בשרם, כמו העולים מברית המועצות. מי כמוהם יודע כמה קומוניזם הוא אסון.
<br>
אם כולם היו שונאים נאציזם, לא היה לערוץ לאומנות של רמי כל כך הרבה מנויים, כל כך הרבה לייקים, וכל כך הרבה תגובות אוהדות עבור התוכן שהוא מעלה, ומספר המנויים שלו רק הולך וגדל.
  </p>
  <div class = "ptitle fullwidth">
  <h3 class = "ptitle">נאציזם אינה אידיאולוגיה קיצונית, זו הברירת מחדל</h3>
 </div>
    <p>
  נאציזם זה בסך הכל לאומנות, כל המדינות נאציות כברירת מחדל, חברות רב תרבותיות ורב גזעיות הן תוצר של חתרנות,
  <br>
  בעיקר תוצר של חתרנות של אשכנזים וירוסים עכברושים במאה שנים האחרונות במערב.
  <br>
  סין כולה על טהרת הגזע המלוכסן, מדינות ערביות הן נאציות, כולם שם נראים אותו דבר, כולם מוסלמים, הודו כולם נראים אותו דבר.
  <br>
  רוב המוחלט של המדינות בעולם לא מקבלות מהגרים, רק ישראל חייבת לקבל את האשפה של כל העולם.
  </p>
  <div class = "ptitle fullwidth">
  <h3 class = "ptitle">טענה:נאציזם זו אידיאולוגית שנאה</h3>
 </div>
  <p>

אותם שמאלנים/קומוניסטים שמתארים נאציזם או אפילו לאומנות, כאידיאולוגיות שנאה
<br>
הם מצד אחד מטיפים נגד גזענות ושנאה כל הזמן, אבל בדיסוננס קוגנטיבי חריף
<br>
שונאים אנשים אחרים בגלל דעותיהם, כאשר מדובר באנשים נאצים או לאומנים
<br>
הם בדרך כלל יאמרו שאין סיבה לשנוא בגלל דעות שונות, ושחופש הביטוי הוא ערך קדוש שיש לשמור עליו
<br>
אך בסתירה מוחלטת, משתיקים באכזריות כל דעה או הבעת תמיכה, ברעיונות לאומנים או השקפות לגבי גזעים
<br>
וכל דעה אחרת שמעזה לאתגר את הקונספציות הרווחות המקובלות הנפוצות, בתקשורת המיינסטרים ובמערכת החינוך
<br>
שכן הם יאמרו מיד בלי לחשוב פעמים, משהו בסגנון, "אין שום לגיטימציה לדעות חשוכות כאלו"
<br>
שאלו דברי שטנה ולכן אסור להשמיע אותם, ולעיתים תכופות אף ירחיקו לכת ויאמרו
<br>
שיש להעמיד לדין את אותם אנשים "פושעים" שעומדים מאחורי האמירות האלו,
<br>
כאלו היו לא פחות ולא יותר, משפחות פשע, ולא סתם אנשים חנונים רגילים, שבסה"כ  אמרו את אשר על לבם,
<br>
שהעזו לבטא בגלוי את מה שהם חושבים באמת, ולא מה שמדינת ישראל כופה עליהם לחשוב,
<br>
רק בגלל שהעזו להיות כנים, ולומר את מה שנראה להם נכון, הגיון, ואמיתי,
<br>
רק בגלל שהעדיפו את האמת שלהם על פני מה שנחשב תקין פוליטית,
<br>
רק בגלל שלא הסכימו להתיישר לפי מה שהתקשורת, מערכת החינוך, מערכת המשפט, והמדינה מכתיבה להם,
<br>
רק בגלל שלא הסכימו, רק בגלל שהיו חלוקי דעות, רק בגלל שביטו דעה שונה, רק בגלל שחשבו בקול רם,
<br>
רק בגלל שלא אמרו אמן, רק בגלל שהצביעו על כך שהמלך הוא ערום, או רק בגלל, שלא עלנו,
<br>
העזו לערער את הסדר יום המדיני הקיים, של אותם מיליארדרים ובירקורטים ברי עוצמה ובעלי אינטרסים,
<br>
שהפלורליזם הזה משרת אותם בדרך זו או אחרת, וטוב בשבלם, אבל אסון לעם.
<br>
ומי מאתנו אינו עד למחיקת סרטונים, תגובות, ערוצים, ביוטיוב, פייסבוק, טוויטר, אינסטגראם,
<br>
וחמור הרבה יותר, משטרת המחשבות והרגשות בישראל, אוכפת את חוקי הסתימת פיות שלה
<br>
בצורה שרי פיקית, בררנית, סלקטיבית, מוטה, בכוונות זדון
<br>
לדוגמא: ערבים שמבטאים קריאות מוות נגד יהודים, או קוראים להשמדתה של ישראל
<br>
את זה מאפשרים, אבל יהודי שחושב שצריך לעשות טרנספר לערבים, או אפילו רק להחזיר לארצם את הסודנים
<br>
זה פתאום הפך להיות דברי שטנה
<br>
מישהו הצביע על העובדה שכושים פחות חכמים מלבנים, זה דברי שטנה, והצוות הישראלי ביוטיוב ופייסבוק בישראל
<br>
ימחק תגובות בסגנון כדרך קבע, עם יד קלה מאוד על המקלדת
<br>
אבל שנתן זהבי אמר על יהודים "זה עם סגולה? זה עם חרא", זה לא עניין אף אחד ולא עורר שום סערה
<br>
ואם אתה חושב שזה בגלל המעמד שלו, ואינו תוקף לאדם מהשורה
<br>
אז אתה מוזמן לעשות את הניסוי הבא, פרסם תגובה או סרטון בכל רשת חברתית פופולרית שתבחר
<br>
וקרא שם ליהודים בכינוי עם חרא, ואני מבטיח לך שאף אחד לא ימחק את הפוסט שלך בשנים הקרובות,
<br>
לא משנה כמה ידווחו
<br>
וזוכרים אתם את פסילתה מפלגת עוצמה יהודית ע"י פסיקת בג"ץ בבחירות הקודמות
<br>
כולל ניסיונות לסגור ערוצי תקשורת מתחרים שאינם מתיישרים עם הסדר יום המדיני
<br>
של מונופול התקשורת המרכזי בישראל, שכולל את הערוצים 2, 10, עיתון הארץ, כאן תאגיד השידור האשכנזי,
ynet, 103fm, walla, 12, 13, mako
<br>
גם אם האכיפה אינה היתה שרירותית, וללא משוא פנים, זה עדין אינו לגיטימי להשתיק בכוח,דעה מסוימת
<br>
קיצונית או לא מתקבלת על הדעת ככל שתהיה, כי חופש הביטוי זה אומר גם ובמיוחד השקפות/דעות/עמדות שאנשים לא אוהבים לשמוע
<br>
זה או שאתם תומכים בחופש הביטוי, או שלא, אין שום דבר באמצע, אין חופש ביטוי בכפוף לתנאים מסוימים
<br>
חופש הביטוי זה חופש הביטוי נקודה, זה לא חופש הביטוי רק כאשר זה לא נוגד את האג'נדה שלך'
</p>
<div class = "ptitle fullwidth">
<h3 class = "ptitle">נאציזם אינה אידיאולוגיה חשוכה, זה רצון העם</h3>
</div>
<p>
אלא שנאציזם זה לא חייב להיות בגלל שנאה, זה בסך הכל הצורך הטבעי של בני אדם ובעלי חיים אחרים לחיות עם אנשים כמוהם,
<br>
מבחינת תרבות, מראה, גנטיקה, מנטליות וכו. כמו שאתה לא רוצה שיכניסו לך אנשים זרים לבית שלך, כך בני אדם יש להם אינסטינקט טבעי לא לרצות גזעים ולאומים זרים במדינה שלהם,
<br>
כי המדינה זה הבית המורחב, והגזע והלאום זה המשפחה המורחבת שלך.
<br>
חברה רבגונית, ורב תרבותית וגזעית, זה הוכח ככישלון חרוץ ונקודת תורפה, לא כעוצמה,
<br>
בכל מקום שניסו את זה, זה רק גרם לסכסוכים, חוסר אחדות ולכידות, חוסר אמון שיתוף פעולה בין אנשים, תחושת חוסר ביטחון והגנה, פחות תחושת שייכות למדינה, ופחות פטריות ונכונות לתרום.
<br>
זו הסיבה שהדרך היחידה להפוך מדינה לרב תרבותית או רב גזעית זה רק באמצעות כפיה ואף פעם לא בדרך דמוקרטית.
<br>
הרי מעולם לא עשו משאל עם כדי להתעניין בדעתו של העם אם הוא מעוניין בהגירה מסיבית של כושים מאפריקה.
<br>
מונופול החוק האשכנזי הדיקטטורי בבג"ץ האשכנזי קבע את זה על אפו וחמתו של רצון העם, אחרת זה לא היה עובד.
</p>
<div class = "ptitle fullwidth">
<h3 class = "ptitle">אם גזענות זו בעיה חמורה בישראל, אז חברה הומוגנית זה פתרון</h3>
</div>
<p>
  אם כל הזמן מתלוננים על גזענות ושנאה בחברה, זה רק מוכיח דבר אחד, שרב תרבותיות ורב גזעיות זה לא עובד,
  <br>
  ולכן עדיף לכולנו שנפרד.
אף אחד לא אמר לשנוא, ואף אחד לא אמר להרוג גזעים אחרים,
<br>
אנחנו בסך הכל רוצים  שיעזבו את העם והגזע שלנו לנפשנו, ויתנו לנו לחיות בבית שלנו ללא פולשים, וגזעים או לאומים חייזרים וחוצנים.
<br>
שהכושים יחזרו לאפריקה, שהמלוכסנים יחזרו למזרח הרחוק, והמוסלמים ילכו לירדן, ונפתרה הבעיה, ונחיה בשלום זה עם זה אבל בנפרד.
<br>
כי כשאנחנו ביחד אנחנו רק סובלים מאינתיפאדות והתקפות טרור מהערבים מאז שהמדינה קיימת בערך, ומהכושים שהאשכנזים הביאו לנו מפשיעה גואה ואלימה.
<br>
</p>
<div class = "ptitle fullwidth">
  <h3 class = "ptitle">טענה:קומוניזם נלחם בבעלי ההון ודואג לחלש</h3>
  </div>
<p>

    המיליארדרים בעלי המניות של ערוצי התקשורת האשכנזים הקומוניסטים הגדולים, כדוגמת ורטהיימר, שטראוס, האחים עופר, דנקנר וכו'

    הם אלו שמקדמים קומוניזם בעצמם. וזה אינטרס שלהם לקדם קומוניזם
    <br>
    ובלי קשר זה מטומטם לשנוא עשיר רק בגלל שהוא עשיר.
    <br>
    הרעיון של קומוניזם לשוויון בעצם זה מתן לגיטימציה למדיניות אפרטהייד מפלה נגד העם שלנו, העם היהודי,
    <br>
    תחת השמות המכובסים, זכויות מיעוטים, העדפה מתקנת, גיון תרבותי וכו'.
</p>
<div class = "ptitle fullwidth">
<h3 class = "ptitle">מובילי המאבק לצדק חברתי, הם הרעים והחשוכים</h3>
</div>
<p>

  האשכנזים הגיס החמישי מחזיקי הדרכון הזר בבג"ץ ובתקשורת ובארגוני הקרן לישראל החדשה חוטאים חטא כפול.

  חטא ראשון על בגידה, שהם בוגדים בעם, במשפחה המורחבת שלהם, ומעדיפים "ערכים" אשכנזו אוניברסליים על פני עניי עמך קודם.
  <br>
  חטא נוסף, זה שאצלם זה עניי עמים אחרים קודם, במיוחד כאשר עניי עמים אחרים זה הרבה פעמים האויב שלנו.
  האשכנזים הצבועים מכוערי הנפש השטניים השפלים המרצחים האלו, לא באמת מאמינים בסולם "ערכים" שהם המציאו.
  <br>
  כל החוקים במדינה, הם חוקים שאשכנזים קבעו בעריצות, אין בהם שום הגיון, יושרה או מוסר, הם בדיוק הההפך מזה,
  <br>
  הם נועדו אך ורק לשרת את האינטרסים האנוכיים שלהם בלבד.
  <br>
  החוקים בישראל זה כמו חליפה שתפרו במיוחד לאשכנזי. זה הכל.
  <br>
דיקטטורות נופלות רק בדרך אחת, מלחמת אזרחים, והפיכה שלטונית ואלימה,
<br>
ורק ככה הדיקטטורה האשכנזית הקומוניסטית הזו שלכם תיפול.
</p>
</li>
</ul>
