{%load static%}

<ul id="ulpages">
  <li>
<p>
  הדבר הראשון העומד בבסיס האידיאולוגיה הנאצית, זה לאומנות.
  <br>
התובנה שהגזע זו בעצם המשפחה המורחבת שלך, והמדינה/ארץ זה הבית המורחב שלך.
<br>
וכמו שאתה שם את טובת משפחתך על פני טובת אנשים זרים, כך גם טובת הגזע והעם שלך צריכה להיות בראש סדר העדיפויות, במילים אחרות עניי עירך קודם, רק בהקשר הגנטי גם, לא רק לאומי.
<br>
וכמו שיש לי זכות שלא יכניסו לי אנשים זרים או אורחים לא רצויים לבית, כך למדינה אין זכות לכפות עלנו מהגרים מגזעים, עמים, או לאומים, שאנחנו לא מעוניינים.
<br>
אפילו אם הם פליטים, כיוון שבאותה מידה, אני לא רשאי לכפות עליך לארח הומלסים בביתך.
</p>
<p>
הבט נוסף של לאומנות(ועל כן הבט נוסף של נאציזם) זו החשיבות של חברה כמה שיותר הומוגנית, לשון אחר, אנחנו מתנגדים בתוקף לפלורליזם, לרב תרבותיות, רב גזעיות, ומדינת כל גזעיה אזרחיה וחוצניה.
<br>
זה כיוון שהמציאות הוכיחה שוב ושוב, שרבגוניות זו חולשה, ונקודת תורפה, ולא באמת עוצמה.
<br>
רב-תרבותיות/רב-גזעיות זה אומר סכסוכים, חוסר לכידות, חוסר אמון ושתוף פעולה בין אנשים, חברה חלשה מתוחה משוסעת ומפוררת, תחושה של חוסר הגנה חוסר בטחון, ופחות תחושת שייכות לעם ולמדינה ולכן גם פחות נכונות ורצון לתרום או להיות פטריוט, ועל כן פחות אלטרואיזם גם.
<br>
חברה שמורכבת מאנשים ששונים מאוד אחד מהשני, בערכים, במנטליות, בהשקפות, ובאינטליגנציה, זו חברה שבלתי אפשרי לכונן בה מבנה שלטוני שיתאים לכולם.
</p>
<p>
ההומוגניות שאליה אנחנו שואפים, זו קירבה גנטית גבוהה,  ומראה כמה שיותר דומה, למשל, אין בעיה להבדיל בין מראה של אפריקאי, מלוכסן, ושל אדם לבן, ולא במקרה גם המרחק הגנטי בינם הוא מאוד גדול.
<br>
כמובן שיש מקרים בטבע שבו שני גזעים שונים לחלוטין יכולים להראות מאוד דומה אחד לשני, למשל כמו פפואנים ואפריקאים, אבל מבחינת מרחק גנטית, הם יותר רחוקים אחד לשני מאשר נורבגי לכל אפריקאי.
<br>
חשוב לנו לא להיכחד, וכאשר מכניסים לנו יותר מדי מהגרים מגזעים אחרים, נישואי תערובת זה בלתי נמנע בסופו של דבר, ואז אנחנו נכחדים, הגזע והעם שלנו נכחד.
<br>
שזה כולל המראה החיצוני והגנטיקה.
</p>
<p>
ההבדל בין נאציזם ללאומנות, זו גם ההכרה במציאות גזעית, שבראש ובראשונה זו הכרה בכך שיש גזעים שונים של בני אדם, שזו עובדה ביולוגית ולא הבניה חברתית.
<br>
ו2 שיש הבדלים בין גזעים, גם במנטליות, ובאינטליגנציה, והשורש של זה הוא לפחות בחלקו אם לא בעיקרו גנטי וביולוגי.
<br>
דבר 3, זה אאוגניקה, שבני אדם יוצרים את האבולוציה של עצמם, ומשפרים את הגזע של עצמם, שאחת הדרכים הקיצוניות אבל אפקטיביות של אאוגניקה, זה לעקר(עיקור) אנשים שלא ראויים להתרבות, כמו אנשים בעלי נטייה מוגברת לאלימות ופשיעה, אנשים רפי שכל, אנשים מכוערים מדי וכו'
<br>
אם אפשר להוביל להשבחת הגזע במרוצת הדורות בדרך יותר מוסרית, אני פתוח לרעיונות.
</p>
<p>
אנחנו מתנגדים גם לסוציאליזם וגם לקפיטליזם, ובעד פשיזם
<br>
כיוון ששתי השיטות מובילות בסוף לאותה תוצאה של מדינת כל גזעיה אזרחיה וחוצניה.
<br>
הסוציאליזם שזו בעצם מילה מכובסת לקומוניזם, מעצם ההגדרה של קומוניזם מובילה לכך, ולכן אין טעם להרחיב בנושא.
<br>
במקרה של קפיטליזם, זה בגלל שלפעמים מעסיקים מעדיפים עובדים זרים כי זה יותר זול למשל.
<br>
חברה קפיטליסטית לא תאפשר השקעה בפרויקטים לאומים ארוכי טווח אם זו השקעה לא רווחית בטווח הקצר, ולכן לא מעודדת כלכלה עצמאית.
<br>
קפיטליזם גם סופו להפוך לסוציאליזם, ובעצם זה שני צדדים של אותו מטבע.
</p>
<p>
גזע מבחינתנו זה תנאי הכרחי, לא תנאי מספיק, ותרבות זה גם תנאי הכרחי, אבל לא תנאי מפסיק.
<br>
אנחנו מודעים לכך שאשכנזי, יהודי עיראקי, יהודי מרוקאי, יהודי טורקי לדוגמא יכולים להיות מסווגים לגזעים שונים אחד מהשני, אבל יחסית למלוכסנים, הודים, אפריקאים, ומקסיקנים למשל,  הם הרבה יותר קרובים גנטית אחד לשני, לכן ההחלטה מה נגדיר גזע יהודי ומה לא, היא במידה מסוימת תלויה בנו, אנחנו יכולים לקבוע סף של מרחק גנטי ופנוטיפי שצריך לעבור כדי להיות בתוך הקבוצה , ומי שלא עובר הוא מחוץ לקבוצה/לעם.
<br>
לעומת זאת, דרוזי ופלסטיני הם קרובים אלנו מאוד גנטית, אבל הם מוסלמים, יש להם תרבות שונה, והם עוינים אותנו, ולכן, אנחנו גם לא רוצים אותם כחלק מהעם שלנו.
<br>
אנחנו כמובן נגד נישואי תערובת, ובתור התחלה, רוצים שיהיה מוכר בחוק הזכות לחיות בישובים קהילתיים המבוססים גם על גזע לא רק על צביון, ושתהיה זכות דומה בהשכרת דירה, ובשוק התעסוקה.
<br>
אנחנו בעד הזכות של כל קבוצה להגדרה עצמית.
<br>
אנחנו לרוב אתאיסטים, נגד פמיניזם, אבל לא נגד שוויון הזדמנויות לנשים, רק נגד שוויון בתוצאות ואפליה לרעת גברים בשמות המכובסים השונים כמו העצמה נשית, העדפה מתקנת,  וכו', אמנם בתפקידי לחימה בצבא אנחנו מתנגדים לשוויון בצה"ל, ובפרט זה גם מקצועות שלא תלויים בכוח פיזי, כמו טיס או פיקוד
</p>
</li>
</ul>
