{%load static%}
<ul id="ulpages" class="txtcenter">
  <li>
    <div class="column">
    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle bluebg">האם הכושים יותר קרובים לקופי-אדם מאשר לבני אדם?</h3>
    </div>
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/negroesclosertoapes.mp4" type="video/mp4">
    </video>
    <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
      <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
    </div>
    <div class="vidandtitlecontainer bg blueglowbg"></div>
    </div>
</div>
  </li>
  <li>
    <div class="column">
    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle bluebg">במה מותר הכושי מהבהמה?</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/whatseperatenegrofromapes.mp4" type="video/mp4">
    </video>
    <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
      <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
    </div>
    </div>
    <div class="vidandtitlecontainer bg blueglowbg"></div>
    </div>
    </div>
  </li>

</ul>
