{%load static%}
<ul id="ulpages">
  <li class="txtcenter50 stopinheriting">
    <div class="column">
   <div class="column">
      <div class="row">
        <div class="rightcover"></div>
        <div class="hidtxt">הומו הביליס, הומיניד קדום,  נראה כמו כושי</div>
        <div class="horzmove stick blueglowclr"></div>
        <div class="leftcover"></div>
        </div>
      <img class="circ200" src="{{MEDIA_URL}}media/myvideos/ooamyth/homohabilislooknegro.jpg" alt="">
      <div class="horzmove reverse blueglowclr"></div>
    </div>
    <div class="spacevertically100"></div>



    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle bluebg">תאוריית היציאה מאפריקה הופרכה.
אבל עדין לא תשמעו על זה בתקשורת או בבתי הספר.</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/ooamyth/ooadebunk.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    <div class="vidandtitlecontainer bg blueglowbg"></div>
    </div>
   </div>
  </li>
</ul>
