{%load static%}
<ul id="ulpages">
  <li>
    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle bluebg">גזע זה הרבה יותר מרק צבע עור</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/raceismuchmorethanskindeep.mp4" type="video/mp4">
    </video>
    <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
      <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
    </div>
    </div>
    <div class="vidandtitlecontainer bg blue"></div>
    </div>

    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle redbg">גזע זו עובדה ביולוגית</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter noauto" controls>
      <source src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/raceisbiologicalfactjared.mp4" type="video/mp4">
    </video>
      <img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">
      <img class="playgifico" src="{%static 'images/play.gif'%}" alt="">
    </div>
    </div>
    <div class="vidandtitlecontainer bg red"></div>
    </div>


  </li>
</ul>
