{%load static%}
<ul id="ulpages" class="txtcenter50">
<li>
  <div class="column">
  <div class="vidandtitlecontainer">
  <div class = "ptitle bg">
    <h3 class = "ptitle bluebg">הבדלים בין כושים ללבנים באינטליגנציה</h3>
  </div>
  <div class="spoilervid">
    <div class="vidthumbicoholder">
  <video class="hidvidcenter" controls>
    <source src="{{MEDIA_URL}}media/myvideos/iqandrace/diffbetweenracesiqjared.mp4" type="video/mp4">
  </video>
  <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
    <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
  </div>
  </div>
  <div class="vidandtitlecontainer bg blue"></div>
  </div>

  <div class="blueglowclr">
      המחקר המקיף ביותר על גזעים ואינטליגנציה
      <br>
      גוגל עשה כל שביכולתו להסתיר את המחקר ממנוע החיפוש
      <br>
      ובמרכזי לימוד, לא תמצאו זכר למחקרו המקיף של פרופסור ריצ'ארד ליין
      <br>
    <span class="blueglowclr">לכן, אני כאן לשתף אתכם, את האמת שמסתירים ממכם ושאר הציבור</span>
      </div>
      <div class="flexrow">
      <span class="blueglowclr">בבקשה, שתפו עם כמה שיותר אנשים</span>

      <a href="{{MEDIA_URL}}media/myvideos/iqandrace/lynn-race-differences-in-intelligence.pdf" download>
      <div class="rowbutton movelefteffect blueglowbg flexrow hueeffect">
        <span class="caption">מחקרו של ריצ'אר ליין'</span>
        <img src="{%static 'images/richardlynn.jpg'%}" alt="">
        <img src="{%static 'images/pdf.png'%}" alt="">
      </div>
      </a>
  </div>
  </div>
</li>
</ul>
