{%load static%}

<ul id="ulpages" class="gapbottomlarge gaptop">
  <li>
    <span>בואו נדבר קצת עובדות, כדי להרגיע את כל הנקבות הסוטות הצבועות המתחסדות הזונות תשומת לב כאן, וגם זונות ליטרלי, הפנטזיה המינית מספר 1 של נשים זו פנטזיית האונס, וזו גם הקטגוריה הכי נצפית בפורנו על ידי נשים, כשליש מהנשים, מעל 30% מהן, צופות בפורנו באופן קבוע, בקטגוריות כמו גנג בנג, אנאלי, סרסור בנשים(נשים שעוסקות בזנות מכפיה), סקס קשוח, ואפילו קטגוריות סוטות חולות ומגעילות, כמו הומואים, או סקס בתוך המשפחה, וזו ממש רק רשימה חלקית, יש דברים אפילו יותר סוטים וחולים ממה שציינתי</span>
  <span>על פי מחקרים,  גילו, ש87% מהנשים חוות התרוממות מינית, או אורגזמה, כאשר הן נאנסות</span>
  <span>יש כאלו שיגידו שיש הבדל בין פנטזיה ומציאות, אבל אני אומר שלא, אין שום הבדל, הפנטזיה של נשים זה מה שהן אוהבות למרות שהן לא כנות לגבי זה ולא יהיו גם כנראה.</span>
  <span>נשים התפתחו אבולוציונית לאהוב זין,כי זו הדרך היחידה שהן יכולות להכנס להריון,זה יתרון אבולציוני עבור נשים לאהוב זין, כי אחרת בני אדם לא היו מתרבים</span>
  <span>גבר שאוהב זין לעומת זאת  זו סטייה נגד הטבע, כיוון שגבר לא נכנס להריון אם הוא מקבל זין , לכן גברים הומואים, הם dead end מבחינה אבולציונית</span>
  <img class="aricleimages" src="{{MEDIA_URL}}media/myvideos/feminism/rapemyth/femaleslikerape.jpg" alt="">
  <span>כל ההבדל בין אונס לסקס רגיל, זה שאונס נעשה לא בהסכמה כביכול(למרות שאנחנו יודעים שגם מה שנעשה בהסכמה היום נחשב אונס כל עוד זה לא כושי ולא מוסלמי זה שזיין)</span>
  <span>כלומר, אין שום הגיון, להרוס לגבר את החיים, לשלוח אותו לכלא במשך שנים, ולהתייחס לזה כאל עבירה כל כך חמורה, רק בגלל שכל ההבדל בין אונס לבין סקס רגיל, זה שהאחד נעשה בהסכמה והשני לא.</span>
  <span>עכשיו לכל הנקבות המתחסדות הזונות תשומת לב, ולכל ה"גברים" המוטציות המסורסים המזוכיסטים הקאקס הקוקסינלים או ההומואים המגעילים, שבעולם נורמלי היו מעקרים,  שבטח יגידו מה היה קורה אם נניח היו אונסים את אחותי, שאלו את עצמכם, מה היה קורה אם היו שולחים את אח שלכם להירקב שנים בכלא, עם ערבים, בדואים וכושים בתא מאסר, רק בגלל שלפי החוקים האשכנזים המעוותים החולים והשטניים, הוא עשה משהו שמוגדר כ"אונס", למרות שגם אם הוא אנס ממש, להכניס גבר לכלא בגלל שהוא אנס, זה יותר קיצוני מלכרות למישהו יד בגלל שהוא גנב, וזה בהנחה שהוא אנס אונס קלאסי, רוב המוחלט של הגברים הלבנים שנשלחו לכלא על אונס, לא באמת אנסו, זה נחשב אונס רק לפי החוקים המעוותים החולים והמתועבים של העכברושים האשכנזים הסוטים והשטניים הרקובים המלוכלכים המטונפים והשפלים.</span>
  <span>עכשיו למרות כל מה שרשמתי, אני מסכים שבחברה בריאה, לא אמור להיות בה את תת-תרבות הפיק אפ, ובטח שלא אונס כמו שהכושונים והמוסלמים אונסים את הנשים שלנו, ואין מי שימצא אתם את הדין, ואת התקשורת האשכנזית השטנית זה לא מעניין בכלל. הם עושים דרמה מאיזה בחור ערס מפגר שזיין נערה בת 13 בהסכמה שהגיעה אליו לדירה, כאלו מינמום פיגוע התאומים, אפילו אם הוא היה פורץ לה לדירה ואונס אותה עם סכין, עדין זה חסר פרופרוציות לתת לזה סיקור תקשורתי כל כך נרחב, בזמן שכל כמה דקות יש מקרים הרבה יותר קשים של חוצנים. חייזרים מאפריקה שרוצחים ואונסים את הנשים שלנו, נשים לא מהעם ולא מהגזע שלהם, אונס הרבה יותר קשה, מלווה באלימות קשה, על זה התקשורת של האשכנזים מכוערי הנפש השטנייים הרקובים הגועליים והשפלים לחלוטין מתעלמת ובכוונות זדון.</span>

 <div class="rowmedia aricleimages stopinheriting smallgap smallspace">
   <div class="abscontainer blueglowclr">
     <span>כאן תאגיד השידור האשכנזי</span>
     <span>אישה בת 40 קרבן של שליחת דיק פיק אכזרי בניגוד לרצונה באינטרנט</span>
   </div>
   <img src="{{MEDIA_URL}}media/myvideos/feminism/rapemyth/parodyonrape.jpg" alt="">
 </div>

  <span>לכן כדי לחזור להיות חברה בריאה ושפויה, נקייה מאונס, חייבים להתקיים 2 דברים</span>
  <span></span>
  <span>1)להעיף מהמדינה  את כל האפריקאים,  המוסלמים, המלוכסנים, ההודים, הדרום אמריקאים, האשכנזים, וגם להעיף את כל הגברים ההומואים, המזוכיסטים, הקוקסינלים, והחסרי גבריות, וגם את הנשים  הבוצ'ות והפמיניסטיות הרעילות.</span>
  <span></span>
  <span>2)להפוך סקס מחוץ לנישואין ללא חוקי, ולהגדיר כללי צניעות בסיסים(אבל לא קיצוניים כמו של המוסלמים התתי-אדם), אי אפשר לדרוש מגברים לא להתחיל עם נשים, בזמן שיש שחרור מיני לנשים, גבר זה לא בול עץ,  נקבות חייבות להפסיק עם הגישה הזו שרק בגלל שהן נקבות, אז מגיע להן הכל, מותר להן להיות שרמוטות ולהתלבש כמו שרמוטות ולהתנהג כמו שרמוטות, אבל הגבר עדין צריך לשמור על הזין שלו עם מנעול ולהיות מסורס. זה לא עובד ככה, שני הצדדים חייבים לעשות פשרה.</span>

  </li>


  <li>
<p>
    <span>לא אמרתי שאונס זו אינה עבירה שיש להעניש עליה</span>
  <span>אמרתי שזו עבירה רק לא חמורה כמו שעשו ממנה</span>
  <span>בנוסף, אני אומר שבניגוד לסלוגן שהאשכנזים המציאו ש "אונס זה אונס זה אונס", אני טוען שלא כל עברות האונס שוות.</span>
  <span>לפי החוקים שהכתיבו האשכנזים, כל דבר כמעט יכול להיחשב אונס בפוטנציה, עדין, "יחסי מין במרמה", "יחסי מרות", "מישהי שנזכרה בדקה ה90 להגיד די מספיק והגבר התעלם" וכו' הן לא אמורות להיות שקולות לאיזה סודני שקפץ על מישהי משום מקום, ואנס אותה באיומי סכין.</span>
  <span>אני גם דוגל בכך, שזה משנה מי מבצע העבירה, לא רק סוג העבירה.</span>
  <span>למשל, במקרה שבעל אונס את אשתו, לא צריך להיות אותו דין כמו אדם זר שאנס אישה שהוא לא מכיר.</span>

  <span>ואדם מגזע אחר או מעם אחר, שאונס אישה לא מהגזע או לא מהעם שלו, זה הרבה יותר חמור בעיני מאדם שאנס אישה מהגזע והעם שלו.</span>
<img class="aricleimages" src="{{MEDIA_URL}}media/myvideos/feminism/rapemyth/whywomenhaterape.jpg" alt="">



</p>
<p>
    <span>אפילו אם מדובר באותן סוג עבירות, בפועל מערכת ה"צדק" האשכנזית פועלת הפוך מהשכל הישר והבריא, על חוצניים חייזרים , פולשים, אוייבים, שלא אמורים להיות פה, ואנסו נשים לא מהעם ולא מהגזע שלהם, היא מקלה עליהם בעונש, ומטייחת ומצנזרת את אותם מקרים, מעלימה אותם, אפילו שהם ביצעו עבירות אונס הרבה יותר חמורות, ממה שאדם לבן בדרך כלל מורשע עליו.</span>
  <span>חוקים הם לא ערך עליון,  לפי חוקי השריעה של המוסלמים צריך לכרות יד למי שגנב, אז ההתייחסות לאונס כאל עבירה ששקולה לרצח, שמצדיקה עונש בהתאם, זה לא פחות קיצוני מלכרות למישהו יד על זה שגנב.</span>
  <span>מי שמכתיבים את החוקים האלו זה רק אשכנזים, לכן החוקים פושעים, בדיוק כמו מי שכתב אותם. מי שכתב את החוקים הם יותר גרועים מכל אנס וכל רוצח אפילו.</span>
  <div class="rel aricleimages stopinheriting smallspace smallinnerspace leftmost">
    <div class="cube borderredright borderredtop"></div>
    <div class="cube borderredleft borderredtop"></div>
    <div class="cube borderredright borderredbottom"></div>
    <div class="cube borderredleft borderredbottom"></div>

    <div class="quote">
     <div class="content notdefaultfont smallfont blueglowclr">
      <span>המטרה בכל החוקים ההזויים האלו נגד עבירות מין</span>
  <span>שהאשכנזים השטניים, הרקובים, הגועלים, המבחילים, הדוחים,</span>
  <span>מכוערי הנפש, השפלים, התתי-אדם המציאו(שמגדירות כל דבר כעבירת מין או אונס בפוטנציה) ,</span>
  <span>זה כדי שנהיה כל כך מסורסים, שלא נוכל לחזר אחרי נשים, ונתרבה פחות עד שנכחד</span>
  <span>כדי שכל האפריקאים, המלוכסנים או המוסלמים שהם מציפים אותנו בהם,  יחליפו אותנו</span>
  <span>פמיניזם זה רע לנשים ולגברים באותה מידה, זה טוב רק לאוייבים שלנו ולפולשים שנמצאים במדינה בגלל האשכנזים</span>
  <span>לכן פמיניזם = רצח עם</span>
 </div>
  <div class="bgCover blue"></div>
</div>
</div>

  <span>לא יתכן שסקס בהסכמה זה דבר שמענג נשים ברוב המקרים, אבל סקס בכפיה זה פתאום טראומה לכל החיים ודבר שמצדיק להרוס לאותו אנס/גבר את החיים במיוחד שכל דבר היום יכול להחשיב כאונס.</span>
  <span>בואו נניח הרוב אלו לא תלונות שווא, אז? זה שמשהו חוקי לא בהכרח עושה אותו ללגיטימי, ישראל היא דיקטטורה של אשכנזים בבג"ץ, מי שמכתיב את החוקים במדינה זה רק אשכנזים ובעריצות מוחלטת(ישראל/אשכנזיסטן זה לא דמוקרטיה זה שקר!), ולפי החוקים שלהם כל דבר כמעט נחשב אונס או עלול להחשב כאונס בפוטנציה, וגם אם היה מדובר באונס ממש,  לשלוח גבר להירקב כל החיים בכלא זה הרבה יותר קיצוני מלכרות יד למי שגנב</span>
  <span>כי הרי באונס אין פגיעה גופנית, יש רק פגיעה בנפש, אז מה הופך את זה הרבה יותר חמור מהתעללות נפשית</span>
  <span>במיוחד לנוכח העובדה שההבדל היחיד בין אונס לסקס רגיל זה שהאחד בהסכמה והשני לא, כלומר רק בגלל שזה נעשה בנסיבות מעט שונות, למשל לא עם הגבר הכי אטרקטיבי, לא אנס אותה כמו שהיא אוהבת, פתאום זה הופך מספורט רגיל שרוב הנשים עושות מיוזמתן ורצונן החופשי באופן קבוע, לטראומה לכל החיים</span>
  <span>הנה כמה עובדות יבשות, אונס היא הפנטזיה המינית מספר 1 של נשים, אחת הקטגוריות הפורנוגרפיות הכי נצפית על ידי נשים, לפי מחקרים 87% מהנשים חוו התרוממות מינית(אורגזמה) בשעת האונס</span>
</p>
  </li>
<li>
  <div class="column">
  <div class="vidandtitlecontainer verytall">
      <img class="imgtitle" src="{%static 'images/doublepanteration.jpg'%}" alt="">
  <div class = "ptitle bg">

    <h3 class = "ptitle bluebg">בואו ננפץ את מיתוס האונס - man, don't put up with her shit</h3>
  </div>
  <div class="spoilervid">
    <div class="vidthumbicoholder">
  <video class="hidvidcenter" controls>
    <source src="{{MEDIA_URL}}media/myvideos/feminism/rapemyth/mandontputwithhershit.mp4" type="video/mp4">
  </video>
  </div>
  </div>
  <div class="vidandtitlecontainer bg blue"></div>
  </div>
  </div>
  <!--<li class="abscontainer move25toleft">
    <div class="vidandtitlecontainer verytall">
        <img class="imgtitle" src="{%static 'images/doublepanteration.jpg'%}" alt="">
    <div class = "ptitle bg">

      <h3 class = "ptitle bluebg">בואו ננפץ את מיתוס האונס - man, don't put up with her shit</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/feminism/rapemyth/mandontputwithhershit.mp4" type="video/mp4">
    </video>
    </div>
    </div>
    <div class="vidandtitlecontainer bg blue"></div>
    </div>-->
  </li>

  <li class="txtcenter50">
    <br>
    <br>
    <div class="column">
    <div class="abscontainer stopinheriting smallgap">
    <div class="abscontainer blueglowclr">
      <div class="abscontainer move50toleft gapbottom stopinheriting">
        <span class="subtitle redglowclr">חומר למחשבה</span>
      </div>
      <br>
      <br>
      <br>
      <div class="regularfont gapbottom">


    <span>כמה נשים נרצחו ונאנסו על ידי אותם אשכנזים בירוקרטים פמיניסטים בשם הפלורליזם וקבלת השונה, וערכים האשכנזו-אוניברסלים שלהם</span>
   <span>בגלל שהם הכניסו לפה המון אפריקאים ובדואים ומוסלמים</span>
   <span>זה 1 מתוך 1 עברו פגיעה מינית מאיזה סודני או מוסלמי, אבל הפמיניזם כאידיאולוגיה קומוניסטית לא עושה אבחנה בין גזע ולאום, היא מחלקת את העולם ל2 מגדרים, במקום לגזעים ולאומים, כי גברים ונשים לא יכולים להילחם אחד בשני, הם צריכים זה את זו כדי להתרבות. לעומת זאת, עמים שונים וגזעים שונים באופן טבעי תמיד נלחמים והורגים אחד את השני.</span>
  <span>ואז נוצרת לך אחוות גברים נגד אחוות נשים, וזה מה שהאשכנזים הקומוניסטים שמושכים בחוטים רוצים, שגברים כושים, סינים, ולבנים, יהיו חברים אחד של השני רק בגלל שהם גברים, ושנשים כושיות, סיניות, ולבנות יהיו חברות אחת של השנייה רק בגלל שהן נשים.</span>
  <span>כלומר מרוב שגברים ונשים כמו מטומטמים עסוקים בלריב אחד עם השניה, אנחנו לא שמים לב שמבצעים את רצח העם שלנו עם פולשים</span>
   </div>
  </div>
  </div>
  </div>
  </li>

</ul>
