{%load static%}
{%csrf_token%}
<ul id="ulpages" class="stopinheriting">
  <li>
    <div class="column">
    <span class="subtitle verybold blueglowclr">לא אכפת לנו אם הם חוקיים או פליטים</span>
    <span class="subtitle verybold blueglowclr">צאו לנו מהמדינה</span>
    <video class="vid txtcenter50" poster="{%static 'images/wedontcareiftheyarerefugee.jpg'%}" controls>
      <source src="{{MEDIA_URL}}media/myvideos/bemoreracist/doesntmatterifrefugee.mp4" type="video/mp4">
    </video>
    </div>
</li>
</ul>
