{%load static%}
<ul id="ulpage" class="txtcenter">
  <li>
    <div class="column">
    <div class="vidandtitlecontainer">
    <div class = "ptitle bg">
      <h3 class = "ptitle blackbg">כושים הם לא בני אדם, כך טוענת אנתרופולוגית</h3>
    </div>
    <div class="spoilervid">
      <div class="vidthumbicoholder">
    <video class="hidvidcenter" controls>
      <source src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/negroesainthumans.mp4" type="video/mp4">
    </video>
    <!--<img class="centerfootage" src="{{MEDIA_URL}}media/myvideos/raceisbiologicalfact/mursitribe.jpg" alt="">-->
      <!--<img class="playgifico" src="{%static 'images/play.gif'%}" alt="">-->
    </div>
    </div>
    <div class="vidandtitlecontainer bg black"></div>
    </div>
  </div>
  </li>
</ul>
