{%load static%}
{%csrf_token%}
<ul id="ulpages" class="stopinheriting">
  <li>
    <div class="column">
    <span class="mediumfont txtcenter blueglowclr">ארגונים אשכנזים פעלו למען זכותם של עשרות אלפי ערבושים להציף את ישראל</span>
    <video class="vid txtcenter"  controls>
      <source src="{{MEDIA_URL}}media/myvideos/ashkenazim/refugee/ashkorganizationsarabsreturn.mp4" type="video/mp4">
    </video>
    </div>
</li>
<li>
  <div class="column">
  <span class="mediumfont txtcenter blueglowclr">ראש עיר אשכנזי שטני מבצע שואה ליהודים המזרחים ביפו</span>
  <video class="vid txtcenter"  controls>
    <source src="{{MEDIA_URL}}media/myvideos/ashkenazim/refugee/satanicashkenazimajor.mp4" type="video/mp4">
  </video>
  </div>
</li>

<li>
  <div class="column">
  <span class="mediumfont txtcenter blueglowclr">מפגש אפל של אשכנזים אליטיסטים בבית ציוני אמריקה</span>
  <video class="vid txtcenter"  controls>
    <source src="{{MEDIA_URL}}media/myvideos/ashkenazim/refugee/darkmeeting.mp4" type="video/mp4">
  </video>
  </div>
</li>
<li>
  <table class="tbl">
    <tbody>
     <tr>
       <td class="redglowclr mediumfont txtcenter">
         <p>
           <span>זכרו את שמם של האשכנזים השפלים, המתועבים, המרצחים,</span>
           <span>הנאלחים, המטונפים, השטניים, המסואבים והפושעים:</span>
           <span>א"ב יהושע, אורלי קסטל בלום, מאיר שלו,</span>
           <span>יהושע סובול, עמוס עוז, אגי משעול,</span>
           <span>אתגר קרת, צרויה שלו ודויד גרוסמן</span>
         </p>
       </td>
       <td><img src="{{MEDIA_URL}}media/myvideos/ashkenazim/refugee/ashkenazimsupportrefugee.jpg" alt=""></td>
     </tr>
     <tr>
       <td class="redglowclr mediumfont txtcenter">
       <p>
         <span>רשימה של קייקים אשכנזים נאלחים ומסואבים (ושני משת"פים מזרחים)</span>
         <span>שרוצים להציף את המדינה שלנו בפולשים שחורים מתוך כוונות "הומאניות".</span>
         <span>יש לקחת בחשבון כי אשכנזים טהורי גזע מהווים פחות מ-5% מאוכלוסיית המדינה,</span>
         <span>אך הם הרוב המכריע ביותר של הבוגדים השפלים</span>

       </p>
       </td>
       <td><img src="{{MEDIA_URL}}media/myvideos/ashkenazim/refugee/ashkenazimsupportrefugee2.jpg" alt=""></td>
     </tr>
    </tbody>
  </table>
</li>
</ul>
